<template>
  <layout>
    <div class="container-fluid">
      <!-- ============================================================== -->
      <!-- Bread crumb and right sidebar toggle -->
      <!-- ============================================================== -->
      <div class="row page-titles">
        <div class="col-md-5 align-self-center">
          <h4 class="text-themecolor">Inquiry</h4>
        </div>
        <div class="col-md-7 align-self-center text-right">
          <div class="d-flex justify-content-end align-items-center">
            <!-- <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                                <li class="breadcrumb-item active">Dashboard 4</li>
                            </ol> -->
            <!-- <button type="button" class="btn btn-info d-none d-lg-block m-l-15">
              <i class="fa fa-plus-circle"></i> Add New Inquiry
            </button> -->
          </div>
        </div>
      </div>

      <div class="row">
        <!-- Column -->
        <div class="col-lg-12 col-md-12">
          <form-section @submitted="submit()">
            <template #title>Personal Info</template>
            <template #subtitle> <code>*</code> Required </template>
            <template #form>
              <div class="row">
                <form-input
                  :type="'text'"
                  :lable="'Contact Number'"
                  :placeholder="'Contact Number'"
                  v-model="form.first_name"
                  :customclass="''"
                  :error="form.errors.first_name"
                  :rowclass="'col-sm-12 col-md-4'"
                  :required="true"
                />
                <form-input
                  :type="'text'"
                  :lable="'Customer Name'"
                  :placeholder="'Customer Name'"
                  v-model="form.first_name"
                  :customclass="''"
                  :error="form.errors.first_name"
                  :rowclass="'col-sm-12 col-md-8'"
                  :required="true"
                />
                <form-input
                  :type="'text'"
                  :lable="'Address Line 1'"
                  :placeholder="'Address Line 1'"
                  v-model="form.first_name"
                  :customclass="''"
                  :error="form.errors.first_name"
                  :rowclass="'col-sm-12 col-md-6'"
                  :required="true"
                />
                <form-input
                  :type="'text'"
                  :lable="'Address Line 2'"
                  :placeholder="'Address Line 2'"
                  v-model="form.first_name"
                  :customclass="''"
                  :error="form.errors.first_name"
                  :rowclass="'col-sm-12 col-md-6'"
                  :required="true"
                />
                <form-input
                  :type="'text'"
                  :lable="'City'"
                  :placeholder="'City'"
                  v-model="form.first_name"
                  :customclass="''"
                  :error="form.errors.first_name"
                  :rowclass="'col-sm-12 col-md-4'"
                  :required="true"
                />
              </div>
              <br />
              <h5 class="card-title">Order Info</h5>
              <hr />
              <div class="row">
                <div class="col-6">
                  <div id="the-basics">
                    <input
                      class="typeahead form-control"
                      type="text"
                      placeholder="Search & Add Products"
                    />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <div class="card">
                    <div class="card-body">
                      <div class="table-responsive">
                        <table class="table">
                          <thead>
                            <tr>
                              <th>#</th>
                              <th>Item</th>
                              <th>Unit Price</th>
                              <th>Quantity</th>
                              <th>Subtotal</th>
                              <th>Action</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>1</td>
                              <td>Product 1</td>
                              <td>10</td>
                              <td>10</td>
                              <td>
                                100
                              </td>
                              <td>
                                  <button class="btn btn-sm btn-danger">Remove</button>
                              </td>
                            </tr>
                            <tr>
                              <td>1</td>
                              <td>Product 2</td>
                              <td>10</td>
                              <td>10</td>
                              <td>
                                100
                              </td>
                              <td>
                                  <button class="btn btn-sm btn-danger">Remove</button>
                              </td>
                            </tr>
                            <tr>
                              <td>1</td>
                              <td>Product 3</td>
                              <td>10</td>
                              <td>10</td>
                              <td>
                                100
                              </td>
                              <td>
                                  <button class="btn btn-sm btn-danger">Remove</button>
                              </td>
                            </tr>
                             <tr>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                  <th>
                                   300
                                  </th>
                                  <td></td>
                              </tr>

                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                   <form-input
                  :type="'date'"
                  :lable="'Dispatch Date'"
                  :placeholder="'Dispatch Date'"
                  v-model="form.first_name"
                  :customclass="''"
                  :error="form.errors.first_name"
                  :rowclass="'col-sm-12 col-md-3'"
                  :required="true"
                />
                <div class="form-group col-4">
                    <label for="">Status</label> <br>
                    <select class="form-control " name="" id="">
                    <option value="">ORDERED</option>
                    <option value="">INQUIRY</option>
                </select>
                </div>
              </div>

              <br />
            </template>

            <template #actions>
              <button
                type="submit"
                class="btn btn-primary"
                :disabled="form.processing"
              >
                <span
                  v-if="form.processing"
                  class="spinner-border spinner-border-sm"
                  role="status"
                  aria-hidden="true"
                ></span>
                <span v-if="form.processing">Loding...</span>
                <span v-else>Submit</span>
              </button>
              <button
                type="button"
                @click="resetFrom()"
                class="btn btn-inverse"
              >
                Cancel
              </button>
            </template>
          </form-section>
        </div>
        <!-- Column -->
      </div>

      <right-side-bar />
    </div>
  </layout>
</template>

<!-- Typehead Plugin JavaScript -->
<script src="../assets/node_modules/typeahead.js-master/dist/typeahead.bundle.min.js"></script>
<script src="../assets/node_modules/typeahead.js-master/typeahead.init.js"></script>
<script>
import Layout from "@/Layouts/Layout";
import RightSideBar from "@/Layouts/partial/RightSideBar";
import FormSection from "@/components/FormSection";
import FormInput from "@/components/FormControl/Input";

export default {
  components: {
    Layout,
    RightSideBar,
    FormSection,
    FormInput,
  },

  props: {
    errors: {
      type: Object,
      required: false,
    },
    edituser: {
      type: Object,
      required: false,
    },
  },

  data() {
    return {
      form: this.$inertia.form({
        id: null,
        first_name: "",
        last_name: "",
        username: "",
        email: "",
        password: "",
        password_confirmation: "",
        mobile: "",
      }),
    };
  },
  mounted() {
    if (this.edituser != null) {
      this.form.id = this.edituser.id;
      this.form.first_name = this.edituser.first_name;
      this.form.last_name = this.edituser.last_name;
      this.form.username = this.edituser.username;
      this.form.email = this.edituser.email;
      this.form.mobile = this.edituser.mobile;
    }
  },
  methods: {
    submit() {
      if (this.form.id != null) {
        return this.update();
      } else {
        return this.store();
      }
    },
    store() {
      this.form.post(route("user.store"), {
        // errorBag: 'submit',
        preserveScroll: true,
        onSuccess: () => {
          this.form.reset();
          this.$swal({
            toast: true,
            title: "Transaction successfully!",
            // text : 'Please check the details that you provided!',
            icon: "success",
            position: "top-end",
            timer: 3000,
            timerProgressBar: true,
          });
        },
        onError: () => {
          this.$swal({
            toast: true,
            title: "Something went wrong!",
            // text : 'Please check the details that you provided!',
            icon: "error",
            position: "top-end",
            timer: 3000,
            timerProgressBar: true,
          });

          if (this.form.errors.password) {
            this.form.reset("password", "password_confirmation");
            this.$refs.password.focus();
          }

          if (this.form.errors.current_password) {
            this.form.reset("current_password");
            this.$refs.current_password.focus();
          }
        },
      });
    },
    update() {
      this.form.put(route("user.update"), {
        // errorBag: 'submit',
        preserveScroll: true,
        onSuccess: () => {
          this.form.reset();
          this.$swal({
            toast: true,
            title: "Transaction successfully!",
            // text : 'Please check the details that you provided!',
            icon: "success",
            position: "top-end",
            timer: 3000,
            timerProgressBar: true,
          });
        },
        onError: () => {
          this.$swal({
            toast: true,
            title: "Something went wrong!",
            // text : 'Please check the details that you provided!',
            icon: "error",
            position: "top-end",
            timer: 3000,
            timerProgressBar: true,
          });

          if (this.form.errors.password) {
            this.form.reset("password", "password_confirmation");
            this.$refs.password.focus();
          }

          if (this.form.errors.current_password) {
            this.form.reset("current_password");
            this.$refs.current_password.focus();
          }
        },
      });
    },
    resetFrom() {
      this.form.reset();
      this.form.errors = {};
    },
  },
};
</script>
