<template>
  <layout>
    <div class="container-fluid">
      <!-- ============================================================== -->
      <!-- Bread crumb and right sidebar toggle -->
      <!-- ============================================================== -->
      <div class="row page-titles">
        <div class="col-md-5 align-self-center">
          <h4 class="text-themecolor">Inquiries</h4>
        </div>
        <div class="col-md-7 align-self-center text-right">
          <div class="d-flex justify-content-end align-items-center">
            <!-- <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                                <li class="breadcrumb-item active">Dashboard 4</li>
                            </ol> -->
            <!-- <inertia-link v-if="$root.hasPermission('users.add')" :href="route('user.create')" class="btn btn-info d-none d-lg-block m-l-15"><i class="fa fa-plus-circle"></i> Add New User</inertia-link> -->
          </div>
        </div>
      </div>
      <div class="row">
        <!-- Column -->
        <div class="col-lg-12 col-md-12">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">
                 Inquiries
              </h5>
              <div class="row">
                <div class="col-sm-12">
                  <div class="table-responsive">
                    <data-table
                      ref="datatable"
                      :id="'mytable'"
                      :url="'/inquiry/getdata/' "
                      :columns="columns"
                      :columnDefs="columnDefs"
                      :buttons="table_buttons"
                    >
                      <template #header>
                        <tr>
                          <th width="5%">Action</th>
                          <th width="10%">ID</th>
                          <th>Customer Name</th>
                          <!-- <th>Order Summery</th> -->
                          <th>Order Total</th>
                          <th>Ordered Date</th>
                          <th>Delivery Date</th>
                          <!-- <th>Rating</th> -->
                          <th>Status</th>
                        </tr>
                      </template>
                    </data-table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Column -->
      </div>

      <!-- <right-side-bar/> -->
    </div>
  </layout>
</template>


<script>
import Layout from "@/Layouts/Layout";
import DataTable from "@/components/Datatable";
import OrderDetailModel from "@/Pages/Order/OrderDetailModel";
import axios from "axios";
export default {
  components: {
    Layout,
    DataTable,
    OrderDetailModel,
  },

  props: ["table_buttons", "status"],
  mounted() {
    // console.log(this.data_table_route);
    $("#mytable tbody").on("click", "tr .action_view", (evt) => {
      const data = $(evt.target).data("orderId");
      const status = $(evt.target).data("status");
      this.viewOrder(data,this.status);
    });
  },

  data() {
    return {
      order_details:null,
      columns: [
        { data: "action", name: "action", orderable: false, searchable: false },
        { data: "id", name: "id", orderable: true },
        { data: "customer_name", name: "customer_name", orderable: true },
        { data: "order_total", name: "order_total", orderable: true },
        { data: "order_date", name: "order_date", orderable: true },
        { data: "deliver_date", name: "deliver_date", orderable: true },
        // { data: 'delivered_date', name: 'delivered_date', orderable: true },
        { data: "status", name: "status", orderable: false, searchable: false },
      ],
      columnDefs: [
        // { className: "text-center", "targets": [0,1,6,7,8] },
      ],
      order: [[1, "desc"]],

      form: this.$inertia.form({
        id: "",
      }),
    };
  },
  methods: {
    reloadTable() {
      this.$refs.datatable.reloadDatatable();
    },
    viewOrder(id,status) {
     
    },
  },
};
</script>
