<template>
  <div>
  
    <div class="row">

       
            <div v-for="(count_row,index) in count_list" :key="index" class="col-lg-3 col-md-6">
              <a href="#">
                  <div class="card">
                      <div class="card-body">
                          <div class="d-flex flex-row">
                              <div :class="count_row.class"><i :class="count_row.icon"></i></div>
                              <div class="m-l-10 align-self-center">
                                  <h3 class="m-b-0">{{count_row.count}}</h3>
                                  <h5 class="text-muted m-b-0">{{count_row.title}}</h5></div>
                          </div>
                      </div>
                  </div>
                </a>
            </div>                 

    </div>
  </div>
</template>

<script>

export default {
  props: ["count_list"],
   

  data(){
      return {

      }
  },
};
</script>

<style>
</style>
