<template>
  <div>
    <div class="row">
      <div class="col-md-12">
        <div class="btn-group float-right" data-toggle="buttons" role="group">
          <label class="btn btn-outline btn-info active btn-sm">
            <div class="custom-control custom-radio">
              <input
                type="radio"
                id="customRadio1"
                name="options"
                value="asas"
                @click="selected_filter = 'month'"
                class="custom-control-input"
              />
              <label class="custom-control-label" for="customRadio1">
                <i class="ti-check text-active" aria-hidden="true"></i> This
                Month</label
              >
            </div>
          </label>
          <!-- <label class="btn btn-outline btn-info btn-sm">
            <div class="custom-control custom-radio">
              <input
                type="radio"
                id="customRadio2"
                name="options"
                value="female"
                @click="selected_filter = 'year'"
                class="custom-control-input"
              />
              <label class="custom-control-label" for="customRadio2">
                <i class="ti-check text-active" aria-hidden="true"></i> This
                Year</label
              >
            </div>
          </label> -->
          <!-- <label class="btn btn-outline btn-info btn-sm">
            <div class="custom-control custom-radio">
              <input
                type="radio"
                id="customRadio3"
                name="options"
                value="n/a"
                @click="selected_filter = 'all'"
                class="custom-control-input"
              />
              <label class="custom-control-label" for="customRadio3">
                <i class="ti-check text-active" aria-hidden="true"></i> All
              </label>
            </div>
          </label> -->
          <label class="btn btn-outline btn-info btn-sm">
            <div class="custom-control custom-radio">
              <input
                type="radio"
                id="customRadio3"
                name="options"
                value="n/a"
                checked="checked"
                @click="selected_filter = null"
                class="custom-control-input"
              />
              <label class="custom-control-label" for="customRadio3">
                <i class="ti-check text-active" aria-hidden="true"></i> Today
              </label>
            </div>
          </label>
        </div>
      </div>
    </div>

    <div class="row">

        <SingleWidget
        :status="'INQUIRY'"
        :label="' INQUIRIES'"
        :selected_filter="selected_filter"
        :bg="'bg-primary'"
        ></SingleWidget>

        <SingleWidget
        :status="'NEW'"
        :label="' ORDERES'"
        :selected_filter="selected_filter"
        :bg="'bg-danger'"
        ></SingleWidget>

        <SingleWidget
        :status="'DISPATCHED'"
        :label="' DISPATCHED'"
        :selected_filter="selected_filter"
        :bg="'bg-info'"
        ></SingleWidget>

        <SingleWidget
        :status="'DELIVERED'"
        :label="' DELIVERED'"
        :selected_filter="selected_filter"
        :bg="'bg-warning'"
        ></SingleWidget>

        <SingleWidget
        :status="'COMPLETED'"
        :label="'CONFIRMED DELIVERY'"
        :selected_filter="selected_filter"
        :bg="'bg-purple'"
        ></SingleWidget>

        <div class="col-lg-4">
        <div class="card text-white bg-warning" style="height: 150px">
          <div class="card-body">
            <h4 class="card-title">  TO BE DISPATCHED </h4>
            <div class="d-flex flex-row">

              <div  class="p-10 p-l-0 b-r">
                <h4 class="font-light">TOTAL</h4>
                <b><h3> {{to_be_dispacthed_total}} </h3></b>
              </div>

            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</template>

<script>
import SingleWidget from './SingleWidget'

export default {
  props: ["all_orders", "to_be_dispacthed_total"],

  components: {SingleWidget},

  data(){
      return {
          selected_filter: null,
      }
  },
};
</script>

<style>
</style>
