<template>
  <div class="col-lg-4">
        <div class="card text-white" :class="bg" style="height: 150px">
          <div class="card-body">
            <h4 class="card-title">{{label}}</h4>
            <div class="d-flex flex-row">

              <div v-if="selected_filter == 'month' || selected_filter == 'all' " class="p-10 p-l-0 b-r">
                <h4 class="font-light">This Month</h4>
                <b><h3> {{count_this_month}} </h3></b>
              </div>

              <!-- <div v-if="selected_filter == 'year' || selected_filter == 'all' " class="p-10 b-r">
                <h4 class="font-light">This Year</h4>
                <b> <h3> {{count_this_year}} </h3> </b>
              </div> -->

              <div class="p-10">
                <h4 class="font-light">Today</h4>
                <b><h3> {{count_today}} </h3></b>
              </div>

            </div>
          </div>
        </div>
      </div>
</template>

<script>
import axios from 'axios'
export default {
    props: ['label', 'status', 'selected_filter', 'bg'],

    data(){
        return{
            count_today : null,
            count_this_month : null,
            count_this_year : null,
        }
    },

    created(){
        this.getData()
    },

    methods: {
        getData(){
            axios.post(route('get.data.dashboard.widget'), {
                status: this.status
            })
            .then(res => {
                // console.log(res);
                this.count_today = res.data.count_today
                this.count_this_month = res.data.count_this_month
                this.count_this_year = res.data.count_this_year

            })
        }
    },
}
</script>

<style>

</style>
