
<template>
    <div class="form-group row" style="margin: 2px 2px">
        <label class="control-label text-right col-md-3"> {{ label }} </label>
        <div class="col-md-9">
            <input
            @input="$emit('input', $event.target.value)"
            :type="type" class="form-control" :placeholder="label" :value="value" :id="id">
            <small v-if="error" class="form-control-feedback text-danger"> {{ error }} </small>
        </div>
    </div>
</template>

<script>
export default {
    props: ['label', 'type', 'error', 'value','id']
}
</script>

<style>

</style>

