
<template>
    <div class="" style="margin: 2px 2px">         
            <input
            @input="$emit('input', $event.target.value)"
            :type="type" class="form-control" :maxlength="maxlength" :placeholder="label" :value="value" :id="id">
            <small v-if="error" class="form-control-feedback text-danger"> {{ error }} </small>       
    </div>
</template>

<script>
export default {
    props: ['label', 'type', 'error', 'value','id','maxlength']
}
</script>

<style>

</style>