<template>
  <div>

    <div class="form-group">
      <label for="">Image</label> <code v-if="required" >*</code> <br />
      <input type="file" @change="set_img" id="img_input" />
      <button
        type="button"
        @click="remove_selected_image"
        class="d-none btn btn-danger btn-sm float-right"
        id="remove_selected_img_btn"
        title="Remove File"
      >
        Remove File
      </button>
      <div class="text-danger" v-if="errors">
        {{ errors }}
      </div>
    </div>

    <div class="row justify-content-center">
      <img src="" alt="" width="300" id="selected_image" />
    </div>

  </div>
</template>

<script>
import {MyFunctions} from '@/myFunctions.js'

export default {
    props: ['errors', 'required', 'parentForm'],

    methods: {
        set_img(e){
                this.$emit('hidePrevImg', false)
                this.parentForm.img = e.target.files[0]
                MyFunctions.show_and_remove_img_input(e)
            },

        remove_selected_image(){
            MyFunctions.remove_selected_image()
        },
    },
};

</script>

