<template>
    <div class="form-group">
        <label for=""> {{label}} </label>
        <select  
        @input="$emit('input', $event.target.value)"
        class="form-control">
        <option value="">SELECT</option>

        <slot></slot>

        </select>
        <span v-if="error" class="text-danger">{{error}}</span>
    </div>
</template>

<script>
export default {
    props: [
        'label',
        'error',
    ],
}
</script>

<style>

</style>