
<template>
  <div>
        
            <select
            @input="$emit('input', $event.target.value)" tabindex="1"
            class="form-control custom-select" style="background-color: white;">
                <option value="">Select</option>
                <option
                v-for="option in options" :key="option.id" :value="option[option_value]">
                    <template>
                        <div v-if="extra_option_label">
                            {{ option[option_label] }} - {{ option[extra_option_label] }}
                        </div>
                        <div v-else>
                            {{ option[option_label] }}
                        </div>
                    </template>
                </option>
            </select>
            <small v-if="error" class="form-control-feedback text-danger"> {{ error }} </small> 
    </div>
</template>

<script>
export default {
    props: ['label', 'error', 'options', 'option_value', 'option_label', 'extra_option_label']
}
</script>

<style>

</style>