<template>
   <div>
       <v-select style="background: white;"
        type="date" :id="id"
        @input="selectedOption"
        :label="label" :filterable="true" :options="options"  >

        <!-- <template slot="no-options">
        {{placeholder}}
        </template>

        <template slot="option" slot-scope="option">
        <div class="d-center">
            {{ option[label] }}
            </div>
        </template>

        <template slot="selected-option" slot-scope="option">
        <div class="selected d-center">
            {{ option[label] }}
        </div>
        </template> -->

    </v-select>
   </div>
</template>

<script>

// import 'vue-select/dist/vue-select.css';
export default {
    props: ['label', 'placeholder', 'options','class_str','id' ],

    data(){
        return {
            // options: [],
        }
    },

    mounted(){
        // console.log(this.options);
    },

    methods: {
        // onSearch(search){
        //     if(search.length){
        //         // axios.post(route('orders.search.field'),{
        //         //     search,
        //         //     label: this.label,
        //         // })
        //         // .then(res => {
        //         //     // console.log(res.data);
        //         //     this.options = [...res.data]
        //         //     // console.log(this.options);
        //         // })
        //     }
        // },

        selectedOption(value){
            this.$emit('input', value)
        }
    },
}
</script>

<style>

</style>
