<template>
   <div>
       <v-select
        type="date"
        @input="selectedOption"
        :label="label" :filterable="false" :options="options" @search="onSearch" >

        <template slot="no-options">
        {{placeholder}}
        </template>

        <template slot="option" slot-scope="option">
        <div v-if="label=='first_name'" class="d-center">
            {{ option[label]  }} {{ option.last_name  }} - ( {{option.mobile}} - {{option.land_phone}} )
            </div>

            <div v-else class="d-center">
            {{ option[label] }}
            </div>
        </template>

        <template slot="selected-option" slot-scope="option">
        <div v-if="label=='first_name'" class="selected d-center">
           {{ option[label]  }} {{ option.last_name  }} - ( {{option.mobile}} - {{option.land_phone}} )
        </div>
        <div v-else class="selected d-center">
            {{ option[label] }}
        </div>
        </template>

    </v-select>
   </div>
</template>

<script>

// import 'vue-select/dist/vue-select.css';
export default {
    props: ['label', 'placeholder', ],

    data(){
        return {
            options: [],
        }
    },

    methods: {
        onSearch(search){
            if(search.length){
                axios.post(route('orders.search.field'),{
                    search,
                    label: this.label,
                })
                .then(res => {
                    // console.log(res.data);
                    this.options = [...res.data]
                    // console.log(this.options);
                })
            }
        },

        selectedOption(value){
            this.$emit('input', value)
        }
    },
}
</script>

<style>

</style>
