<template>
  <layout>
    <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                        <h4 class="text-themecolor">Users</h4>
                    </div>
                    <div class="col-md-7 align-self-center text-right">
                        <div class="d-flex justify-content-end align-items-center">
                            <!-- <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                                <li class="breadcrumb-item active">Dashboard 4</li>
                            </ol> -->
                            <inertia-link v-if="$root.hasPermission('users.add')" :href="route('user.create')" class="btn btn-info d-none d-lg-block m-l-15"><i class="fa fa-plus-circle"></i> Add New User</inertia-link>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!-- Column -->
                    <div class="col-lg-12 col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">List Users</h5>
                                 <div class="row">
                                <div class="col-sm-12">
                                    <div class="table-responsive">
                                        <data-table ref = "datatable" :id="'mytable'" :url="route('user.getdata')" :columns="columns" :columnDefs="columnDefs" :buttons="table_buttons">
                                            <template #header>
                                                <tr>
                                                    <th width="5%">Action</th>
                                                    <th width="10%">ID</th>
                                                    <th>First Name</th>
                                                    <th>Last Name</th>
                                                    <th>Email</th>
                                                    <th>Mobile</th>
                                                    <th>User Type</th>
                                                    <th>Rating</th>
                                                    <th>Status</th>
                                                </tr>
                                            </template>
                                        </data-table>
                                    </div>
                                </div>
                            </div>
                            </div>

                        </div>
                    </div>
                    <!-- Column -->
                </div>

                <right-side-bar/>


    </div>
  </layout>
</template>


<script>
import Layout from '@/Layouts/Layout'
import RightSideBar from '@/Layouts/partial/RightSideBar'
import DataTable from '@/components/Datatable'

export default {
    components:{
        Layout,
        RightSideBar,
        DataTable,
    },

    props:['table_buttons'],

    data(){
        return {

            columns:[
                { data: 'action', name: 'action', orderable: false, searchable: false},
                { data: 'id', name: 'id', orderable: true },
                { data: 'first_name', name: 'first_name', orderable: true },
                { data: 'last_name', name: 'last_name', orderable: true },
                { data: 'email', name: 'email', orderable: true },
                { data: 'mobile', name: 'mobile', orderable: true },
                { data: 'user_type', name: 'user_type', orderable: true },
                { data: 'rating', name: 'rating', orderable: true },
                { data: 'status', name: 'status', orderable: false, searchable: false },

            ],
            columnDefs:[
                { className: "text-center", "targets": [0,1,6,7,8] },
            ],
            order: [
                [ 1, "desc" ]
            ],

            form: this.$inertia.form({
                    id: '',
            })
        }
    },
    mounted(){

        $('#mytable tbody').on('click', 'tr .action_delete',(evt) => {
            const data = $(evt.target).data('userId');    //data-user-id
            this.delete(data);
        });
        $('#mytable tbody').on('click', 'tr .action_edit',(evt) => {
            const data = $(evt.target).data('userId');
            this.$inertia.visit(route('user.edit',data))
        });

        $('#mytable tbody').on('click', 'tr .action_status_change',(evt) => {
            const data = $(evt.target).data('userId');
            this.updateStatus(data);
        });



    },
    methods:{
        reloadTable(){
            this.$refs.datatable.reloadDatatable();
        },
        delete(id){

            this.$swal({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
                }).then((result) => {
                if (result.isConfirmed) {
                   this.form.id = id;
                   this.form.delete(route('providers.delete'), {
                            preserveScroll: true,
                            onSuccess: () => {
                                 this.reloadTable();
                                  this.$swal({
                                    toast: true,
                                    title :'Record Deleted successfully!',
                                    // text : 'Please check the details that you provided!',
                                    icon: 'success',
                                    position: 'top-end',
                                    timer: 3000,
                                    timerProgressBar: true,
                                });

                            },
                            onError: () => {
                                this.$swal({
                                    toast: true,
                                    title :'Something went wrong!',
                                    // text : 'Please check the details that you provided!',
                                    icon: 'error',
                                    position: 'top-end',
                                    timer: 3000,
                                    timerProgressBar: true,
                                });
                            },
                            onFinish: () => this.form.reset(),
                        })
                }
                })
        //    this.$inertia.post('/users', {id:id},)


        },
        updateStatus(id){
            this.form.id = id;
            this.form.put(route('user.change.status'), {
                    // errorBag: 'submit',
                    preserveScroll: true,
                    onSuccess: () => {
                        this.form.reset()
                        this.reloadTable();
                             this.$swal({
                                toast: true,
                                title :'Status Update successfully!',
                                // text : 'Please check the details that you provided!',
                                icon: 'success',
                                position: 'top-end',
                                timer: 3000,
                                timerProgressBar: true,
                            });
                        },
                    onError: () => {
                        this.$swal({
                                toast: true,
                                title :'Something went wrong!',
                                // text : 'Please check the details that you provided!',
                                icon: 'error',
                                position: 'top-end',
                                timer: 3000,
                                timerProgressBar: true,
                            });
                    }
                })
        }


    }
}
</script>
