<template>
  <layout>
    <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                        <h4 class="text-themecolor">Dashboard </h4>
                    </div>
                    <div class="col-md-7 align-self-center text-right">
                        <div class="d-flex justify-content-end align-items-center">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                                <li class="breadcrumb-item active">Dashboard </li>
                            </ol>
                            <inertia-link
                            :href="route('inquiry.create')"
                             class="btn btn-info d-none d-lg-block m-l-15"><i class="fa fa-plus-circle"></i> New Inquiry</inertia-link>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="btn-group float-right" data-toggle="buttons" role="group">
                        <label class="btn btn-outline btn-info btn-sm">
                            <div class="custom-control custom-radio">
                            <input
                                type="radio"
                                id="rb_today"
                                name="options"
                                value="today"
                                checked="checked"                                                               
                                class="custom-control-input"
                                @click="getDashboadCountData('today')"
                            />
                            <label class="custom-control-label" for="rb_today">
                                <i class="ti-check text-active" aria-hidden="true"></i> Today </label>
                            </div>
                        </label>
                        <label class="btn btn-outline btn-info active btn-sm">
                            <div class="custom-control custom-radio">
                            <input
                                type="radio"
                                id="rb_month"
                                name="options"
                                value="month"
                                class="custom-control-input"
                                 @click="getDashboadCountData('month')"
                            />
                            <label class="custom-control-label" for="rb_month">
                                <i class="ti-check text-active" aria-hidden="true"></i> This Month</label
                            >
                            </div>
                        </label>
                        <label class="btn btn-outline btn-info active btn-sm">
                            <div class="custom-control custom-radio">
                            <input
                                type="radio"
                                id="rb_all"
                                name="options"
                                value="all"
                                class="custom-control-input"
                                 @click="getDashboadCountData('all')"
                            />
                            <label class="custom-control-label" for="rb_all">
                                <i class="ti-check text-active" aria-hidden="true"></i> Show All</label>
                            </div>
                        </label>
                        </div>
                    </div>
                    </div>
                <DashboardWidgetsRow :count_list="dashboad_count"></DashboardWidgetsRow>
                <div class="row">
                    <div class="col-lg-4 col-md-12">
                        <donut-chart 
                            title="INQUIRIES BY CHANNELS"
                            :data="donutchart_data.data"
                            :colors="donutchart_data.colors"
                            :resize="true"
                            :height="true">
                        </donut-chart>
                    </div>
                     <!-- Column -->
                    <div class="col-lg-8 col-md-12">
                        <area-chart
                        title="Product Statistics"
                        ></area-chart>
                    </div>
                    <!-- Column -->                    
                </div>
                

                <div class="row">
                    <!-- Column -->
                    <div class="col-lg-12 col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">RECENT TRANSACTIONS</h5>
                            </div>
                            <div class="table-responsive">
                                <!-- <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Invoice</th>
                                            <th>User</th>
                                            <th>Order date</th>
                                            <th>Amount</th>
                                            <th class="text-center">Status</th>
                                            <th class="text-center">Tracking Number</th>
                                        </tr>
                                    </thead>

                                </table> -->
                                <data-table ref = "datatable" :id="'mytable'" :url="'/inquiry/getdata'" :columns="columns" :columnDefs="columnDefs" >
                                    <template #header>
                                        <tr>
                                            <th width="5%">Action</th>
                                            <th width="10%">ID</th>
                                            <th>Customer Name</th>
                                            <th>Order Total</th>
                                            <th>Area</th>
                                            <th>Delivery Date</th>
                                            <th>Status</th>
                                        </tr>
                                    </template>
                                </data-table>
                            </div>
                        </div>
                    </div>
                    <!-- Column -->
                </div>

    </div>


  </layout>
</template>

<script>
import Layout from '@/Layouts/Layout'
import RightSideBar from '@/Layouts/partial/RightSideBar'
import DataTable from '@/components/Datatable'
import OrderModal from "@/Pages/Order/OrderModal"
import Button from '../Jetstream/Button.vue'
import DashboardWidgetsRow from '@/components/Dashboard/DashboardWidgetRowSmall'
import DonutChart from '@/components/chart/DonutChart'
import AreaChart from '@/components/chart/AreaChart'
 
 

export default {
    props: [
        'status',
       'total',
'total_new',
'total_dispatched',
'total_delivered', 'to_be_dispacthed_total'
    ],

    components:{
        Layout,
        RightSideBar,
        DataTable,
        OrderModal,
        DashboardWidgetsRow,
        DonutChart,
        AreaChart,  
    },

    data(){
        return {

            columns:[
                { data: 'action', name: 'action', orderable: false, searchable: false},
                { data: 'id', name: 'id', orderable: true },
                { data: 'customer_name', name: 'customer_name', orderable: false,searchable: false },
                { data: 'order_total', name: 'order_total', orderable: true },
                { data: 'area', name: 'areas.area_name', orderable: true },
                { data: 'deliver_date', name: 'deliver_date', orderable: true },
                { data: 'status', name: 'status', orderable: false, searchable: false },

            ],
            columnDefs:[
                { className: "text-center", "targets": [4,5,6] },
                { className: "text-right", "targets": [3] },
            ],
            order: [
                [ 1, "desc" ]
            ],


            form : this.$inertia.form({
                phone_no: ''
            }),
            dashboad_count_filter: 'today',
            dashboad_count:[],
            donutchart_data:{
                data:[],
                colors:[ "#FF6384", "#36A2EB", "#FFCE56"],

            }

        }
    },
    mounted(){
        this.getDashboadCountData();
    },

    methods: {
        showModal(){
            $('#inquiry_modal').modal('toggle');
        },

        checkPhoneNumber(){
            $('#inquiry_modal').modal('toggle');
            this.form.post(route('inquiry.checkPhoneNo', {
                onSuccess: () => {
                    console.log(123);
                }
            }))
        }, getDashboadCountData(filter='today'){
            axios.post(route('dashboard.get.count.data'), {
                filter: filter
            })
            .then(response => {
                console.log(response);             
                if(response.status==200){
                    this.dashboad_count = response.data.count_data;
                    this.donutchart_data = response.data.donutchart_data;
                }
            })
        }
    },
}
</script>
