<template>
  <div>
    <aside class="left-sidebar">
      <!-- Sidebar scroll-->
      <div class="scroll-sidebar">
        <!-- User Profile-->
        <div class="user-profile">
          <div class="user-pro-body">
            <div>
              
              <!-- <img
                class="img-circle"
                :src="$page.props.user.profile_photo_url"
                :alt="$page.props.user.name"
              /> -->
            </div>
            <div class="dropdown">
              <a
                href="javascript:void(0)"
                class="dropdown-toggle u-dropdown link hide-menu"
                data-toggle="dropdown"
                role="button"
                aria-haspopup="true"
                aria-expanded="false"
                >{{ $page.props.user.name }}
                <span class="caret"></span>
              </a>
              <div class="dropdown-menu animated flipInY">
                <!-- text-->
                <inertia-link
                  class="dropdown-item"
                  :href="route('profile.show')"
                  :class="{ active: route().current('profile.show') == true }"
                >
                  <!-- <a  > -->
                  <i class="ti-user"></i> My Profile
                  <!-- </a> -->
                </inertia-link>

                <!-- text-->
                <div class="dropdown-divider"></div>
                <!-- text-->
                <!-- <inertia-link> -->
                <a href="javascript:void(0)" class="dropdown-item">
                  <i class="ti-settings"></i> Account Setting</a
                >
                <!-- </inertia-link> -->
                <!-- text-->
                <div class="dropdown-divider"></div>
                <!-- text-->
                <!-- <inertia-link> -->
                <a @click="logout()" class="btn dropdown-item">
                  <i class="fa fa-power-off"></i> Logout</a
                >
                <!-- </inertia-link> -->
                <!-- text-->
              </div>
            </div>
          </div>
        </div>
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
          <ul id="sidebarnav">
            <li class="nav-small-cap">--- Admin Dashboard</li>
            <li v-if="$root.hasPermission('access.dashboard')">
              <inertia-link
                :href="route('dashboard')"
                class="waves-effect waves-dark"
                :class="{ active: route().current('dashboard') }"
                aria-expanded="false"
              >
                <i class="icon-speedometer"></i>
                <span class="hide-menu">Dashboard</span>
              </inertia-link>
            </li>

            <li class="nav-small-cap">--- Members</li>

            <!-- <li v-if="$root.hasPermission('access.dashboard')" >
                            <inertia-link :href="route('dashboard')" class="waves-effect waves-dark"  :class="{'active' : route().current('dashboard')}"  aria-expanded="false">
                                <i class="icon-phone"></i>
                                <span class="hide-menu">Call Handelling</span>
                            </inertia-link>
                        </li> -->

            <li
            v-if="$root.hasPermission('customers.view')"
            >
              <a
                class="has-arrow waves-effect waves-dark"
                :class="{
                  active:
                    route().current('customer.index') ||
                    route().current('customer.create'),
                }"
                aria-expanded="false"
              >
                <i class="icon-user"></i>
                <span class="hide-menu"> Customers </span>
              </a>
              <ul aria-expanded="false" class="collapse">
                <!-- <li>
                  <inertia-link
                    :href="route('customer.create')"
                    :class="{ active: route().current('customer.create') }"
                    >Add New Customer
                  </inertia-link>
                </li> -->
                <li>
                  <inertia-link
                    :href="route('customer.index')"
                    :class="{ active: route().current('customer.index') }"
                    >List Customers</inertia-link
                  >
                </li>
              </ul>
            </li>
            <!--
                        <li >
                            <inertia-link :href="route('dashboard')" class="waves-effect waves-dark"  :class="{'active' : route().current('dashboard')}"  aria-expanded="false">
                                <i class="icon-phone"></i>
                                <span class="hide-menu">Call Handelling</span>
                            </inertia-link>
                        </li> -->

            <li
            v-if="$root.hasPermission('inquiries.view')"
            >
              <a
                class="has-arrow waves-effect waves-dark"
                :class="{
                  active:
                    route().current('inquiry.index') ||
                    route().current('inquiry.create'),
                }"
                aria-expanded="false"
              >
                <i class="icon-phone"></i>
                <span class="hide-menu"> Inquiries </span>
              </a>
              <ul aria-expanded="false" class="collapse">
                <li>
                  <inertia-link
                    :href="route('inquiry.create')"
                    :class="{ active: route().current('inquiry.create') }"
                    >Add New Inquiry
                  </inertia-link>
                </li>
                <li>
                  <inertia-link
                    :href="route('inquiry.index')"
                    :class="{ active: route().current('inquiry.index') }"
                    >Inquiries</inertia-link
                  >
                </li>
              </ul>
            </li>
<li v-if="$root.hasPermission('orders.view')">
              <a
                class="has-arrow waves-effect waves-dark"
                href="javascript:void(0)"
                aria-expanded="false"
              >
                <i class="fa fa-users"></i>
                <span class="hide-menu">Orders</span>
              </a>
              <ul aria-expanded="false" class="collapse">
                <!-- <li >
                                            <inertia-link :href="route('order.index')">All Orders</inertia-link>
                                  </li> -->
                <!-- <li >
                                            <inertia-link :href="route('order.create')">Create Order</inertia-link>
                                  </li> -->
                <li>
                  <inertia-link :href="route('order.new')"
                    >New Orders</inertia-link
                  >
                </li>
                <li>
                  <inertia-link :href="route('order.pending')"
                    >Pending Dispatch Order</inertia-link
                  >
                </li>
                <li>
                  <inertia-link :href="route('order.dispatched')"
                    >Dispatched Order</inertia-link
                  >
                </li>
                <li>
                  <inertia-link :href="route('order.delivered')"
                    >Delivered Orders</inertia-link
                  >
                </li>
                <li>
                  <inertia-link :href="route('order.completed')"
                    >Completed Orders</inertia-link
                  >
                </li>
              </ul>
        </li>
            <li
            v-if="$root.hasPermission('products.view')"
            >
              <a
                class="has-arrow waves-effect waves-dark"
                :class="{
                  active:
                    route().current('customer.index') ||
                    route().current('customer.create'),
                }"
                aria-expanded="false"
              >
                <i class="icon-user"></i>
                <span class="hide-menu"> Products </span>
              </a>
              <ul aria-expanded="false" class="collapse">
                <li>
                  <inertia-link
                    :href="route('products.create')"
                    :class="{ active: route().current('products.create') }"
                    >Add New Product
                  </inertia-link>
                </li>
                <li>
                  <inertia-link
                    :href="route('products.index')"
                    :class="{ active: route().current('products.index') }"
                    >List Products</inertia-link
                  >
                </li>
              </ul>
            </li>

            

            

            <li >
              <a
                class="has-arrow waves-effect waves-dark"
                :class="{
                  active:
                    route().current('area.index') ||
                    route().current('area.create'),
                }"
                aria-expanded="false"
              >
                <i class="icon-user"></i>
                <span class="hide-menu"> Areas </span>
              </a>
              <ul aria-expanded="false" class="collapse">
                <li>
                  <inertia-link
                    :href="route('area.create')"
                    :class="{ active: route().current('area.create') }"
                    >Add New Area
                  </inertia-link>
                </li>
                <li>
                  <inertia-link
                    :href="route('area.index')"
                    :class="{ active: route().current('area.index') }"
                    >List Areas</inertia-link
                  >
                </li>
              </ul>
            </li>

            <li>
              <a
                class="has-arrow waves-effect waves-dark"
                href="javascript:void(0)"
                aria-expanded="false"
              >
                <i class="icons-Clock"></i>
                <span class="hide-menu">Show TImes</span>
              </a>
              <ul aria-expanded="false" class="collapse">
                <li>
                  <a :href="route('show.times.create')">Add New Show Time </a>
                </li>
                <li>
                  <a :href="route('show.times.index')">List Show Times</a>
                </li>
              </ul>
            </li>
<li v-if="$root.hasPermission('users.view')">
              <a
                class="has-arrow waves-effect waves-dark"
                href="javascript:void(0)"
                aria-expanded="false"
              >
                <i class="fa fa-users"></i>
                <span class="hide-menu">User Management</span>
              </a>
              <ul aria-expanded="false" class="collapse">
                <li>
                  <inertia-link :href="route('backend.users.create')"
                    >Create Users</inertia-link
                  >
                </li>
                <li>
                  <inertia-link :href="route('backend.users.index')"
                    >List Users</inertia-link
                  >
                </li>

                <li v-if="$root.hasPermission('roles.view')">
                  <a
                    class="has-arrow waves-effect waves-dark"
                    href="javascript:void(0)"
                    aria-expanded="false"
                  >
                    <span class="hide-menu">Roles</span>
                  </a>
                  <ul aria-expanded="false" class="collapse">
                    <li v-if="$root.hasPermission('roles.create')">
                      <inertia-link :href="route('roles.create')"
                        >Create Role</inertia-link
                      >
                    </li>
                    <li v-if="$root.hasPermission('roles.view')">
                      <inertia-link :href="route('roles.index')"
                        >List Roles</inertia-link
                      >
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </nav>
        <!-- End Sidebar navigation -->
      </div>
      <!-- End Sidebar scroll-->
    </aside>
  </div>
</template>

<script>
export default {
  mounted() {
    $(function () {
      var url = window.location;
      var element = $("ul#sidebarnav a")
        .filter(function () {
          return this.href == url;
        })
        .addClass("active")
        .parent()
        .addClass("active");
      var elements = $("ul#sidebarnav ul li a")
        .filter(function () {
          return this.href == url;
        })
        .addClass("active")
        .parent()
        .addClass("active");

      while (true) {
        if (element.is("li")) {
          element = element
            .parent()
            .addClass("in")
            .parent()
            .addClass("active")
            .children("a")
            .addClass("active");
        } else {
          break;
        }
      }

      while (true) {
        if (elements.is("li")) {
          elements = elements
            .parent()
            .parent()
            .parent()
            .addClass("in")
            .parent()
            .addClass("active")
            .children("a")
            .addClass("active");
        } else {
          break;
        }
      }

      $("#sidebarnav a").on("click", function (e) {
        if (!$(this).hasClass("active")) {
          // hide any open menus and remove all other classes
          $("ul", $(this).parents("ul:first")).removeClass("in");
          $("a", $(this).parents("ul:first")).removeClass("active");

          // open our new menu and add the open class
          $(this).next("ul").addClass("in");
          $(this).addClass("active");
        } else if ($(this).hasClass("active")) {
          $(this).removeClass("active");
          $(this).parents("ul:first").removeClass("active");
          $(this).next("ul").removeClass("in");
        }
      });
      $("#sidebarnav >li >a.has-arrow").on("click", function (e) {
        e.preventDefault();
      });
    });
  },
  methods: {
    switchToTeam(team) {
      this.$inertia.put(
        route("current-team.update"),
        {
          team_id: team.id,
        },
        {
          preserveState: false,
        }
      );
    },
    logout() {
      this.$inertia.post(route("logout"));
    },
  },
};
</script>
<style scoped>
.nav-small-cap {
  padding: 0 !important;
}
</style>
