<template>

    <div class="px-2 mx-2">
        <link href="/assets/node_modules/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">

        <table class="table table-sm table-bordered">
            <tr>
                <!-- {{filters.cus_name}} -->
                <th>Customer Name</th>
                <th><VSelect :label="'first_name'" :placeholder="'Search by Customer Name'"
                v-model="filters.cus_name" ></VSelect> </th>

                <th> District</th>
                <th><VSelect :label="'district'" :placeholder="'Search by District'"
                v-model="filters.district" ></VSelect> </th>

                <th> Area</th>
                <th> <VSelect :label="'area'" :placeholder="'Search by Area'"
                v-model="filters.area" ></VSelect></th>
            </tr>
            <tr>
                <th> Order Date </th>
                <th>
                    <div class='input-group mb-3'>
                        <input
                        id="dateRangeInput" type='text' class="form-control shawCalRanges" />
                        <div class="input-group-append">
                            <span class="input-group-text">
                                <span class="ti-calendar"></span>
                            </span>
                        </div>
                    </div>
                </th>
                <th>
                    <button  @click="getRecords" class="btn btn-info"> Apply Filters </button>
                </th>

            </tr>
        </table>

        <div class="row ">
            <div>
                View
                <select @change="getRecords" v-model="filters.paginate_by">
                    <!-- <option value="1">1</option> -->
                    <option value="10">10</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                    <option value="ALL">ALL</option>
                </select>
            </div>

            <div class="ml-auto mx-2">
                <select class="my-auto " v-model="bulk_change_selected_status">
                    <option value="">SELECT TO BULK CHANGE</option>
                    <option
                    v-for="status in all_statuses" :key="status.id"
                    :value="status.status">
                    {{status.status}}</option>
                </select>
                <button
                :disabled="show_agent_assign_bulk && selected_agent_bulk == ''"
                @click="bulkChangeStatus"
                type="button" class="btn btn-sm btn-info ">Bulk Change Status</button>

                <br>
                <select
                    v-if="show_agent_assign_bulk "
                    v-model="selected_agent_bulk">
                        <option value="">Assign an Agent</option>
                        <option v-for="agent in all_agents" :key="agent.id"
                        :value=agent>
                        {{agent.first_name}} {{agent.last_name}} </option>
                    </select>
            </div>

        </div>

        <br>


        <table class="table table-sm table-bordered">
        <thead>
            <tr>
                <th width="5%">
                    <input
                    @input="toggleAllCheckboxes"
                    type="checkbox" id="main_checkbox">
                </th>
                <!-- <th width="5%">Action</th> -->
                <th width="5%">ID</th>
                <th>Customer Name</th>
                <th>Order Total</th>
                <th>Ordered Date</th>
                <th>Area</th>
                <th>Delivery Date</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr  v-for="(row,index) in use_this_table_data.data" :key="index">
                <td @click="bindModalData(row)" > <input type="checkbox" class="sub_checkbox" :value="row.id" > </td>
                <td @click="bindModalData(row)" > {{index+1}} </td>
                <td @click="bindModalData(row)" > {{row.customer.first_name}} </td>
                <td @click="bindModalData(row)" > {{row.order_total}} </td>
                <td @click="bindModalData(row)" > {{row.order_date}} </td>
                <td @click="bindModalData(row)" > {{row.area}} </td>
                <td @click="bindModalData(row)" > {{row.deliver_date}} </td>
                <td>
                    <select
                    @change="changeStatus(row)"
                    class="form-control"
                    :id="'select_'+row.id"
                    >
                        <option
                        v-for="status in all_statuses" :key="status.id"
                        :selected="status.status == row.status"
                        :value="status.status">
                        {{status.status}}</option>
                    </select>

                    <br>
                    <select
                    @change="assignAgent(row)"
                    v-if="show_agent_assign && selected_row_id == row.id "
                    class="form-control" v-model="selected_agent">
                        <option value="">Assign an Agent</option>
                        <option v-for="agent in all_agents" :key="agent.id"
                        :value=agent>
                        {{agent.first_name}} {{agent.last_name}} </option>
                    </select>
                </td>

            </tr>
        </tbody>
        <!-- <tfoot> -->

        <!-- </tfoot> -->
  <div class="px-2 mx-2">
    <table class="table table-sm table-bordered">
      <tr>
        <!-- {{filters.cus_name}} -->
        <th>Customer Name</th>
        <th>
          <VSelect
            :label="'first_name'"
            :placeholder="'Search by Customer Name'"
            v-model="filters.cus_name"
          ></VSelect>
        </th>

        <th>District</th>
        <th>
          <VSelectNonAjax
            label="name_en"
            :options="districts"
            :placeholder="'Search by District sss'"
            v-model="filters.district"
          ></VSelectNonAjax>
        </th>

        <th>Area</th>
        <th>
          <VSelect
            :label="'area'"
            :placeholder="'Search by Area'"
            v-model="filters.area"
          ></VSelect>
        </th>
      </tr>
      <tr>
        <th>Order Date</th>
        <th>
             <div class='input-group mb-3'>
                <input
                id="dateRangeInput" type='text' class="form-control shawCalRanges" />
                <div class="input-group-append">
                    <span class="input-group-text">
                        <span class="ti-calendar"></span>
                    </span>
                </div>
            </div>
        </th>
        <th>
          <button @click="getRecords" class="btn btn-info">
            Apply Filters
          </button>
        </th>
      </tr>

    </table>

    <div class="row">
      <div>
        View
        <select @change="getRecords" v-model="filters.paginate_by">
          <!-- <option value="1">1</option> -->
          <option value="10">10</option>
          <option value="25">25</option>
          <option value="50">50</option>
          <option value="100">100</option>
          <option value="ALL">ALL</option>
        </select>
      </div>

      <div class="ml-auto mx-2">
        <select class="my-auto" v-model="bulk_change_selected_status">
          <option value="">SELECT TO BULK CHANGE</option>
          <option
            v-for="status in all_statuses"
            :key="status.id"
            :value="status.status"
          >
            {{ status.status }}
          </option>
        </select>
        <button
          :disabled="show_agent_assign_bulk && selected_agent_bulk == ''"
          @click="bulkChangeStatus"
          type="button"
          class="btn btn-sm btn-info"
        >
          Bulk Change Status
        </button>

        <br />
        <select v-if="show_agent_assign_bulk" v-model="selected_agent_bulk">
          <option value="">Assign an Agent</option>
          <option v-for="agent in all_agents" :key="agent.id" :value="agent">
            {{ agent.first_name }} {{ agent.last_name }}
          </option>
        </select>
      </div>
    </div>

    <br />

    <table class="table table-sm table-bordered">
      <thead>
        <tr>
          <th width="5%" style="text-align: center">
            <input
              @input="toggleAllCheckboxes"
              type="checkbox"
              id="main_checkbox"
            />
          </th>
          <!-- <th width="5%">Action</th> -->
          <th width="5%">ID</th>
          <th>Customer Name</th>
          <th>Order Total</th>
          <th>Ordered Date</th>
          <th>Area</th>
          <th>Delivery Date</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(row, index) in use_this_table_data.data" :key="index">
          <td style="text-align: center">
            <input type="checkbox" class="sub_checkbox" :value="row.id" />
          </td>
          <td @click="bindModalData(row)">{{ index + 1 }}</td>
          <td @click="bindModalData(row)">{{ row.customer_name }}</td>
          <td style="text-align: right" @click="bindModalData(row)">
            {{ parseFloat(row.order_total).toFixed(2) }}
          </td>
          <td @click="bindModalData(row)">{{ row.order_date }}</td>
          <td @click="bindModalData(row)">{{ row.area_name }}</td>
          <td @click="bindModalData(row)">{{ row.deliver_date }}</td>
          <td>
            <select
              @change="changeStatus(row)"
              class="form-control"
              :id="'select_' + row.id"
            >
              <option
                v-for="status in all_statuses"
                :key="status.id"
                :selected="status.status == row.status"
                :value="status.status"
              >
                {{ status.status }}
              </option>
            </select>

            <br />
            <select
              @change="assignAgent(row)"
              v-if="show_agent_assign && selected_row_id == row.id"
              class="form-control"
              v-model="selected_agent"
            >
              <option value="">Assign an Agent</option>
              <option
                v-for="agent in all_agents"
                :key="agent.id"
                :value="agent"
              >
                {{ agent.first_name }} {{ agent.last_name }}
              </option>
            </select>
          </td>
        </tr>
      </tbody>
      <!-- <tfoot> -->

      <!-- </tfoot> -->
    </table>
    <pagination
      :data="use_this_table_data"
      @pagination-change-page="getRecords"
    >
      <span slot="prev-nav">&lt; Previous</span>
      <span slot="next-nav">Next &gt;</span>
    </pagination>

    <OrderModal v-if="modal_data" :data="modal_data" />
  </div>
</template>


<script>
import VSelect from "@/components/FormControl/VSelect";<<<<<<< HEAD
import OrderModal from "@/Pages/Order/OrderModal"
import moment from 'moment'
import DatePicker, { CalendarDialog } from 'vue-time-date-range-picker/dist/vdprDatePicker'

export default {
    props: ['table_data', 'all_statuses', 'current_default_status', 'all_agents'],

    components: {
        VSelect,
        OrderModal,
        DatePicker,
        CalendarDialog,
=======
import VSelectNonAjax from "@/components/FormControl/VSelectNonAjax";
import OrderModal from "@/Pages/Order/OrderModal";

export default {
  props: [
    "table_data",
    "all_statuses",
    "current_default_status",
    "all_agents",
    "districts",
    "all_areas",
  ],

  components: {
    VSelect,
    OrderModal,
    VSelectNonAjax,
  },

  data() {
    return {
      selected_status_id: null,
      bulk_change_selected_status: "",
      use_this_table_data: {},
      show_agent_assign: false,
      pause_until_agent_is_assigned: false,
      selected_agent: "",
      selected_row_id: null,
      show_agent_assign_bulk: false,
      selected_agent_bulk: "",
      modal_data: null,
      // options: [],
      // use_this_table_data : this.filtered_table_data,
      filters: {
        cus_name: "",
        district: "",
        area: "",
        order_date: "",
        delivery_date: "",
        paginate_by: "10",
      },
    };
  },

  // computed: {
  //     filtered_table_data(){
  //         // let computed_table_data = []
  //         // computed_table_data = this.table_data
  //         // return computed_table_data
  //         return this.table_data
  //     }
  // },
  mounted() {
    this.getRecords();
  },

  methods: {
    assignAgent(selected_row) {
      if (this.selected_agent == "") {
        return;
      }
      return this.changeStatus(selected_row);
>>>>>>> 7cd671030feb1e1aba3f03e6e8b7439f4890b4b9

    },
    filtered_areas() {
      //   this.selected_area_id = "";
      let filtered_areas = [];

    data(){
        return {
            selected_status_id : null,
            bulk_change_selected_status: '',
            use_this_table_data : {},
            show_agent_assign: false,
            pause_until_agent_is_assigned: false,
            selected_agent: '',
            selected_row_id : null,
            show_agent_assign_bulk: false,
            selected_agent_bulk: '',
            modal_data: null,
            // options: [],
            // use_this_table_data : this.filtered_table_data,
            filters: {
                cus_name: '',
                district: '',
                area: '',
                order_date: '',
                delivery_date: '',
                paginate_by: '10',
            },
            dateRangeInput: {
                startDate: '',
                endDate: '',
            },
        }
      });
      // console.log(filtered_areas)
      return filtered_areas;
    },

    // computed: {
    //     filtered_table_data(){
    //         // let computed_table_data = []
    //         // computed_table_data = this.table_data
    //         // return computed_table_data
    //         return this.table_data
    //     }
    // },
    mounted(){
        this.getRecords()
        // let script = document.createElement('script')
        // script.setAttribute('src', "/assets/node_modules/bootstrap-daterangepicker/daterangepicker.js")
        // document.head.appendChild(script)
        let self = this
        $('.daterange').daterangepicker();
        $('.shawCalRanges').daterangepicker({
        ranges: {
            'Today': [moment(), moment()],
            'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
            'Last 7 Days': [moment().subtract(6, 'days'), moment()],
            'Last 30 Days': [moment().subtract(29, 'days'), moment()],
            'This Month': [moment().startOf('month'), moment().endOf('month')],
            'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
        },
        alwaysShowCalendars: true,
    }, function (start, end) {
        self.dateRangeInput.startDate = start.format('YYYY-MM-DD')
        self.dateRangeInput.endDate = end.format('YYYY-MM-DD')
    });

    },

    methods: {
        assignAgent(selected_row){
            if(this.selected_agent == ''){
                return
            }
            return this.changeStatus(selected_row)
        },


        changeStatus(selected_row){
            this.selected_row_id = selected_row.id
            let selected_option = document.querySelector(`#select_${selected_row.id}`).value


            if(selected_option == 'DISPATCHED' && this.selected_agent ==  '' ){
                this.show_agent_assign =  true
                this.pause_until_agent_is_assigned = true
                return

            } else {
                this.show_agent_assign =  false
                this.pause_until_agent_is_assigned = false
                return this.sendRequestToChangeStatus(selected_option, selected_row)

            }
            // console.log(this.show_agent_assign);

        },

        sendRequestToChangeStatus(selected_option, selected_row){
            if(this.pause_until_agent_is_assigned){
                return
            }
            // return console.log(this.selected_agent);

            axios.post(route('order.status.change'), {
                selected_option,
                selected_row,
                selected_agent : this.selected_agent.id
            })
            .then((res) => {
                // console.log(res.data);
                this.selected_agent = ''
                return
            })
        },


        toggleAllCheckboxes(){
            let main_checkbox = document.querySelector('#main_checkbox')
            let all_checkboxes = document.querySelectorAll('.sub_checkbox')
            // console.log(toggle_to);
            all_checkboxes.forEach(checkbox => {
                checkbox.checked = main_checkbox.checked
            })

        },

        bulkChangeStatus(){
            if(this.bulk_change_selected_status == ''){
                return this.$root.show_swal('Please select a Status', 'error')
            }

            if(this.bulk_change_selected_status == 'DISPATCHED' && this.selected_agent_bulk == '' ){
                return this.show_agent_assign_bulk = true
                // return console.log(1);
            } else {
                this.show_agent_assign_bulk = false
                // this.selected_agent_bulk = ''
            }


            let selected_rows = []
            let selected_checkboxes = document.querySelectorAll('.sub_checkbox')
            selected_checkboxes.forEach(cb => {
                if(cb.checked){
                    selected_rows.push({value: cb.value})
                }
            })

            if(selected_rows.length < 1){
                return this.$root.show_swal('No Orders Selected', 'error')
            }
            // return console.log(this.selected_agent_bulk);

            axios.post(route('order.status.change.bulk'), {
                selected_rows,
                current_default_status: this.current_default_status, //used to load response data correctly
                bulk_change_selected_status: this.bulk_change_selected_status,
                selected_agent_bulk : this.selected_agent_bulk.id,
                paginate_by: this.filters.paginate_by,
            })
            .then(res => {
                // console.log(res.data);
                this.use_this_table_data = res.data
            })
        },

        // onSearch(search, loading) {
        //     if(search.length) {
        //         loading(true);
        //         this.search(loading, search, this);
        //     }
        // },
        // search: _.debounce((loading, search, vm) => {

        //     fetch(
        //         // `https://api.github.com/search/repositories?q=${escape(search)}`
        //         `${route('orders.search.field')}?search_by=${escape(search)}`
        //     ).then(res => {
        //         console.log(this.options);
        //         res.json().then(json => (vm.options = json.items));
        //         loading(false);
        //     });
        // }, 350)

        getRecords(page = 1){
            // console.log(this.filters.paginate_by);
            axios.post(route('order.getdata'), {
                status: this.current_default_status,
                page,
                customer_name: this.filters.cus_name,
                district: this.filters.district,
                area: this.filters.area,
                order_date: this.filters.order_date,
                delivery_date: this.filters.delivery_date,
                paginate_by: this.filters.paginate_by,
            })
            .then(response => {
                // console.log(response.data.data);
                this.use_this_table_data = response.data
            })
            .catch(err => {
                console.log(err);
            })
        },

        bindModalData(row){
            this.modal_data = row
            $('#newOrderModal').modal('toggle');
        },

        // dateRangeInput(){
        //     console.log(123);
        //     // console.log(value);
        //     if ($('#dateRangeInput').val()) {
        //         let start = $('input#dateRangeInput')
        //             .data('daterangepicker')
        //             .startDate.format('YYYY-MM-DD');
        //         let end = $('input#dateRangeInput')
        //             .data('daterangepicker')
        //             .endDate.format('YYYY-MM-DD');
        //     console.log(start, end);
        //     }
        // }

    // onSearch(search, loading) {
    //     if(search.length) {
    //         loading(true);
    //         this.search(loading, search, this);
    //     }
    // },
    // search: _.debounce((loading, search, vm) => {

    //     fetch(
    //         // `https://api.github.com/search/repositories?q=${escape(search)}`
    //         `${route('orders.search.field')}?search_by=${escape(search)}`
    //     ).then(res => {
    //         console.log(this.options);
    //         res.json().then(json => (vm.options = json.items));
    //         loading(false);
    //     });
    // }, 350)

    getRecords(page = 1) {
      // console.log(this.filters.paginate_by);
      axios
        .post(route("order.getdata"), {
          status: this.current_default_status,
          page,
          customer_name: this.filters.cus_name,
          district: this.filters.district,
          area: this.filters.area,
          order_date: this.filters.order_date,
          delivery_date: this.filters.delivery_date,
          paginate_by: this.filters.paginate_by,
        })
        .then((response) => {
          // console.log(response.data.data);
          this.use_this_table_data = response.data;
        })
        .catch((err) => {
          console.log(err);
        });
    },

    bindModalData(row) {
      this.modal_data = row;
      $("#newOrderModal").modal("toggle");
    },
  },
};
