<template>
  <div class="px-2 mx-2">
      <link href="/assets/node_modules/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">

      
      <div class="row">           
            <div class="col-9">
               <label for=""> <b>Customer :</b> </label>
                <VSelect
                :label="'first_name'"
                :placeholder="'Search by Customer Name'"
                v-model="filters.cus_name"
            ></VSelect>
            
            </div>
      </div>
       
            
      <div class="row mt-2">
                            
          
          <div class="col-3">
            <label for=""> <b>District :</b> </label>
          <VSelectNonAjax
              label="name_en"
              :options="districts"
              :placeholder="'Search by District '"
              v-model="filters.district"
          ></VSelectNonAjax>
             
          </div>
         
          <div class="col-3">
             <label for=""> <b>Area :</b> </label>
              <VSelectNonAjax
                  label="area_name"
                  :options="filtered_areas"
                  :placeholder="'Search by Area'"
                  v-model="filters.area"
              ></VSelectNonAjax>
          </div>
         
           <div class="col-3">
             <label for=""> <b>Order Date</b> </label>
                        <div class='input-group mb-3'>
                            <input
                            id="dateRangeInput" type='text' class="form-control shawCalRanges" />
                            <div class="input-group-append">
                                <span class="input-group-text">
                                    <span class="ti-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>

          <div class="col-3">
              <div class="row">
                      <button @click="getRecords" class="btn btn-info mx-auto">
                        Apply Filters
                    </button>
              </div>
          </div>
      </div>
      <hr>

    <div class="row">
      <div>
        View
        <select @change="getRecords" v-model="filters.paginate_by">
          <!-- <option value="1">1</option> -->
          <option value="10">10</option>
          <option value="25">25</option>
          <option value="50">50</option>
          <option value="100">100</option>
          <option value="ALL">ALL</option>
        </select>
      </div>

      <div class="ml-auto mx-2">
        <select class="my-auto" v-model="bulk_change_selected_status">
          <option value="">SELECT TO BULK CHANGE</option>
          <option
            v-for="status in all_statuses"
            :key="status.id"
            :value="status.status"
          >
            {{ status.status }}
          </option>
        </select>
        <button
          :disabled="show_agent_assign_bulk && selected_agent_bulk == ''"
          @click="bulkChangeStatus"
          type="button"
          class="btn btn-sm btn-info"
        >
          Bulk Change Status
        </button>

        <br />
        <select v-if="show_agent_assign_bulk" v-model="selected_agent_bulk">
          <option value="">Assign an Agent</option>
          <option v-for="agent in all_agents" :key="agent.id" :value="agent">
            {{ agent.first_name }} {{ agent.last_name }}
          </option>
        </select>
      </div>
    </div>

    <br />

    <table class="table table-sm table-bordered">
      <thead>
        <tr>
          <th width="5%" style="text-align: center">
            <input
              @input="toggleAllCheckboxes"
              type="checkbox"
              id="main_checkbox"
            />
          </th>
          <!-- <th width="5%">Action</th> -->
          <th width="5%">ID</th>
          <th>Customer Name</th>
          <th>Order Total</th>
          <th>Ordered Date</th>
          <th>Area</th>
          <th>Delivery Date</th>
          <th>Status</th>
        </tr> 
      </thead>
      <tbody>
        <tr v-for="(row, index) in use_this_table_data.data" :key="index">
          <td style="text-align: center">
            <input type="checkbox" class="sub_checkbox" :value="row.id" />
          </td>
          <td @click="bindModalData(row)">{{ index + 1 }}</td>
          <td @click="bindModalData(row)">{{ row.customer_name }}</td>
          <td style="text-align: right" @click="bindModalData(row)">
            {{ parseFloat(row.order_total).toFixed(2) }}
          </td>
          <td @click="bindModalData(row)">{{ row.order_date }}</td>
          <td @click="bindModalData(row)">{{ row.area_name }}</td>
          <td @click="bindModalData(row)">{{ row.deliver_date }}</td>
          <td>
            <select
              @change="changeStatus(row)"
              class="form-control"
              :id="'select_' + row.id"
            >
              <option
                v-for="status in all_statuses"
                :key="status.id"
                :selected="status.id == row.status_id"
                :value="status.id"
              >
                {{ status.status }}
              </option>
            </select>

            <br />
            <select
              @change="assignAgent(row)"
              v-if="show_agent_assign && selected_row_id == row.id"
              class="form-control"
              v-model="selected_agent"
            >
              <option value="">Assign an Agent</option>
              <option
                v-for="agent in all_agents"
                :key="agent.id"
                :value="agent"
              >
                {{ agent.first_name }} {{ agent.last_name }}
              </option>
            </select>
          </td>
        </tr>
      </tbody>
      <!-- <tfoot> -->

      <!-- </tfoot> -->
    </table>
    <pagination
      :data="use_this_table_data"
      @pagination-change-page="getRecords"
    >
      <span slot="prev-nav">&lt; Previous</span>
      <span slot="next-nav">Next &gt;</span>
    </pagination>

    <OrderModal v-if="modal_data" :data="modal_data" />
  </div>
</template>


<script>
import VSelect from "@/components/FormControl/VSelect";
import VSelectNonAjax from "@/components/FormControl/VSelectNonAjax";
import OrderModal from "@/Pages/Order/OrderModal";

export default {
  props: [
    "table_data",
    "all_statuses",
    "current_default_status",
    "all_agents",
    "districts",
    "all_areas",
  ],

  components: {
    VSelect,
    OrderModal,
    VSelectNonAjax,
  },

  data() {
    return {
      selected_status_id: null,
      bulk_change_selected_status: "",
      use_this_table_data: {},
      show_agent_assign: false,
      pause_until_agent_is_assigned: false,
      selected_agent: "",
      selected_row_id: null,
      show_agent_assign_bulk: false,
      selected_agent_bulk: "",
      modal_data: null,
      // options: [],
      // use_this_table_data : this.filtered_table_data,
      filters: {
        cus_name: "",
        district: null,
        area: "",
        order_date: "",
        delivery_date: "",
        paginate_by: "10",
      },
      date_range_input: {
        start_date: '',
        end_date: '',
        },
    };
  },

  computed: {
    filtered_areas() {
      //   this.selected_area_id = "";

    let filtered_areas = [];

    if(this.filters.district === null){
        this.all_areas.forEach(area => {
            filtered_areas.push(area)
        })

    } else {
        this.all_areas.forEach((area) => {
            if (area.district_id == this.filters.district.id) {
                filtered_areas.push(area);
            }
        });
    }
    //   console.log(filtered_areas)
      return filtered_areas;
    },
  },
  mounted() {
    this.getRecords();
    let self = this
        $('.shawCalRanges').daterangepicker({
        ranges: {
            'Today': [moment(), moment()],
            'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
            'Last 7 Days': [moment().subtract(6, 'days'), moment()],
            'Last 30 Days': [moment().subtract(29, 'days'), moment()],
            'This Month': [moment().startOf('month'), moment().endOf('month')],
            'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
        },
        alwaysShowCalendars: true,
    }, function (start, end) {
        self.date_range_input.start_date = start.format('YYYY-MM-DD')
        self.date_range_input.end_date = end.format('YYYY-MM-DD')
    });
  },

  methods: {
    assignAgent(selected_row) {
      if (this.selected_agent == "") {
        return;
      }
      return this.changeStatus(selected_row);
    },


    changeStatus(selected_row) {
      this.selected_row_id = selected_row.id;
      let selected_option = document.querySelector(`#select_${selected_row.id}`)
        .value;

      if (selected_option == "DISPATCHED" && this.selected_agent == "") {
        this.show_agent_assign = true;
        this.pause_until_agent_is_assigned = true;
        return;
      } else {
        this.show_agent_assign = false;
        this.pause_until_agent_is_assigned = false;
        return this.sendRequestToChangeStatus(selected_option, selected_row);
      }
      // console.log(this.show_agent_assign);
    },

    sendRequestToChangeStatus(selected_option, selected_row) {
      if (this.pause_until_agent_is_assigned) {
        return;
      }
      // return console.log(this.selected_agent);

      axios
        .post(route("order.status.change"), {
          selected_option,
          selected_row,
          selected_agent: this.selected_agent.id,
        })
        .then((res) => {
          // console.log(res.data);
          this.selected_agent = "";
          return;
        });
    },

    toggleAllCheckboxes() {
      let main_checkbox = document.querySelector("#main_checkbox");
      let all_checkboxes = document.querySelectorAll(".sub_checkbox");
      // console.log(toggle_to);
      all_checkboxes.forEach((checkbox) => {
        checkbox.checked = main_checkbox.checked;
      });
    },

    bulkChangeStatus() {
      if (this.bulk_change_selected_status == "") {
        return this.$root.show_swal("Please select a Status", "error");
      }

      if (
        this.bulk_change_selected_status == "DISPATCHED" &&
        this.selected_agent_bulk == ""
      ) {
        return (this.show_agent_assign_bulk = true);
        // return console.log(1);
      } else {
        this.show_agent_assign_bulk = false;
        // this.selected_agent_bulk = ''
      }

      let selected_rows = [];
      let selected_checkboxes = document.querySelectorAll(".sub_checkbox");
      selected_checkboxes.forEach((cb) => {
        if (cb.checked) {
          selected_rows.push({ value: cb.value });
        }
      });

      if (selected_rows.length < 1) {
        return this.$root.show_swal("No Orders Selected", "error");
      }
      // return console.log(this.selected_agent_bulk);

      axios
        .post(route("order.status.change.bulk"), {
          selected_rows,
          current_default_status: this.current_default_status, //used to load response data correctly
          bulk_change_selected_status: this.bulk_change_selected_status,
          selected_agent_bulk: this.selected_agent_bulk.id,
          paginate_by: this.filters.paginate_by,
        })
        .then((res) => {
          // console.log(res.data);
          this.use_this_table_data = res.data;
        });
    },

    // onSearch(search, loading) {
    //     if(search.length) {
    //         loading(true);
    //         this.search(loading, search, this);
    //     }
    // },
    // search: _.debounce((loading, search, vm) => {

    //     fetch(
    //         // `https://api.github.com/search/repositories?q=${escape(search)}`
    //         `${route('orders.search.field')}?search_by=${escape(search)}`
    //     ).then(res => {
    //         console.log(this.options);
    //         res.json().then(json => (vm.options = json.items));
    //         loading(false);
    //     });
    // }, 350)

    getRecords(page = 1) {
      // console.log(this.filters.paginate_by);
      var customer_id =null;
      if(this.filters.cus_name){
        customer_id= this.filters.cus_name.id
      }
      axios
        .post(route("order.getdata"), {
          status: this.current_default_status,
          page,          
          customer_id: customer_id,
          district: this.filters.district,
          area: this.filters.area,
          start_date: this.date_range_input.start_date,
          end_date: this.date_range_input.end_date,
          paginate_by: this.filters.paginate_by,
        })
        .then((response) => {
           //console.log(response);
          this.use_this_table_data = response.data;
        })
        .catch((err) => {
          console.log(err);
        });
    },

    bindModalData(row) {
      this.modal_data = row;
      $("#newOrderModal").modal("toggle");
    },
  },
};
</script>


