<template>
    <div>
          <table :id="id" :class="class_str" cellspacing="0" width="100%">
              <thead>
                 <slot name="header"></slot>
              </thead>
              <tbody class="table-sm">
              </tbody>
          </table>
    </div>
</template>



<script>

export default {
    props: {
        id:{
             type : String,
             required: true,
        },
        class_str: {
          type : String,
           default: 'display nowrap table table-hover table-striped table-bordered',
           required: false,
        },
        url: {
            type : String,
            required: true,
        },
        method: {
            type : String,
            default : function(){
                return 'GET'
            },
            required: false,

        },
        columns: {
            type :Array,
            required: true,
        },
        columnDefs: {
            default : function(){
                return [];
            },
            type : Array,
            required: false,
        },
         order: {
            default : function(){
                return [];
            },
            type : Array,
            required: false,
        },
        buttons: {
            default : function(){
                return [];
            },
            type : Array,
        },
        displayLength: {
            type : Number,
            default : function(){
                return 25;
            },
        },
        reload: {
            type : Boolean,
            default : function(){
                return false;
            },
        },



    },
    data(){
        return {

        }
    },
    mounted(){
       this.datatable();

    },
    methods:{
        datatable(){

            var csrf_token = this.$page.props.csrf_token;
            $('#'+this.id).DataTable({
                    dom: 'Bfrtip',
                    buttons: this.buttons,
                    processing: true,
                    serverSide: true,
                    ajax: {
                        url: this.url,
                        method: this.method,
                        data: function (d) {
                            d._token = csrf_token;
                            //  d.length = 25;
                        }
                    },
                    order: this.order,
                    columnDefs: this.columnDefs,
                    columns: this.columns,
            });

            $('.dt-buttons').addClass('float-right');
            $('.dataTables_filter').addClass('float-left');
            $('#mytable_processing').addClass('mg-top-26s')
            .html(`<div class="spinner-border text-primary" role="status">
                                    <span class="sr-only">Loading...</span>
                                    </div>`)
            $('.buttons-copy, .buttons-csv, .buttons-print, .buttons-pdf, .buttons-excel').addClass('btn btn-primary mr-1 btn-sm');

        },
        reloadDatatable(){
            var table = $('#'+this.id).DataTable();
            table.ajax.reload();
        }
    }
}
</script>

<style>
.mg-top-26 {
    margin-top: 26px !important;

}
.btn-group > .dropdown-menu > .dropdown-item{
    padding: 0.35rem 1.5rem !important;
}
</style>
