<template>
  <layout>
    <div class="container-fluid">
      <!-- ============================================================== -->
      <!-- Bread crumb and right sidebar toggle -->
      <!-- ============================================================== -->
      <div class="row page-titles">
        <div class="col-md-5 align-self-center">
          <h4 class="text-themecolor">Products</h4>
        </div>
        <div class="col-md-7 align-self-center text-right">
          <div class="d-flex justify-content-end align-items-center">
            <button type="button" class="btn btn-info d-none d-lg-block m-l-15">
              <i class="fa fa-plus-circle"></i> Add New Product
            </button>
          </div>
        </div>
      </div>
      <div class="row">
        <!-- Column -->
        <div class="col-lg-12 col-md-12">
          <form-section @submitted="submit()">
            <template #title>Add New Product</template>
            <template #subtitle> <code>*</code> Required </template>
            <template #form>
              <form-input
                :type="'text'"
                :lable="'Item Name'"
                :placeholder="'Item Name'"
                v-model="form.item_name"
                :customclass="''"
                :error="form.errors.item_name"
                :rowclass="'col-sm-12 col-md-8'"
                :required="true"
              />

              <form-input
                :type="'text'"
                :lable="'Item Description'"
                :placeholder="'Item Description'"
                v-model="form.item_description"
                :customclass="''"
                :error="form.errors.item_description"
                :rowclass="'col-sm-12 col-md-8'"
                :required="true"
              />
              <form-input
                :type="'float'"
                :lable="'Item Price'"
                :placeholder="'Item Price'"
                v-model="form.item_price"
                :customclass="''"
                :error="form.errors.item_price"
                :rowclass="'col-sm-12 col-md-8'"
                :required="true"
              />
            </template>

            <template #actions>
              <button
                type="submit"
                class="btn btn-primary"
                :disabled="form.processing"
              >
                <span
                  v-if="form.processing"
                  class="spinner-border spinner-border-sm"
                  role="status"
                  aria-hidden="true"
                ></span>
                <span v-if="form.processing">Loding...</span>
                <span v-else>Submit</span>
              </button>
              <button
                type="button"
                @click="resetFrom()"
                class="btn btn-inverse"
              >
                Cancel
              </button>
            </template>
          </form-section>
        </div>
        <!-- Column -->
      </div>

      <right-side-bar />
    </div>
  </layout>
</template>


<script>
import Layout from "@/Layouts/Layout";
import RightSideBar from "@/Layouts/partial/RightSideBar";
import FormSection from "@/components/FormSection";
import FormInput from "@/components/FormControl/Input";

export default {
  components: {
    Layout,
    RightSideBar,
    FormSection,
    FormInput,
  },

  props: {
    errors: {
      type: Object,
      required: false,
    },
    edititem: {
      type: Object,
      required: false,
    },
  },

  data() {
    return {
      form: this.$inertia.form({
        id: null,
        item_name: "",
        item_description: "",
        item_price: "",
      }),
    };
  },
  mounted() {
    if (this.edititem != null) {
      this.form.id = this.edititem.id;
      this.form.item_name = this.edititem.item_name;
      this.form.item_description = this.edititem.item_description;
      this.form.item_price = this.edititem.item_price;
    }
  },
  methods: {
    submit() {
      if (this.form.id != null) {
        return this.update();
      } else {
        return this.store();
      }
    },
    store() {
      this.form.post(route("products.store"), {
        // errorBag: 'submit',
        preserveScroll: true,
        onSuccess: () => {
          this.form.reset();
          this.$swal({
            toast: true,
            title: "Transaction successfully!",
            // text : 'Please check the details that you provided!',
            icon: "success",
            position: "top-end",
            timer: 3000,
            timerProgressBar: true,
          });
        },
        onError: () => {
          this.$swal({
            toast: true,
            title: "Something went wrong!",
            // text : 'Please check the details that you provided!',
            icon: "error",
            position: "top-end",
            timer: 3000,
            timerProgressBar: true,
          });
        },
      });
    },
    update() {
      this.form.put(route("products.update"), {
        // errorBag: 'submit',
        preserveScroll: true,
        onSuccess: () => {
          this.form.reset();
          this.$swal({
            toast: true,
            title: "Transaction successfully!",
            // text : 'Please check the details that you provided!',
            icon: "success",
            position: "top-end",
            timer: 3000,
            timerProgressBar: true,
          });
        },
        onError: () => {
          this.$swal({
            toast: true,
            title: "Something went wrong!",
            // text : 'Please check the details that you provided!',
            icon: "error",
            position: "top-end",
            timer: 3000,
            timerProgressBar: true,
          });
        },
      });
    },
    resetFrom() {
      this.form.reset();
      this.form.errors = {};
    },
  },
};
</script>
