<template>
  <layout>
    <div class="container-fluid">

                <div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                        <h4 class="text-themecolor">Backend Users</h4>
                    </div>

                </div>
                <div class="row">
                    <!-- Column -->
                    <div class="col-lg-12 col-md-12">
                        <form-section @submitted="submit()">
                            <template #title>Add New Backend User</template>
                            <template #subtitle> <code>*</code> Required  </template>
                            <template #form>
                                <form-input :type="'text'" :lable="'First Name'" :placeholder="'First Name'" v-model="form.first_name" :customclass="''" :error="form.errors.first_name" :rowclass="'col-sm-12 col-md-8'" :required="true" />
                                <form-input :type="'text'" :lable="'Last Name'" :placeholder="'Last Name'" v-model="form.last_name" :customclass="''" :error="form.errors.last_name" :rowclass="'col-sm-12 col-md-8'" :required="true"/>
                                <form-input :type="'text'" :lable="'Username'" :placeholder="'Username'" v-model="form.username" :customclass="''" :error="form.errors.username" :rowclass="'col-sm-12 col-md-8'" :required="true" />
                                <form-input :type="'email'" :lable="'Email'" :placeholder="'Email'" v-model="form.email" :customclass="''" :error="form.errors.email" :rowclass="'col-sm-12 col-md-8'" :required="true" />
                                <form-input :type="'password'" :lable="'Password'" ref="password" :placeholder="'Password'" v-model="form.password" :customclass="''" :error="form.errors.password" :rowclass="'col-sm-12 col-md-8'" :required="true" />
                                <form-input :type="'password'" :lable="'Confirm Password'" :placeholder="'Confirm Password'" v-model="form.password_confirmation" :customclass="''" :error="form.errors.password_confirmation" :rowclass="'col-sm-12 col-md-8'" :required="true" />
                                <form-input :type="'number'" :lable="'Mobile'" :placeholder="'Mobile'" v-model="form.mobile" :customclass="''" :error="form.errors.mobile" :rowclass="'col-sm-12 col-md-8'" :required="true" />

                                <div class="form-group">
                                    <label for="">User Role</label>
                                    <select v-model="form.role_name" class="form-control">
                                    <option value="">SELECT</option>

                                    <option v-for="role in all_roles" :key="role.id"
                                    :value=role.name
                                    >
                                        {{role.name}}
                                    </option>
                                    </select>
                                    <span v-if="form.errors.role_name" class="text-danger">{{form.errors.role_name}}</span>
                                </div>

                            </template>

                            <template #actions>
                                <button type="submit"  class="btn btn-primary" :disabled="form.processing">
                                    <span v-if="form.processing" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                    <span v-if="form.processing">Loding...</span>
                                    <span v-else>Submit</span>
                                </button>

                                <button type="button" @click="resetFrom()" class="btn btn-inverse">Cancel</button>
                            </template>
                        </form-section>
                    </div>
                    <!-- Column -->
                </div>

                <right-side-bar/>


    </div>
  </layout>
</template>


<script>
import Layout from '@/Layouts/Layout'
import RightSideBar from '@/Layouts/partial/RightSideBar'
import FormSection from '@/components/FormSection'
import FormInput from '@/components/FormControl/Input'

export default {
    components:{
        Layout,
        RightSideBar,
        FormSection,
        FormInput

    },

    props:{
        errors: {
            type: Object,
            required: false
        },
        edit_backend_user: {
            type: Object,
            required: false
        },
        all_roles: {
            type: Array,
            required: true,
        }
    },

    data(){
        return {
            form: this.$inertia.form({
                    id: null,
                    first_name: '',
                    last_name: '',
                    username:'',
                    email:'',
                    password:'',
                    password_confirmation:'',
                    mobile:'',
                    role_name: '',
                })
        }
    },
    mounted(){
       if(this.edit_backend_user!=null){
           this.form.id = this.edit_backend_user.id;
           this.form.first_name = this.edit_backend_user.first_name;
           this.form.last_name = this.edit_backend_user.last_name;
           this.form.username = this.edit_backend_user.name;
           this.form.email = this.edit_backend_user.email;
           this.form.mobile = this.edit_backend_user.mobile;
           this.form.role_name = this.edit_backend_user.roles[0].name;
       }
    },
    methods:{
        submit(){
            if(this.form.id!=null){
               return this.update();
            }else{
                 return this.store();
            }
        },
        store(){
             this.form.post(route('backend.users.store'), {
                    // errorBag: 'submit',
                    preserveScroll: true,
                    onSuccess: () => {
                        this.form.reset()

                        return this.$root.show_swal('User Added!','success')

                        },
                    onError: () => {
                        this.$root.show_swal('Something went wrong!', 'error')

                        if (this.form.errors.password) {
                            this.form.reset('password', 'password_confirmation')
                            this.$refs.password.focus()
                        }

                        if (this.form.errors.current_password) {
                            this.form.reset('current_password')
                            this.$refs.current_password.focus()
                        }
                    }
                })
        },
        update(){
             this.form.put(route('backend.users.update'), {
                    // errorBag: 'submit',
                    preserveScroll: true,
                    onSuccess: () => {
                        this.form.reset()
                        return this.$root.show_swal('User Updated!','success')

                    },
                    onError: () => {
                        this.$root.show_swal('Something went wrong!', 'error')

                        if (this.form.errors.password) {
                            this.form.reset('password', 'password_confirmation')
                            this.$refs.password.focus()
                        }

                        if (this.form.errors.current_password) {
                            this.form.reset('current_password')
                            this.$refs.current_password.focus()
                        }
                    }
                })
        },
        resetFrom(){
            this.form.reset();
            this.form.errors={};
        }
    }
}
</script>
