<template>
<div class="card">
    <div class="card-body">
       <div class="d-flex no-block align-items-center">
                <div>
                    <h3>{{title}}</h3>
                    <h6 class="card-subtitle">January 2017</h6>
                </div>
                <div class="ml-auto">
                    <ul class="list-inline">
                        <li>
                            <h6 class="text-muted">
                                <i class="fa fa-circle m-r-5 text-success"></i>Product A</h6>
                        </li>
                        <li>
                            <h6 class="text-muted">
                                <i class="fa fa-circle m-r-5 text-info"></i>Product B</h6>
                        </li>
                    </ul>
                </div>
        </div>
        <div class="row">
          <div class="col-12">
              <div class="total-revenue4" style="height: 400px;">
                   <area-chart 
                        id="area_2" data='[
                        { "key": "2013", "value": 30 },
                        { "key": "2014", "value": 25 },
                        { "key": "2015", "value": 29 },
                        { "key": "2016", "value": 50 }
                        ]'
                        resize="true" line-colors='[ "#FF6384", "#36A2EB" ]'
                        grid="true" grid-text-weight="bold">
                    </area-chart>
              </div>
          </div>
        </div>
    </div>
</div>
</template>

<script>

import { AreaChart  } from 'vue-morris'
import Raphael from 'raphael/raphael'
export default {
    components:{AreaChart},
    props:['title','data','colors','resize','height'],
    data() {
        return {
            donutData: [
                { label: 'Red', value: 300 },
                { label: 'Blue', value: 50 },
                { label: 'Yellow', value: 100 }
                ],
        }
    },
    created(){
        global.Raphael = Raphael
    },
}
</script>

<style>

</style>