<template>
<div class="card">
    <div class="card-body">
        <h5 class="card-title">{{title}}</h5>
        <div class="ecomm-donute" style="height: 338px;">
            <donut-chart 
            id="donut" 
            :data="data" 
            :colors="colors" 
            :resize="resize">
            </donut-chart>
        </div>
        <ul class="list-inline m-t-30 text-center">
            <li v-for="(label,index) in data" :key="index" class="p-r-20">
                <h5 class="text-muted"><i class="fa fa-circle" :style="'color:'+label.c"></i> {{label.label}}</h5>
                <h4 class="m-b-0">{{label.value}}</h4>
            </li>  
        </ul>
    </div>
</div>
</template>

<script>

import { DonutChart } from 'vue-morris'
import Raphael from 'raphael/raphael'
export default {
    components:{DonutChart},
    props:['title','data','colors','resize','height'],
    data() {
        return {
            donutData: [
                { label: 'Red', value: 300 },
                { label: 'Blue', value: 50 },
                { label: 'Yellow', value: 100 }
                ],
        }
    },
    created(){
        global.Raphael = Raphael
    },
}
</script>

<style>
.morris-hover.morris-default-style {
    background: rgb(60, 60, 60);
}
</style>