<template>
  <layout>
    <div class="container-fluid">

                <div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                        <h4 class="text-themecolor">Show Times</h4>
                    </div>
                    <div class="col-md-7 align-self-center text-right">
                        <div class="d-flex justify-content-end align-items-center">

                        </div>
                    </div>
                </div>
                <div class="row">
                    <!-- Column -->
                    <div class="col-lg-12 col-md-12">
                        <form-section @submitted="submit()">
                            <template #title>Add New Show Time</template>
                            <template #subtitle> <code>*</code> Required  </template>
                            <template #form ref="form">

                            <div class="row">
                                <div class="col">
                                    <SelectInput
                                    v-model="form.channel_id"
                                    :label="'Channel'"
                                    :error="form.errors.channel_name"
                                    >
                                        <option v-for="item in all_channels" :key="item.id"
                                        :value=item.id
                                        >
                                            {{item.channel_name}}
                                        </option>
                                    </SelectInput>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label for=""> Start Time </label>
                                        <br>
                                        <vue-timepicker
                                        input-width="300px"
                                        close-on-complete
                                        :format="time_picker_format"
                                        auto-scroll
                                        v-model="start_timestamp"  ></vue-timepicker>
                                        <!-- <input type="time" v-model="start_timestamp"> -->
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label for=""> End Time </label>
                                        <br>
                                        <vue-timepicker
                                        input-width="300px"
                                        close-on-complete
                                        :format="time_picker_format"
                                        auto-scroll
                                        v-model="end_timestamp"  ></vue-timepicker>
                                        <!-- <input type="time" v-model="end_timestamp"> -->
                                    </div>
                                </div>
                            </div>


                            </template>

                            <template #actions>
                                <button type="submit"  class="btn btn-primary" :disabled="form.processing">
                                    <span v-if="form.processing" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                    <span v-if="form.processing">Loding...</span>
                                    <span v-else>Submit</span>

                                </button>
                                <button type="button" @click="resetFrom()" class="btn btn-inverse">Cancel</button>
                            </template>
                        </form-section>
                    </div>
                    <!-- Column -->
                </div>

                <right-side-bar/>


    </div>
  </layout>
</template>


<script>
import Layout from '@/Layouts/Layout'
import RightSideBar from '@/Layouts/partial/RightSideBar'
import FormSection from '@/components/FormSection'
import FormInput from '@/components/FormControl/Input'
import ImgInput from '@/components/FormControl/ImgInput.vue'
import SelectInput from '@/components/FormControl/SelectInput.vue'
import {MyFunctions} from '@/myFunctions.js'
import VueTimepicker from 'vue2-timepicker'
import 'vue2-timepicker/dist/VueTimepicker.css'

export default {
    components:{
        Layout,
        RightSideBar,
        FormSection,
        FormInput,
        ImgInput,
        SelectInput,
        VueTimepicker ,

    },

    props:[
        'errors', 'all_channels'
    ],

    data(){
        return {
            time_picker_format: 'HH:mm:ss',
            start_timestamp: null,
            end_timestamp: null,
            form: this.$inertia.form({
                    id: null,
                    channel_id: '',
                    start_timestamp: null,
                    end_timestamp: null,
                }),

        }
    },
    mounted(){
       if(this.edit_vehicle_type!=null){
           this.form.id = this.edit_vehicle_type.id;
           this.form.vehicle_type_name = this.edit_vehicle_type.vehicle_type_name;
           this.form.img = this.edit_vehicle_type.img;

           this.show_prev_image = true
       }

    //    console.log(this.edit_vehicle_type);
    },
    methods:{
       submit(){
            if(this.form.id!=null){
               return this.update();
            }else{
                 return this.store();
            }
        },
        store(){
            this.form.start_timestamp = `${this.start_timestamp.HH}:${this.start_timestamp.mm}:${this.start_timestamp.ss}`
            this.form.end_timestamp = `${this.end_timestamp.HH}:${this.end_timestamp.mm}:${this.end_timestamp.ss}`
            // return console.log(this.form)

             this.form.post(route('show.times.store'), {
                    // errorBag: 'submit',
                    preserveScroll: true,
                    onSuccess: () => {
                        this.form.reset()
                        return this.$root.show_swal('Show TIme Created!','success')

                        },
                    onError: () => {
                        this.$root.show_swal('Something went wrong!', 'error')
                    }
                })
        },
        update(){
            // return console.log(this.form);
             this.form.post(route('vehicle.types.update'), {
                    // errorBag: 'submit',
                    preserveScroll: true,
                    onSuccess: () => {
                        this.form.reset()
                        return this.$root.show_swal('Vehicle Type Updated!','success')

                    },
                    onError: () => {
                        this.$root.show_swal('Something went wrong!', 'error')
                    }
                })
        },
        resetFrom(){
            this.form.reset();
            this.form.errors={};
        },


    }
}
</script>
