<template>
  <layout>
    <div class="container-fluid">
      <!-- ============================================================== -->
      <!-- Bread crumb and right sidebar toggle -->
      <!-- ============================================================== -->
      <div class="row page-titles">
        <div class="col-md-5 align-self-center">
          <h4 class="text-themecolor">Customers</h4>
        </div>
        <div class="col-md-7 align-self-center text-right">
          <div class="d-flex justify-content-end align-items-center">
            <!-- <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                                <li class="breadcrumb-item active">Dashboard 4</li>
                            </ol> -->
            <button type="button" class="btn btn-info d-none d-lg-block m-l-15">
              <i class="fa fa-plus-circle"></i> Add New User
            </button>
          </div>
        </div>
      </div>
      <div class="row">
        <!-- Column -->
        <div class="col-lg-12 col-md-12">
          <form-section @submitted="submit()">
            <template #title>Add New Customer</template>
            <template #subtitle> <code>*</code> Required </template>
            <template #form>
              <form-input
                :type="'text'"
                :lable="'First Name'"
                :placeholder="'First Name'"
                v-model="form.first_name"
                :customclass="''"
                :error="form.errors.first_name"
                :rowclass="'col-sm-12 col-md-8'"
                :required="true"
              />
              <form-input
                :type="'text'"
                :lable="'Last Name'"
                :placeholder="'Last Name'"
                v-model="form.last_name"
                :customclass="''"
                :error="form.errors.last_name"
                :rowclass="'col-sm-12 col-md-8'"
                :required="true"
              />
              <form-input
                :type="'text'"
                :lable="'Address'"
                :placeholder="'Address'"
                v-model="form.address"
                :customclass="''"
                :error="form.errors.address"
                :rowclass="'col-sm-12 col-md-8'"
                :required="true"
              />
              <form-input
                :type="'email'"
                :lable="'Email'"
                :placeholder="'Email'"
                v-model="form.email"
                :customclass="''"
                :error="form.errors.email"
                :rowclass="'col-sm-12 col-md-8'"
                :required="true"
              />
              <form-input
                :type="'number'"
                :lable="'Mobile'"
                :placeholder="'Mobile'"
                v-model="form.mobile"
                :customclass="''"
                :error="form.errors.mobile"
                :rowclass="'col-sm-12 col-md-8'"
                :required="true"
              />
              <form-input
                :type="'text'"
                :lable="'NIC'"
                :placeholder="'NIC'"
                v-model="form.nic"
                :customclass="''"
                :error="form.errors.nic"
                :rowclass="'col-sm-12 col-md-8'"
                :required="true"
              />
            </template>

            <template #actions>
              <button
                type="submit"
                class="btn btn-primary"
                :disabled="form.processing"
              >
                <span
                  v-if="form.processing"
                  class="spinner-border spinner-border-sm"
                  role="status"
                  aria-hidden="true"
                ></span>
                <span v-if="form.processing">Loding...</span>
                <span v-else>Submit</span>
              </button>
              <button
                type="button"
                @click="resetFrom()"
                class="btn btn-inverse"
              >
                Cancel
              </button>
            </template>
          </form-section>
        </div>
        <!-- Column -->
      </div>

      <right-side-bar />
    </div>
  </layout>
</template>


<script>
import Layout from "@/Layouts/Layout";
import RightSideBar from "@/Layouts/partial/RightSideBar";
import FormSection from "@/components/FormSection";
import FormInput from "@/components/FormControl/Input";

export default {
  components: {
    Layout,
    RightSideBar,
    FormSection,
    FormInput,
  },

  props: {
    errors: {
      type: Object,
      required: false,
    },
    edituser: {
      type: Object,
      required: false,
    },
  },

  data() {
    return {
      form: this.$inertia.form({
        id: null,
        first_name: "",
        last_name: "",
        address: "",
        email: "",
        mobile: "",
        nic: "",
      }),
    };
  },
  mounted() {
    if (this.edituser != null) {
      this.form.id = this.edituser.id;
      this.form.first_name = this.edituser.first_name;
      this.form.last_name = this.edituser.last_name;
      this.form.address = this.edituser.address;
      this.form.email = this.edituser.email;
      this.form.mobile = this.edituser.mobile;
      this.form.nic = this.edituser.nic;
    }
  },
  methods: {
    submit() {
      if (this.form.id != null) {
        return this.update();
      } else {
        return this.store();
      }
    },
    store() {
      this.form.post(route("customer.store"), {
        // errorBag: 'submit',
        preserveScroll: true,
        onSuccess: () => {
          this.form.reset();
          this.$swal({
            toast: true,
            title: "Transaction successfully!",
            // text : 'Please check the details that you provided!',
            icon: "success",
            position: "top-end",
            timer: 3000,
            timerProgressBar: true,
          });
        },
        onError: () => {
          this.$swal({
            toast: true,
            title: "Something went wrong!",
            // text : 'Please check the details that you provided!',
            icon: "error",
            position: "top-end",
            timer: 3000,
            timerProgressBar: true,
          });
        },
      });
    },
    update() {
      this.form.put(route("customer.update"), {
        // errorBag: 'submit',
        preserveScroll: true,
        onSuccess: () => {
          this.form.reset();
          this.$swal({
            toast: true,
            title: "Transaction successfully!",
            // text : 'Please check the details that you provided!',
            icon: "success",
            position: "top-end",
            timer: 3000,
            timerProgressBar: true,
          });
        },
        onError: () => {
          this.$swal({
            toast: true,
            title: "Something went wrong!",
            // text : 'Please check the details that you provided!',
            icon: "error",
            position: "top-end",
            timer: 3000,
            timerProgressBar: true,
          });
        },
      });
    },
    resetFrom() {
      this.form.reset();
      this.form.errors = {};
    },
  },
};
</script>
