<template>
  <layout>
    <div class="container-fluid">

                <div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                        <h4 class="text-themecolor">Roles</h4>
                    </div>

                </div>
                <div class="row">
                    <!-- Column -->
                    <div class="col-lg-12 col-md-12">
                        <form-section @submitted="submit()">
                            <template #title>Create New Role</template>
                            <template #subtitle> <code>*</code> Required  </template>
                            <template #form>
                                <form-input :type="'text'" :lable="'Role Name'" :placeholder="'Role Name'" v-model="form.role_name" :customclass="''" :error="form.errors.first_name" :rowclass="'col-sm-12 col-md-8'" :required="true" />

                                   <div class="row mb-2">
                                        <div class="col-md-3 col-sm-3 mt-4" v-for="(section,index) in all_permissions" :key="index">
                                        <h4 class="card-title">
                                            {{index[0].toUpperCase() + index.slice(1)}}
                                            <!-- {{index.replaceAll(' ', '')}} -->
                                            </h4>
                                        <ul class="list-group">

                                            <li class="list-group-item bg-primary">
                                                <input class="mr-3" type="checkbox"
                                                :id="'checkbox_'+index.replaceAll(' ', '')"
                                                @click="toggleCheckboxes(index.replaceAll(' ', ''))"
                                                > Select All
                                            </li>
                                            <li v-for="perm in section" :key="perm.id" href="javascript:void(0)" class="list-group-item">
                                            <input :class="'mr-3 perm_checkbox ' + index.replaceAll(' ', '') " type="checkbox" v-model="form.permissions" :value="perm.name"
                                            >
                                            <!-- {{this_role_permissions}} -->
                                                {{perm.ft_name}}
                                            </li>

                                        </ul>
                                    </div>
                                   </div>

                            </template>

                            <template #actions>
                                <button type="submit"  class="btn btn-primary" :disabled="form.processing">
                                    <span v-if="form.processing" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                    <span v-if="form.processing">Loding...</span>
                                    <span v-else>Submit</span>

                                </button>
                                <button type="button" @click="resetFrom()" class="btn btn-inverse">Cancel</button>
                            </template>
                        </form-section>
                    </div>
                    <!-- Column -->
                </div>

                <right-side-bar/>


    </div>
  </layout>
</template>


<script>
import Layout from '@/Layouts/Layout'
import RightSideBar from '@/Layouts/partial/RightSideBar'
import FormSection from '@/components/FormSection'
import FormInput from '@/components/FormControl/Input'

export default {
    components:{
        Layout,
        RightSideBar,
        FormSection,
        FormInput

    },

    props:{
        errors: {
            type: Object,
            required: false
        },
        edit_role: {
            type: Object,
            required: false
        },
        all_permissions: {
            type: Object,
            required: true,
        },

    },

    data(){
        return {
            form: this.$inertia.form({
                    id: null,
                    role_name: '',
                    permissions: [],
                })
        }
    },
    mounted(){
       if(this.edit_role!=null){
           this.form.id = this.edit_role.id;
           this.form.role_name = this.edit_role.name;

           this.checkCheckboxes()
       }
    },
    methods:{
        submit(){
            if(this.form.id!=null){
               return this.update();
            }else{
                 return this.store();
            }
        },
        store(){
             this.form.post(route('roles.store'), {
                    // errorBag: 'submit',
                    preserveScroll: true,
                    onSuccess: () => {
                        this.form.reset()
                        return this.$root.show_swal('Role Created!','success')

                        },
                    onError: () => {
                        this.$root.show_swal('Something went wrong!', 'error')
                    }
                })
        },
        update(){
             this.form.put(route('roles.update'), {
                    // errorBag: 'submit',
                    preserveScroll: true,
                    onSuccess: () => {
                        this.form.reset()
                        return this.$root.show_swal('Role Updated!','success')

                    },
                    onError: () => {
                        this.$root.show_swal('Something went wrong!', 'error')
                    }
                })
        },
        resetFrom(){
            this.form.reset();
            this.form.errors={};
        },

        toggleCheckboxes(section_name){

            let parent_checkbox = document.querySelector(`#checkbox_${section_name}`)
            let checkboxes = document.querySelectorAll(`.perm_checkbox.${section_name}`)

            for(let checkbox of checkboxes){
                checkbox.checked = parent_checkbox.checked

                if(checkbox.checked){
                    // console.log(this.form.permissions.indexOf(checkbox.value) )
                    if(this.form.permissions.indexOf(checkbox.value ) === -1){
                            this.form.permissions.push(checkbox.value)
                    }
                    // console.log(this.form.permissions);

                } else {
                    let index = this.form.permissions.indexOf(checkbox.value)
                    this.form.permissions.splice(index, 1)
                    // console.log(this.form.permissions);
                }
            }

        },


        checkCheckboxes(){
            let checkboxes = document.querySelectorAll(`.perm_checkbox`)

            for(let checkbox of checkboxes){
                for(let perm of this.edit_role.permissions){
                    // console.log(perm.name, checkbox.value, checkbox.value === perm.name);
                    if(checkbox.value === perm.name){
                        checkbox.checked = true

                        // console.log(this.form.permissions.indexOf(checkbox.value) )

                        if(this.form.permissions.indexOf(checkbox.value) === -1){
                            this.form.permissions.push(checkbox.value)
                        }
                    }
                }
            }

            console.log(this.form.permissions);
        }
    }
}
</script>
