<template>
  <layout>
    <div class="container-fluid">
                <div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                        <h4 class="text-themecolor">Roles</h4>
                    </div>
                    <div class="col-md-7 align-self-center text-right">
                        <div class="d-flex justify-content-end align-items-center">

                            <inertia-link v-if="$root.hasPermission('roles.create')" :href="route('roles.create')" class="btn btn-info d-none d-lg-block m-l-15"><i class="fa fa-plus-circle"></i> Create New Role</inertia-link>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!-- Column -->
                    <div class="col-lg-12 col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">List Roles</h5>
                                 <div class="row">
                                <div class="col-sm-12">
                                    <div class="table-responsive">
                                        <data-table ref = "datatable" :id="'mytable'" :url="route('roles.getdata')" :columns="columns" :columnDefs="columnDefs" :buttons="table_buttons"

                                        >
                                            <template #header>
                                                <tr>
                                                    <th width="5%">Action</th>
                                                    <th width="10%">ID</th>
                                                    <th>Role Name</th>
                                                    <!-- <th>Permission</th> -->
                                                </tr>
                                            </template>
                                        </data-table>
                                    </div>
                                </div>
                            </div>
                            </div>

                        </div>
                    </div>
                    <!-- Column -->
                </div>

                <right-side-bar/>


    </div>
  </layout>
</template>


<script>
import Layout from '@/Layouts/Layout'
import RightSideBar from '@/Layouts/partial/RightSideBar'
import DataTable from '@/components/Datatable'

export default {
    components:{
        Layout,
        RightSideBar,
        DataTable,
    },

    props:['table_buttons'],

    data(){
        return {

            columns:[
                { data: 'action', name: 'action', orderable: false, searchable: false},
                { data: 'id', name: 'id', orderable: true },
                { data: 'name', name: 'name', orderable: true },
                // { data: 'permissions', name: 'permissions', orderable: true },
                // { data: null, name: 'permissions', orderable: true ,
                //     render: () => {
                //         this.permissions.forEach(perm => {
                //             return 1
                //         })
                //     }
                // },

            ],

            columnDefs:[
                { className: "text-center", "targets": [0,1] },
            ],
            order: [
                [ 1, "desc" ]
            ],

            form: this.$inertia.form({
                    id: '',
            })
        }
    },
    mounted(){

        // console.log(this.permissions);

        $('#mytable tbody').on('click', 'tr .action_delete',(evt) => {
            const data = $(evt.target).data('userId');    //data-user-id
            this.delete(data);
        });
        $('#mytable tbody').on('click', 'tr .action_edit',(evt) => {
            const data = $(evt.target).data('userId');
            this.$inertia.visit(route('roles.edit',data))
        });

        $('#mytable tbody').on('click', 'tr .action_status_change',(evt) => {
            const data = $(evt.target).data('userId');
            this.updateStatus(data);
        });


    },
    methods:{
        reloadTable(){
            this.$refs.datatable.reloadDatatable();
        },

        delete(id){
            this.$root.delete_alert('roles.delete', this.form, id, this.$refs.datatable)
        },

        updateStatus(id){
            this.form.id = id;
            this.form.put(route('providers.change.status'), {
                    // errorBag: 'submit',
                    preserveScroll: true,
                    onSuccess: () => {
                        this.form.reset()
                        this.reloadTable();
                        return this.$root.show_swal('Status Updated', 'success')
                        },
                    onError: () => {
                        return this.$root.show_swal('Something went wrong!', 'error')
                    }
                })
        }



    }
}
</script>
