<template>
  <layout>
    <div class="container-fluid">
                <div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                        <h4 class="text-themecolor">Map</h4>
                    </div>
                    <div class="col-md-7 align-self-center text-right">
                        <div class="d-flex justify-content-end align-items-center">

                            <!-- <inertia-link v-if="$root.hasPermission('documents.add')" :href="route('documents.create')" class="btn btn-info d-none d-lg-block m-l-15"><i class="fa fa-plus-circle"></i> Add New Document</inertia-link> -->
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!-- Column -->
                    <div class="col-lg-12 col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <!-- <h5 class="card-title">List Documents</h5> -->
                                 <div class="row">
                                <div class="col-sm-12">
                                    <GmapMap
                                        :center="{lat:6.922798990797702,lng:79.97598355806345}"                                        
                                        map-type-id="roadmap"
                                        :zoom="12"
                                        style="width: 100%; height: 800px; margin-top: 0;">
                                        <div v-if="onlineProviders.length > 0" >
                                                <GmapMarker ref="myMarker"
                                                    v-for="(provider,index) in onlineProviders"
                                                    :key="index"
                                                    :position="provider.location"
                                                    :icon="markerOptions"
                                                />
                                            </div>
                                    </GmapMap>                                        
                                </div>
                            </div>
                            </div>

                        </div>
                    </div>
                    <!-- Column -->
                </div>

                <right-side-bar/>


    </div>
  </layout>
</template>


<script>
import Layout from '@/Layouts/Layout'
import RightSideBar from '@/Layouts/partial/RightSideBar'
import db from '@/firebase';
const mapMarker = require('/assets/map/moto.svg');
export default {
    components:{
        Layout,
        RightSideBar,         
    },
    props:[],
    data(){
        return {
            onlineProviders:[],
            conten: null,
            markerOptions: {
                url: '/assets/map/moto.svg',
                // size: {width: 60, height: 90, f: 'px', b: 'px',}, 076 
                scaledSize: {width: 30, height: 45, f: 'px', b: 'px',},
            }
        }
    },
    mounted(){

        // const dbRefObject = db.database().ref().child('object');

        // dbRefObject.on('value', snap => {
        //     console.log(snap.val());
        // }); 6.882629634393099, 79.91489105230713 

        let ref = db.collection('providers')

        ref.onSnapshot(snapshot => {
            snapshot.docChanges().forEach( change => {
                    
                console.log(change.type, change.doc.id,  change.doc.data());
                const provider = {
                    id: change.doc.id,
                    name: change.doc.data().name,
                    location: {
                        lat: change.doc.data().location.x_,
                        lng: change.doc.data().location.N_,
                    },
                    is_online: change.doc.data().is_online,
                    in_rider: change.doc.data().in_rider
                }
                if(change.type == 'added'){
                    this.onlineProviders.push(provider);
                }else if(change.type == 'modified'){

                    const index = this.indexWhere(this.onlineProviders, item => item.id === provider.id);
                    console.log(index);
                     this.onlineProviders.splice(index,1);
                     this.onlineProviders.push(provider);

                    //  this.onlineProviders.filter(element =>{
                    //     if(element.id == provider.id){
                    //          element = provider;
                    //     }
                    // })
                     
                    
                }
            })
        })

    },
    methods:{
         indexWhere(array, conditionFn) {
            const item = array.find(conditionFn)
            return array.indexOf(item)
        }
    }
}
</script>
