<template>
  <div>
    <layout>
      <section class="content card mx-4 mt-4">
        <div class="row">
          <div class="col-md-12">
            <table class="custom_table" border="0">
              <thead>
                <tr>
                  <td><strong class="col">CUSTOMER MOBILE NO :</strong></td>
                  <td>
                    <form-input
                      :type="'number'"
                      class="'col '"
                      v-model="customer_mobile"
                    />
                  </td>
                  <td>
                    <button
                      type="button"
                      class="btn btn-primary mt-4 mb-1 ml-2"
                      @click="searchCustomer()"
                    >
                      SEARCH
                    </button>
                  </td>
                </tr>
              </thead>
            </table>

            <div v-if="form.recentlySuccessful" class="alert alert-success my-2 mx-2"> Inquiry Created Successfully </div>


            <div v-if="show_inquiry_details">
              <table class="custom_table mt-2" border="0">
                <thead>
                  <tr>
                    <td><strong class="col">FIRST NAME</strong></td>
                    <td>
                      <form-input
                        :type="'text'"
                        class="'col'"
                        v-model="form.first_name"
                        :error="form.errors.first_name"
                      />
                    </td>

                    <td><strong class="col">LAST NAME</strong></td>
                    <td>
                      <form-input
                        :type="'text'"
                        class="'col'"
                        v-model="form.last_name"
                        :error="form.errors.last_name"
                      />
                    </td>
                  </tr>
                  <tr>
                    <td><strong class="col">CONTACT 1</strong></td>
                    <td>
                      <form-input
                        :type="'number'"
                        class="'col inputs'"
                        v-model="form.contact_1"
                        :error="form.errors.contact_1"
                      />
                    </td>
                    <td><strong class="col">CONTACT 2</strong></td>
                    <td>
                      <form-input
                        :type="'number'"
                        class="'col inputs'"
                        v-model="form.contact_2"
                      />
                    </td>
                    <td><strong class="col">NIC</strong></td>
                    <td>
                      <form-input
                        :type="'text'"
                        class="'col inputs'"
                        v-model="form.nic"
                        :error="form.errors.nic"
                      />
                    </td>
                  </tr>
                  <tr>
                    <td><strong class="col">ADDRESS</strong></td>
                    <td colspan="3">
                      <form-input
                        :type="'text'"
                        class="'col'"
                        v-model="form.address"
                        :error="form.errors.address"
                      />
                    </td>
                  </tr>
                  <tr>
                    <td><strong class="col">DISTRICT</strong></td>
                    <td colspan="">
                      <select
                        name=""
                        id=""
                        class="form-control"
                        v-model="form.district"
                      >
                        <option value="">SELECT</option>
                        <option v-for="district in all_districts" :key='district.id' value="district.id">
                            {{district.name_en}}
                        </option>
                      </select>
                    </td>
                    <td><strong class="col">AREA</strong></td>
                    <td colspan="">
                      <select
                        name=""
                        id=""
                        v-model="form.area"
                        class="form-control"
                      >
                        <option value="">SELECT</option>
                      </select>
                    </td>
                    <td><strong class="col">SOURCE</strong></td>
                    <td colspan="">
                      <select
                        name=""
                        id=""
                        v-model="form.source"
                        class="form-control"
                      >
                        <option value="">SELECT</option>
                        <option value="INBOUND" >INBOUND</option>
                        <option value="OUTBOUND">OUTBOUND</option>
                      </select>
                    </td>
                  </tr>
                  <tr>
                    <td><strong class="col">REMARKS</strong></td>
                    <td colspan="3">
                      <form-input
                        :type="'text'"
                        v-model="form.remarks"
                        :error="form.errors.remarks"
                      />
                    </td>
                  </tr>
                  <tr>
                    <td><strong class="col">CHANNEL</strong></td>
                    <td colspan="">
                      <select
                        v-model="selected_channel_id"
                        class="form-control"
                      >
                        <option value="">SELECT</option>

                        <option
                          v-for="channel in all_channels"
                          :key="channel.id"
                          :value="channel.id"
                        >
                          {{ channel.channel_name }}
                        </option>
                      </select>
                    </td>
                    <td><strong class="col">SHOW TIME</strong></td>
                    <td colspan="">
                      <select
                        v-model="selected_showtime_id"
                        class="form-control"
                      >
                        <option value="">SELECT</option>
                        <option
                          v-for="showtime in filtered_showtimes"
                          :key="showtime.id"
                          :value="showtime.id"
                        >
                          {{ showtime.start_timestamp }} -
                          {{ showtime.end_timestamp }}
                        </option>
                      </select>
                    </td>
                    <td><strong class="col">DELIVERY DATE </strong></td>
                    <td colspan="">
                      <form-input
                        :type="'date'"
                        v-model="form.deliver_date"
                        :error="form.errors.deliver_date"
                      />
                    </td>
                  </tr>
                  <tr>
                    <td><strong class="'col'">ITEM</strong></td>
                    <td colspan="">
                      <autocomplete
                        ref="autocomplete"
                        placeholder="Search"
                        :source="all_products"
                        input-class="form-control"
                        results-property="data"
                        :results-display="formattedDisplay"
                        @selected="addDistributionGroup()"
                        v-model="item_to_add.selected_item_id"
                      >
                      </autocomplete>


                    </td>
                    <td><strong class="'col'">QTY</strong></td>
                    <td colspan="">
                      <form-input
                        :type="'number'"
                        v-model="item_to_add.selected_item_qty"
                        :error="form.errors.selected_item_qty"
                      />
                    </td>
                    <td>
                      <button
                        @click="addItemToOrder"
                        :disabled="item_to_add.selected_item_qty === ''"
                        type="button"
                        class="'btn btn-info btn-sm my-auto mt-2'"
                      >
                        Add Item
                      </button>
                    </td>
                    <td>
                      <div
                        class="btn-group"
                        role="group"
                        aria-label="Basic example"
                      >
                        <button
                          type="button"
                          @click="setOrdered('0')"
                          class="btn btn-secondary"
                        >
                          INQUIRY
                        </button>
                        <button
                          type="button"
                          @click="setOrdered('1')"
                          class="btn btn-secondary"
                        >
                          ORDERED
                        </button>
                      </div>
                    </td>
                  </tr>
                </thead>
              </table>
            </div>
            <table class="table table-bordered dp-table mt-4">
              <!-- <table
              class="table table-bordered dp-table mt-4"
              v-if="form.added_items.length > 0"
            > -->
              <thead>
                <tr class="bg-danger">
                  <th class="text-center" width="10%">#</th>
                  <th class="text-center" width="10%">#</th>
                  <th class="text-center" width="20%">Item Name</th>
                  <th class="text-center" width="20%">Item Quantity</th>
                  <th class="text-center" width="20%">Price</th>
                  <th class="text-center">#</th>
                </tr>
              </thead>
              <tbody id="serial_no_tbody">
                <tr v-for="(row, index) in form.added_items" :key="index">
                  <td>{{ index + 1 }}</td>
                  <td>{{ row.id }}</td>
                  <td>{{ row.item_name }}</td>
                  <td>{{ row.item_qty }}</td>
                  <td>{{ row.item_price }}</td>
                  <td>
                    <button
                      type="button"
                      class="btn btn-sm btn-danger"
                      @click="remove_row(row)"
                    >
                      Remove
                    </button>
                  </td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td colspan="5" class="text-right">
                    <button
                      type="button"
                      class="btn btn-primary"
                      @click="createOrder()"
                    >
                      ADD Inquiry
                    </button>
                  </td>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </section>
    </layout>
  </div>
</template>
<style scoped>
.inputs {
  padding: 0px 0px 0px 0px !important;
  margin: 0px 0px 0px 0px !important;
}
.custom_table {
  font-family: Arial, Helvetica, sans-serif;
  /* border-collapse: collapse; */
  width: 100%;
}

.custom_table td,
.custom_table th {
  border: 1px solid #ddd;
  padding: 0px;
}
.custom_table strong {
  padding-left: 0px;
}

.custom_table tr {
  background-color: #f2f2f2;
}

/* #customers tr:hover {background-color: #ddd;} */

.custom_table th {
  padding-top: 0px;
  padding-bottom: 0px;
  text-align: center;
  background-color: #6b6b6b;
  color: white;
}

.dp-table tbody td {
  padding-top: 1px !important;
  padding-bottom: 1px !important;
  border: 1px solid #aaaaaa !important;
  vertical-align: middle !important;
  font-weight: 500;
}
.dp-table tbody th {
  padding-top: 3px;
  padding-bottom: 3px;
  border: 1px solid #aaaaaa;
  vertical-align: middle !important;
}

.dp-table thead th {
  padding-top: 3px;
  padding-bottom: 3px;
  border: 1px solid #aaaaaa !important;
  vertical-align: middle !important;
}

.dp-table tbody .balance th {
  padding: 8px;
}
.dp-table tbody .bold-font {
  font-weight: bold;
}

.dp-table .acc-type {
  background-color: rgb(232, 232, 232);
}
</style>

<script>
// import { required } from "vuelidate/lib/validators";
import Layout from "@/Layouts/Layout";
// import RightSideBar from "@/Layouts/partial/RightSideBar";
import FormSection from "@/components/FormSection";
import FormInput from "@/components/FormControl/Input";
// import Autocomplete from "vuejs-auto-complete";
export default {
  props: ["all_products", "all_channels", "all_showtimes", 'all_districts'],
  components: {
    Layout,
    FormSection,
    FormInput,
    // Autocomplete,
  },

  data() {
    return {
      form: this.$inertia.form({
        customer_id: "",
        first_name: "",
        last_name: "",
        deliver_date: "",
        nic: "",
        source: "INBOUND",
        qt: "",
        channel: "",
        show_time: "",
        executive_remarks: "",
        contact_1: "",
        contact_2: "",
        address: "",
        area: "",
        district: "",
        remarks: "",
        added_items: [],
        ordered: 0,
      }),
      item_to_add: {
        selected_item_id: "",
        selected_item: "",
        selected_item_qty: "",
      },
      show_add_items: false,
      show_inquiry_details: false,
      order_status: "",
      customer_mobile: "",
      selected_channel_id: "",
      selected_showtime_id: "",
    };
  },

  computed: {
    filtered_showtimes() {
      this.selected_showtime_id = "";
      let filtered_showtimes = [];

      this.all_showtimes.forEach((showtime) => {
        if (showtime.channel_id == this.selected_channel_id) {
          filtered_showtimes.push(showtime);
        }
      });
      return filtered_showtimes;
    },
  },

  methods: {
    submit() {},
    formattedDisplay(result) {
      return result.item_name;
    },
    addDistributionGroup(group) {
      //  console.log(group)
      // this.selected_item.selected_item = group
      // access the autocomplete component methods from the parent
      // this.$refs.autocomplete.clear()
    },
    setOrdered(status) {
      this.form.ordered = status;
    },
    createOrder() {
      this.form.post(route("order.store"), {
        // errorBag: 'submit',
        preserveScroll: true,
        onSuccess: () => {
          this.form.reset();
        //   this.$swal({
        //     toast: true,
        //     title: "Inquiry added Succesfully ",
        //     // text : 'Please check the details that you provided!',
        //     icon: "success",
        //     position: "top-end",
        //     timer: 3000,
        //     timerProgressBar: true,
        //   });
        },
        onError: () => {
          this.$swal({
            toast: true,
            title: "Something went wrong!",
            // text : 'Please check the details that you provided!',
            icon: "error",
            position: "top-end",
            timer: 3000,
            timerProgressBar: true,
          });
        },
      });
      // axios
      //   .post("/orders/store", {
      //     customer_id: this.form.customer_id,
      //     customer_name: this.form.customer_name,
      //     delivery_date: this.form.delivery_date,
      //     source: this.form.source,
      //     qt: this.form.qt,
      //     channel: this.form.channel,
      //     show_time: this.form.show_time,
      //     executive_remarks: this.form.executive_remarks,
      //     contact_1: this.form.contact_1,
      //     contact_2: this.form.contact_2,
      //     address: this.form.address,
      //     area: this.form.area,
      //     district: this.form.district,
      //     remarks: this.form.remarks,
      //   })
      //   .then((response) => {
      //     localStorage.order_id = response.data;
      //     this.show_add_items = true;
      //     this.$swal({
      //       toast: true,
      //       title: "Inquiry Added successfully!",
      //       text: "Please Add items !",
      //       icon: "success",
      //       position: "top-center",
      //       timer: 3000,
      //       timerProgressBar: true,
      //     });
      //   });
    },

    addItemToOrder() {
      let selected_item = this.all_products[
        this.item_to_add.selected_item_id - 1
      ];

      let new_row = {
        item_id: selected_item.id,
        item_name: selected_item.item_name,
        item_qty: this.item_to_add.selected_item_qty,
        item_price: selected_item.item_price,
      };
      this.form.added_items.push(new_row);
    },
    remove_row(row) {
      let index = this.form.added_items.indexOf(row);
      this.form.added_items.splice(index, 1);
    },
    searchCustomer() {
      axios
        .post("/customers/search", {
          customer_mobile: this.customer_mobile,
        })
        .then((response) => {
          if (response.data.status == "success") {
            this.form.first_name = response.data[0].first_name;
            this.form.last_name = response.data[0].last_name;
            this.form.customer_id = response.data[0].id;
            this.form.address = response.data[0].address;
            this.form.contact_1 = response.data[0].mobile;
            this.form.nic = response.data[0].nic;

            this.show_inquiry_details = true;
          } else {
            this.form.contact_1 = this.customer_mobile;
            this.show_inquiry_details = true;
          }
        });
    },
  },
};
</script>
