<template>
  <div>
    <layout>
      <div class="card mx-3 mt-3">
        <div class="card-body">
          <!-- <table>
            <tr>
              <th><label for="" class="my-auto">Customer Mobile No </label></th>
              <th>
                <input
                  v-model="customer_mobile"
                  type="number"
                  class="form-control ml-3"
                  maxlength="10"
                  v-on:keyup.enter="searchCustomer"
                />
              </th>
              <th>
                <button
                  :disabled="customer_mobile.length !== 10"
                  type="button"
                  class="btn btn-primary my-auto ml-4"
                  @click="searchCustomer"
                >
                  SEARCH
                </button>
              </th>
            </tr>
          </table> -->
          <table class="custom_table">
              <tbody>
                <tr>
                  <td width="15%">
                     <strong>Customer Mobile No :</strong>
                   </td>
                   <td width="35%">
                     <input
                         v-model="customer_mobile"
                         id="find_cus_mobile"
                         type="text"
                         class="form-control ml-3"
                         maxlength="10"
                         v-on:keyup.enter="searchCustomer"
                       />
                   </td>
                   <td width="50%">
                       <button
                        :disabled="customer_mobile==null || customer_mobile.length !== 10"
                        type="button"
                        class="btn btn-primary my-auto ml-4"
                        @click="searchCustomer"
                      >
                        SEARCH
                      </button>
                   </td>

                </tr>
              </tbody>
          </table>
          <br>
            <table class="custom_table">
                <tbody>                          
                    <tr>
                        <td width="15%">
                          <strong>First Name :</strong>
                        </td>
                        <td width="35%">
                            <FormInputV3
                               v-model="form.first_name"
                               type="'text'"
                               id="first_name"
                               label="First Name"
                               :error="form.errors.first_name"
                           ></FormInputV3>
                        </td>
                         <td width="15%"><strong>Last Name :</strong></td>
                        <td width="35%">
                            <FormInputV3
                               v-model="form.last_name"
                               type="'text'"
                               id="last_name"
                               label="Last Name"
                               :error="form.errors.last_name"
                           ></FormInputV3>
                        </td>
                    </tr>
                    <tr>
                        <td>
                          <strong>Contact 01 :</strong>
                        </td>
                        <td>
                            <FormInputV3
                             v-model="form.contact_1"
                             type="'number'"
                             label="Contact 1"
                             maxlength="10"
                             :error="form.errors.contact_1"
                           ></FormInputV3>
                        </td>
                         <td><strong>Contact 02 :</strong></td>
                        <td>
                            <FormInputV3
                               v-model="form.contact_2"
                               type="'number'"
                               label="Contact 2"
                               maxlength="10"
                               :error="form.errors.contact_2"
                           ></FormInputV3>
                        </td>
                    </tr>
                     <tr>
                        <td width="15%">
                          <strong>NIC :</strong>
                        </td>
                        <td width="35%">
                            <FormInputV3                                      
                             v-model="form.nic"
                             type="'number'"
                             label="NIC"
                             maxlength="10"
                             :error="form.errors.nic"                                   
                           ></FormInputV3>
                        </td>
                         <td width="15%"><strong>Source :</strong></td>
                        <td width="35%">
                              <select
                             v-model="form.source"
                             class="form-control custom-select"
                           >
                             <option value="INBOUND">INBOUND</option>
                             <option value="OUTBOUND">OUTBOUND</option>
                           </select>
                           <small
                             v-if="form.errors.source"
                             class="form-control-feedback text-danger"
                           >
                             {{ form.errors.source }}
                           </small>
                        </td>
                    </tr>
                    <tr>
                       <td>
                          <strong>Address :</strong>
                        </td>
                        <td colspan="3">
                           <FormInputV3
                             v-model="form.address"
                             type="'text'"
                             label="Address"
                             id="address"
                             :error="form.errors.address"
                           ></FormInputV3>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="custom_table">              
                <tbody>
                  <tr>
                    <td width="15%"><strong>District :</strong></td>
                    <td width="35%">                      
                      <v-select style="background: white;"
                        v-model="selected_district_id"                       
                        :label="'name_en'"
                        id="district_id_naj"
                        :options="all_districts"
                      ></v-select>
                    </td>
                    <td width="15%"><strong>Area :</strong></td>
                    <td width="35%">                    
                      <v-select style="background: white;"
                       v-model="selected_area_id"                       
                        :label="'area_name'"
                        :options="filtered_areas"
                      ></v-select>
                       
                    </td> 
                  </tr>    
                   <tr>
                    <td width="15%"><strong>Channel :</strong></td>
                    <td width="35%">   
                        <v-select style="background: white;"
                         v-model="selected_channel_id"                       
                        :label="'channel_name'"
                        :options="all_channels"
                        ></v-select>                
                       
                    </td>
                    <td width="15%"><strong>Show Time :</strong></td>
                    <td width="35%">
                      <SelectInputV3
                           v-model="selected_showtime_id"
                            :label="'Showtime'"
                            :options="filtered_showtimes"
                            :option_value="'id'"
                            :option_label="'start_timestamp'"
                            :extra_option_label="'end_timestamp'"
                      ></SelectInputV3>                      
                    </td> 
                  </tr>  
                  <tr>
                    <td width="15%"><strong>Remarks :</strong></td>
                    <td width="85%" colspan="3">
                      <textarea style="width:100%" v-model="form.remarks" id="remark_text" rows="2"></textarea>
                      <small v-if="form.errors.remarks" class="form-control-feedback text-danger"> {{ form.errors.remarks }} </small>
                    </td>  
                  </tr>           
              </tbody>
             </table>
             <br>
             <table class="custom_table">
               <thead>
                 <tr>
                   <td colspan="2" width="15%"><strong>Product Name :</strong></td>
                   <td width="60%">
                     <v-select style="background: white;"
                         v-model="selected_item"
                        :class_str="'style-chooser'"
                        :label="'item_description'"
                        :options="all_products"
                        ></v-select>                         
                   </td>
                   <td width="5%"><strong> QTY :</strong></td>
                   <td width="10%">
                      <FormInputV3
                        v-model="item_qty"
                        type="number"
                        label="Item QTY"                            
                      ></FormInputV3>
                   </td>
                   <td width="10%" class="text-center">
                        <button
                            type="button"
                            @click="addItemToOrder"
                            :disabled="selected_item == null || item_qty == ''"
                            class="btn btn-info"
                          >
                            Add
                          </button>
                   </td>
                 </tr>
                 <tr>
                   <th>#</th>
                   <th colspan="2">Item Name - Description</th>
                   <th>QTY</th>
                   <th>Price (LKR)</th>
                   <th>Action</th>
                 </tr>
               </thead>
               <tbody>
                 <tr   v-for="(row, index) in form.added_items"  :key="index">
                      <td class="text-center" width="5%">{{ index + 1 }}</td>
                      <td colspan="2" >{{ row.item_name }}</td>
                      <td class="text-center" width="8%">{{ row.item_qty }}</td>
                      <td width="15%" class="text-right">
                        {{ parseFloat(row.item_price).toFixed(2) }}
                      </td>
                      <td class="text-center" width="5%">
                        <!-- <button
                          type="button"
                          class="btn btn-sm btn-danger"
                          @click="remove_row(row)"
                        >
                          Remove
                        </button> -->
                        <a href="#" @click="remove_row(row)" class="text-danger">Remove</a>
                      </td>
                    </tr>
               </tbody>
               <tfoot>
                 <tr class="footer-row">
                   <td class="text-right" colspan="4"> <strong>TOTAL : &nbsp; &nbsp; &nbsp;</strong></td>
                   <td class="text-right"> <strong>{{itemTotal}}</strong></td>
                   <td></td>
                 </tr>
                 <tr>
                   <td colspan="2" class="text-center">
                     Delivery Date :
                   </td>
                   <td class="text-center">
                      <input
                                v-model="form.deliver_date"
                                type="date"
                                class="form-control"
                              />
                              <small
                                v-if="form.errors.deliver_date"
                                class="form-control-feedback text-danger"
                              >
                                {{ form.errors.deliver_date }}
                                </small>
                   </td>                   
                   <td class="text-center" style="padding:5px;" colspan="3">
                     <div class="btn-group">
                          <button
                            @click="createOrder('0')"
                            type="button"
                            class="btn btn-lg btn-primary"
                          >
                            INQUIRY
                          </button>
                          <button
                          :disabled="!form.deliver_date"
                            @click="createOrder('1')"
                            type="button"
                            class="btn btn-lg btn-info"
                          >
                            NEW ORDER
                          </button>
                        </div>
                   </td>
                 </tr>
               </tfoot>
             </table>
              <br>
              <div class="row">
                <!-- Column -->
                <div class="col-lg-12 col-md-12">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Customer History</h5>
                      <div v-if="this.form.customer_id" class="row">
                        <div class="col-sm-12">
                          <div class="table-responsive">
                            <data-table
                              ref="datatable"
                              :id="'mytable'"
                              :url="history_url"
                              :columns="columns"
                              :columnDefs="columnDefs"
                              :order="order"
                                                             
                            >
                              <template #header>
                                <tr>
                                  <th width="5%">Action</th>
                                  <th width="8%"># Order ID</th>
                                  <th width="10%">Call Agent</th>
                                  <th width="8%">IN/OR Date</th>
                                  <th width="28%">Order Details</th>
                                  <th width="15%">Address</th>
                                  <th width="10%">Order Total</th>
                                  <th width="8%">Delivery Date</th>
                                  <th width="8%">Status</th>
                                </tr>
                              </template>
                            </data-table>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
<!-- v-if="show_inquiry_details" -->
          
        </div>
      </div>
    </layout>
  </div>
</template>

<script>
import Layout from "@/Layouts/Layout";
// import RightSideBar from "@/Layouts/partial/RightSideBar";
import FormSection from "@/components/FormSection";
import FormInput from "@/components/FormControl/Input";
import FormInputV2 from "@/components/FormControl/FormInputV2";
import FormInputV3 from "@/components/FormControl/FormInputV3";
import SelectInputV2 from "@/components/FormControl/SelectInputV2";
import SelectInputV3 from "@/components/FormControl/SelectInputV3";
import VSelectNonAjax from "@/components/FormControl/VSelectNonAjax";
import DataTable from "@/components/Datatable";
// const input = this.$refs.address;
// import Autocomplete from "vuejs-auto-complete";
export default {
  props: [
    "all_products",
    "all_channels",
    "all_showtimes",
    "all_districts",
    "all_areas",
  ],
  components: {
    Layout,
    FormSection,
    FormInput,
    FormInputV2,
    SelectInputV2,
    SelectInputV3,
    VSelectNonAjax,
    FormInputV3,
    DataTable,
    // Autocomplete,
  },

  data() {
    return {
      columns: [
        { data: "action", name: "action", orderable: false, searchable: false },
        { data: "id", name: "id", orderable: true },
        { data: "agent", name: "agent", orderable: false, searchable:false },
        { data: "order_date", name: "order_date", orderable: true },
        { data: "details", name: "details", orderable: false, searchable: false },
        { data: "address", name: "address", orderable: true },
        { data: "order_total", name: "order_total", orderable: true },
        { data: "deliver_date", name: "deliver_date", orderable: true },
        { data: "status", name: "status", orderable: false},
      ],
      columnDefs: [
        { className: "text-center", targets: [1,2,3,7,8] },
        { className: "text-right", targets: [6] },
        ],
      order: [[1, "desc"]],
      history_url:'',

      form: this.$inertia.form({
        customer_id: "",
        first_name: "",
        last_name: "",
        deliver_date: "",
        nic: "",
        source: "INBOUND",
        qt: "",
        channel: null,
        show_time: "",
        executive_remarks: "",
        contact_1: "",
        contact_2: "",
        address: "",
        area: "",
        district: "",
        remarks: "",
        added_items: [],
        ordered: 0,
        // selected_showtime_id: '',
      }),
      item_to_add: {
        selected_item_id: "",
        selected_item: "",
        selected_item_qty: "",
      },
      show_add_items: false,
      show_inquiry_details: false,
      order_status: "",
      customer_mobile: "",
      selected_channel_id: null,
      selected_district_id: null,
      selected_showtime_id: null,
      selected_area_id: null,
      selected_item: null,
      item_qty: "1",
    };
  },

  computed: {
    filtered_showtimes() {
      //   this.selected_showtime_id = "";
      let filtered_showtimes = [];
    if(this.selected_channel_id){
       this.all_showtimes.forEach((showtime) => {
        if (showtime.channel_id == parseInt(this.selected_channel_id.id)) {
          filtered_showtimes.push(showtime);
        }
      });
    }
     
      return filtered_showtimes;
    },
    filtered_areas() {
      //   this.selected_area_id = "";
      let filtered_areas = [];

      if(this.selected_district_id){
        this.all_areas.forEach((area) => {
        if (area.district_id == parseInt(this.selected_district_id.id)) {
          filtered_areas.push(area);
        }
      });
      }
      // console.log(filtered_areas)
      return filtered_areas;
    },
    itemTotal(){
      var total =0.0;
      if(this.form.added_items.length>0){
        this.form.added_items.forEach(element=> {
        total = parseFloat(total) + parseFloat(element.item_price)
      });
      }      
      return total.toFixed(2);
    }
  },

  methods: {
    submit() {},
    formattedDisplay(result) {
      return result.item_name;
    },
    addDistributionGroup(group) {
      //  console.log(group)
      // this.selected_item.selected_item = group
      // access the autocomplete component methods from the parent
      // this.$refs.autocomplete.clear()
    },
    setOrdered(status) {
      this.form.ordered = status;
    },
    createOrder(order_status) {
      this.form.ordered = order_status;

      if(this.selected_channel_id){
        this.form.channel = this.selected_channel_id.id;
      }else{
        return 
      }

      if(this.selected_showtime_id){
          this.form.show_time = this.selected_showtime_id;
      }else{
          return 
      }

      if(this.selected_district_id){
          this.form.district = this.selected_district_id.id;
      }else{
          return 
      }

      if(this.selected_area_id){
         this.form.area = this.selected_area_id.id;
      }else{
          return 
      }

    
      // console.log(this.form.showtime, this.selected_showtime_id);
      //this.form.show_time = this.selected_showtime_id.id;
      // this.form.selected_showtime_id = this.selected_showtime_id
      // console.log(this.form.showtime, this.selected_showtime_id);
      this.form.district = this.selected_district_id.id;
      this.form.area = this.selected_area_id.id;

      if (this.form.nic != "" && this.form.nic != null) {
        if (
          (!isNaN(this.form.nic.slice(0, 9)) &&
            this.form.nic.length == 10 &&
            this.form.nic[9] == "V") ||
          (!isNaN(this.form.nic) && this.form.nic.length == 12)
        ) {
        } else {
          return this.$root.show_swal("Invalid NIC", "error");
        }
      }

      this.form.post(route("order.store"), {
        // errorBag: 'submit',
        preserveScroll: true,
        onSuccess: () => {
          this.form.reset();
          this.form.added_items = [];
          this.selected_channel_id = null;
          this.selected_district_id = null
          this.selected_showtime_id = null
          this.selected_area_id = null
           this.customer_mobile =null;
          $('#find_cus_mobile').focus();
          this.$swal({
            toast: true,
            title: "Inquiry added Succesfully ",
            // text : 'Please check the details that you provided!',
            icon: "success",
            position: "top-end",
            timer: 3000,
            timerProgressBar: true,
          });
        },
        onError: () => {
          this.$swal({
            toast: true,
            title: "Something went wrong!",
            // text : 'Please check the details that you provided!',
            icon: "error",
            position: "top-end",
            timer: 3000,
            timerProgressBar: true,
          });
        },
      });
    },

    addItemToOrder() {
      //   let selected_item = this.all_products[
      //     this.item_to_add.selected_item_id - 1
      //   ];

      //   let new_row = {
      //     item_id: selected_item.id,
      //     item_name: selected_item.item_name,
      //     item_qty: this.item_to_add.selected_item_qty,
      //     item_price: selected_item.item_price,
      //   };
      let new_row = this.selected_item;
      new_row["item_qty"] = this.item_qty;
      this.form.added_items.push(this.selected_item);
    },
    remove_row(row) {
      let index = this.form.added_items.indexOf(row);
      this.form.added_items.splice(index, 1);
    },
    searchCustomer() {

      if (this.customer_mobile!=null && this.customer_mobile.length == 10) {
        this.form.reset();
        this.selected_channel_id=null;
        this.selected_district_id=null;
        this.selected_showtime_id=null;
        this.selected_area_id=null;
    
        axios
          .post("/customers/search", {
            customer_mobile: this.customer_mobile,
          })
          .then((response) => {
            if (response.data.status == "success") {
              // console.log('sadsa');
              // this.focuss()
              // this.$refs.address.focus()
              this.form.first_name = response.data[0].first_name;
              this.form.last_name = response.data[0].last_name;
              this.form.customer_id = response.data[0].id;
              this.form.address = response.data[0].address;
              this.form.contact_1 = response.data[0].mobile;
              this.form.contact_2 = response.data[0].land_phone;
              this.form.nic = response.data[0].nic;

              this.show_inquiry_details = true;
              this.history_url = `/inquiry/get/customer/history/data/${this.form.customer_id}`;
              $("#remark_text").focus();
             // this.$refs.datatable.reloadDatatable();
              // document.getElementById('address').focus();
              // setTimeout(() => document.getElementById("address").focus(), 5);
            } else {
              this.form.contact_1 = this.customer_mobile;
              this.show_inquiry_details = true;
              $("#first_name").focus();
              // document.getElementById('first_name').focus();
              // setTimeout(
              //   () => document.getElementById("first_name").focus(),
              //   5
              // );
            }
          });
      } else {
        
      }
    },

    // focuss() {
    //   document.getElementById("#address").focus();
    // },
  },
};
</script>
<style scoped>
.custom_table {
   font-family: Arial, Helvetica, sans-serif;
   border-collapse: collapse;
   width: 100%;
}

.custom_table td, .custom_table th {
   border: 1px solid #ddd;
   padding: 2px;
   background-color: #f1f1f1
}
.custom_table strong {
  color: #525f7f;
  padding-left: 5px;
  
  font-weight: 700;
}

.custom_table tr {background-color: #f2f2f2;}

.custom_table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #6b6b6b;
    color: white;
  }
  .custom_table tbody  td {
    padding-right: 5px;
    padding-left: 5px;
  }

  .footer-row td {
    background-color: #d3d3d3;
  }
  
</style>