<template>
  <div>
    <layout>
      <div class="container-fluid">
        <div class="row page-titles">
          <div class="col-md-5 align-self-center">
            <h4 class="text-themecolor">Orders</h4>
          </div>
        </div>
        <div class="row">
          <!-- Column -->
          <div class="col-lg-12 col-md-12">
            <div class="card">

              <div class="row mb-3 pb-2">
                <form-input
                  :type="'number'"
                  :lable="'Customer Mobile'"
                  :rowclass="'col-sm-12 col-md-4 ml-3'"
                  :required="true"
                  v-model="customer_mobile"
                />

                <button
                  type="button"
                  class="btn btn-primary mt-4 mb-1"
                  @click="searchCustomer()"
                >
                  SEARCH
                </button>

              </div>
              <!-- </div> -->
            </div>
          </div>

          <!-- <right-side-bar /> -->
        </div>
        <div v-if="show_inquiry_details">
          <div class="row">
            <!-- Column -->
            <div class="col-lg-12 col-md-12">
              <form-section @submitted="createOrder()">
                <template #title>Create New Inquiry</template>

                <template #subtitle> <code>*</code> Required </template>
                <template #form>
                  <div class="row">
                    <form-input
                      :type="'text'"
                      :lable="'Customer Name'"
                      :rowclass="'col-sm-12 col-md-4'"
                      :required="true"
                      v-model="form.customer_name"
                      :error="form.errors.customer_name"
                    />

                    <div class="form-group col-2">
                      <label for="">Source</label>
                      <select
                        name=""
                        id=""
                        v-model="form.source"
                        class="form-control"
                      >
                        <option value="">SELECT</option>
                        <option value="">INBOUND</option>
                        <option value="">OUTBOUND</option>
                      </select>
                    </div>

                    <form-input
                      :type="'text'"
                      :lable="'QT'"
                      :rowclass="'col-sm-12 col-md-4'"
                      :required="true"
                      v-model="form.qt"
                      :error="form.errors.qt"
                    />
                  </div>

                  <div class="row">
                    <div class="form-group col-3">
                      <label for="">Channel</label>
                      <select v-model="selected_channel_id" class="form-control">
                        <option value="">SELECT</option>

                        <option v-for="channel in all_channels" :key="channel.id" :value="channel.id" > {{channel.channel_name}} </option>
                      </select>
                    </div>

                    <div class="form-group col-3">
                      <label for="">Show Time</label>
                      <select v-model="selected_showtime_id" class="form-control">
                        <option value="">SELECT</option>
                        <option v-for="showtime in filtered_showtimes" :key="showtime.id" :value="showtime.id" >
                            {{showtime.start_timestamp}} - {{showtime.end_timestamp}}
                             <!-- <template v-if="selected_channel_id == showtime.channel_id">
                                 {{showtime.start_timestamp}} - {{showtime.end_timestamp}}
                             </template>
                             <template v-else>
                                 {{null}}
                             </template> -->
                        </option>
                      </select>
                    </div>

                    <form-input
                      :type="'number'"
                      :lable="'Contact '"
                      :rowclass="'col-sm-12 col-md-3'"
                      :required="true"
                      v-model="form.contact_1"
                      :error="form.errors.contact_1"
                    />
                    <form-input
                      :type="'number'"
                      :lable="'Contact 2'"
                      :rowclass="'col-sm-12 col-md-3'"
                      :required="true"
                      v-model="form.contact_2"
                      :error="form.errors.contact_2"
                    />
                  </div>

                  <div class="row">
                    <form-input
                      :type="'text'"
                      :lable="'Address'"
                      :rowclass="'col-sm-12 col-md-8'"
                      :required="true"
                      v-model="form.address"
                      :error="form.errors.address"
                    />

                    <div class="form-group col-2">
                      <label for="">District</label>
                      <select name="" id="" class="form-control">
                        <option value="">SELECT</option>
                      </select>
                    </div>

                    <div class="form-group col-2">
                      <label for="">Area</label>
                      <select name="" id="" class="form-control">
                        <option value="">SELECT</option>
                      </select>
                    </div>
                  </div>

                  <div class="row">
                    <form-input
                      :type="'text'"
                      :lable="'Remarks'"
                      :rowclass="'col-sm-12 col-md-10'"
                      :required="true"
                      v-model="form.remarks"
                      :error="form.errors.remarks"
                    />
                    <form-input
                      :type="'date'"
                      :lable="'Delivery Date'"
                      :rowclass="'col-sm-12 col-md-2'"
                      :required="true"
                      v-model="form.delivery_date"
                      :error="form.errors.delivery_date"
                    />
                  </div>

                  <hr />
                  <div v-if="show_add_items">
                    <h5 class="card-title">Add Order Items</h5>
                    <div class="row">
                      <div class="form-group col-2">
                        <label for="">Item</label>
                        <select
                          name=""
                          id=""
                          class="form-control"
                          v-model="item_to_add.selected_item"
                        >
                          <option value="">SELECT</option>
                          <option
                            v-for="product in all_products"
                            :key="product.id"
                            :value="product"
                          >
                            {{ product.item_name }}
                          </option>
                        </select>
                      </div>

                      <form-input
                        :type="'number'"
                        :lable="'Quantity'"
                        :rowclass="'col-sm-12 col-md-2'"
                        :required="true"
                        v-model="item_to_add.selected_item_qty"
                         :error="form.errors.selected_item_qty"
                      />

                      <button
                        @click="addItemToOrder"
                        :disabled="
                          item_to_add.selected_item === '' ||
                          item_to_add.selected_item_qty === ''
                        "
                        type="button"
                        class="btn btn-info btn-sm my-auto"
                      >
                        Add Item
                      </button>
                    </div>
                  </div>

                  <table
                    v-if="form.added_items.length > 0"
                    class="table table-sm table-hover text-center px-3 py-3"
                  >
                    <thead>
                      <tr>
                        <th>#</th>
                        <th>Item Name</th>
                        <th>Item Quantity</th>
                        <th>Price</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr v-for="(row, index) in form.added_items" :key="index">
                        <td>{{ index + 1 }}</td>
                        <td>{{ row.item_name }}</td>
                        <td>{{ row.item_qty }}</td>
                        <td>{{ row.item_price }}</td>
                        <td>
                          <button
                            type="button"
                            class="btn btn-sm btn-danger"
                            @click="remove_row(row)"
                          >
                            Remove
                          </button>
                        </td>
                      </tr>

                    </tbody>
                  </table>
                </template>

                <template #actions>
                  <button
                    type="button"
                    class="btn btn-primary"
                    @click="createOrder()"
                  >
                    ADD Inquiry
                  </button>
                  <button type="button" class="btn btn-inverse">Cancel</button>
                  <div class="form-group col-4 mt-4">
                    <select
                      class="form-control"
                      name=""
                      v-model="order_status"
                      @click="setOrdered()"
                      id=""
                    >
                      <option value="">SELECT</option>
                      <!-- <option value="INQUIRY">INQUIRY</option> -->
                      <option value="NEW">ORDERED</option>
                    </select>
                  </div>
                </template>
              </form-section>
            </div>
            <!-- Column -->
          </div>
        </div>
        <!-- <right-side-bar /> -->
      </div>
    </layout>
  </div>
</template>


<script>
// import { required } from "vuelidate/lib/validators";
import Layout from "@/Layouts/Layout";
// import RightSideBar from "@/Layouts/partial/RightSideBar";
import FormSection from "@/components/FormSection";
import FormInput from "@/components/FormControl/Input";

export default {
  props: ["all_products", 'all_channels', 'all_showtimes'],
  components: {
    Layout,
    FormSection,
    FormInput,
  },

  data() {
    return {
      form: this.$inertia.form({
        customer_id: "",
        customer_name: "",
        delivery_date: "",
        source: "",
        qt: "",
        channel: "",
        show_time: "",
        executive_remarks: "",
        contact_1: "",
        contact_2: "",
        address: "",
        area: "",
        district: "",
        remarks: "",
        added_items: [],
      }),
      item_to_add: {
        selected_item: "",
        selected_item_qty: "",
      },
      show_add_items: false,
      show_inquiry_details: false,
      order_status: "",
      customer_mobile: "",
      selected_channel_id : '',
      selected_showtime_id : '',
    };
  },

  computed: {
      filtered_showtimes(){
          this.selected_showtime_id = ''
          let filtered_showtimes = []

          this.all_showtimes.forEach(showtime => {
              if(showtime.channel_id == this.selected_channel_id){
                  filtered_showtimes.push(showtime)
              }
          })
          return filtered_showtimes
      }
  },


  methods: {
    submit() {},
    createOrder() {
      axios
        .post("/orders/store", {
          customer_id: this.form.customer_id,
          customer_name: this.form.customer_name,
          delivery_date: this.form.delivery_date,
          source: this.form.source,
          qt: this.form.qt,
          channel: this.form.channel,
          show_time: this.form.show_time,
          executive_remarks: this.form.executive_remarks,
          contact_1: this.form.contact_1,
          contact_2: this.form.contact_2,
          address: this.form.address,
          area: this.form.area,
          district: this.form.district,
          remarks: this.form.remarks,
        })
        .then((response) => {
          localStorage.order_id = response.data;
          this.show_add_items = true;
          this.$swal({
            toast: true,
            title: "Inquiry Added successfully!",
            text : 'Please Add items !',
            icon: "success",
            position: "top-center",
            timer: 3000,
            timerProgressBar: true,
          });

        });
    },

    addItemToOrder() {
      let new_row = {
        item_name: this.item_to_add.selected_item.item_name,
        item_qty: this.item_to_add.selected_item_qty,
        item_price: this.item_to_add.selected_item.item_price,
      };
      this.form.added_items.push(new_row);
    },
    remove_row(row) {
      let index = this.form.added_items.indexOf(row);
      this.form.added_items.splice(index, 1);
    },
    searchCustomer() {
      axios
        .post("/customers/search", {
          customer_mobile: this.customer_mobile,
        })
        .then((response) => {
          console.log(response.data)
          if (response.data.status == "success") {
            this.form.customer_name = response.data[0].first_name;
            this.form.customer_id = response.data[0].id;
            this.form.customer_name = response.data[0].first_name;
            this.form.address = response.data[0].address;
            this.form.contact_1 = response.data[0].mobile;

            this.show_inquiry_details = true;
          } else {
            this.form.contact_1=this.customer_mobile
            this.show_inquiry_details = true;
          }
        });
    },
    setOrdered() {
      console.log(this.order_status);
      axios
        .post("/inquiry/toorder", {
          status: 'NEW',
          order_id:localStorage.order_id
        })
        .then((response) => {
            // console.log(response.data)
            this.form.reset()
            this.form.added_items=[]
        });
    },
  },
};
</script>
