<template>
  <div>
    <layout>
      <div class="card mx-3 mt-3">
        <div class="card-body">
          <table>
            <tr>
              <th><label for="" class="my-auto">Customer Mobile No </label></th>
              <th>
                <input
                  v-model="customer_mobile"
                  type="number"
                  class="form-control ml-3"
                  maxlength="10"
                  v-on:keyup.enter="searchCustomer"
                />
              </th>
              <th>
                <button
                  :disabled="customer_mobile.length !== 10"
                  type="button"
                  class="btn btn-primary my-auto ml-4"
                  @click="searchCustomer"
                >
                  SEARCH
                </button>
              </th>
            </tr>
          </table>

          <div v-if="show_inquiry_details" class="row">
            <div class="col-lg-12">
              <div class="card">
                <div class="card-body">
                  <div class="form-horizontal">
                    <div class="form-body">
                      <!-- <h5 class="box-title">Person Info</h5> <hr class="m_t_0 m_b_0"> -->
                      <div class="row">
                        <div class="col-md-4">
                          <FormInputV2
                            v-model="form.first_name"
                            type="'text'"
                            id="first_name"
                            label="First Name"
                            :error="form.errors.first_name"
                          ></FormInputV2>
                        </div>

                        <!--/span-->
                        <div class="col-md-4">
                          <FormInputV2
                            v-model="form.last_name"
                            type="'text'"
                            label="Last Name"
                            :error="form.errors.last_name"
                          ></FormInputV2>
                        </div>
                        <!--/span-->
                      </div>

                      <div class="row">
                        <div class="col-md-4">
                          <FormInputV2
                            v-model="form.contact_1"
                            type="'number'"
                            label="Contact 1"
                            :error="form.errors.contact_1"
                          ></FormInputV2>
                        </div>
                        <div class="col-md-4">
                          <FormInputV2
                            v-model="form.contact_2"
                            type="'number'"
                            label="Contact 2"
                            :error="form.errors.contact_2"
                          ></FormInputV2>
                        </div>
                        <div class="col-md-4">
                          <FormInputV2
                            v-model="form.nic"
                            type="'number'"
                            label="NIC"
                            :error="form.errors.nic"
                          ></FormInputV2>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12" style="right: 208px">
                          <FormInputV2
                            v-model="form.address"
                            type="'text'"
                            label="Address"
                            id="address"
                            :error="form.errors.address"
                          ></FormInputV2>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-4">
                          <SelectInputV2
                            v-model="selected_district_id"
                            :label="'District'"
                            :options="all_districts"
                            :option_value="'id'"
                            :option_label="'name_en'"
                          ></SelectInputV2>
                        </div>

                        <div class="col-md-4">
                          <!-- <SelectInputV2 v-model="form.area"
                                                :label="'Area'"
                                                ></SelectInputV2> -->
                          <SelectInputV2
                            v-model="selected_area_id"
                            :label="'Areas'"
                            :options="filtered_areas"
                            :option_value="'id'"
                            :option_label="'area_name'"
                          ></SelectInputV2>
                        </div>

                        <div class="col-md-4">
                          <div class="form-group row" style="margin: 2px 2px">
                            <label class="control-label text-right col-md-3">
                              Source</label
                            >
                            <div class="col-md-9">
                              <select
                                v-model="form.source"
                                class="form-control custom-select"
                              >
                                <option value="INBOUND">INBOUND</option>
                                <option value="OUTBOUND">OUTBOUND</option>
                              </select>
                              <small
                                v-if="form.errors.source"
                                class="form-control-feedback text-danger"
                              >
                                {{ form.errors.source }}
                              </small>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-4">
                          <SelectInputV2
                            v-model="selected_channel_id"
                            :label="'Channel'"
                            :options="all_channels"
                            :option_value="'id'"
                            :option_label="'channel_name'"
                          ></SelectInputV2>
                        </div>
                        <div class="col-md-4">
                          <SelectInputV2
                            v-model="selected_showtime_id"
                            :label="'Showtime'"
                            :options="filtered_showtimes"
                            :option_value="'id'"
                            :option_label="'start_timestamp'"
                            :extra_option_label="'end_timestamp'"
                          ></SelectInputV2>

                          <!-- id {{ selected_showtime_id }}
                                                form {{form.show_time}} -->
                        </div>
                        <div class="col-md-4">
                          <div class="form-group row" style="margin: 2px 2px">
                            <label class="control-label text-right col-md-3">
                              Delivery Date</label
                            >
                            <div class="col-md-9">
                              <input
                                v-model="form.deliver_date"
                                type="date"
                                class="form-control"
                              />
                              <small
                                v-if="form.errors.deliver_date"
                                class="form-control-feedback text-danger"
                              >
                                {{ form.errors.deliver_date }}
                              </small>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-12" style="right: 208px">
                          <FormInputV2
                            v-model="form.remarks"
                            type="'text'"
                            label="Remarks"
                            :error="form.errors.remarks"
                          ></FormInputV2>
                        </div>
                      </div>

                      <div class="row mt-2">
                        <div class="col-md-4">
                          <div class="form-group row" style="margin: 2px 2px">
                            <label class="control-label text-right col-md-3">
                              Add Item</label
                            >
                            <VSelectNonAjax
                              v-model="selected_item"
                              class="col-md-9"
                              :label="'item_description'"
                              :options="all_products"
                            ></VSelectNonAjax>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <FormInputV2
                            v-model="item_qty"
                            type="'number'"
                            label="Item QTY"
                          ></FormInputV2>
                        </div>
                        <div class="col-md-4 my-auto">
                          <button
                            type="button"
                            @click="addItemToOrder"
                            :disabled="selected_item == null || item_qty == ''"
                            class="btn btn-info"
                          >
                            Add Item
                          </button>
                        </div>
                      </div>

                      <table
                        v-if="form.added_items.length > 0"
                        class="table table-sm table-bordered text-center mt-2"
                      >
                        <thead>
                          <tr class="bg-dark text-light">
                            <th>#</th>
                            <th>Item Name</th>
                            <th>Item Quantity</th>
                            <th>Price</th>
                            <th>Action</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr
                            v-for="(row, index) in form.added_items"
                            :key="index"
                          >
                            <td width="5%">{{ index + 1 }}</td>
                            <td>{{ row.item_name }}</td>
                            <td width="8%">{{ row.item_qty }}</td>
                            <td width="15%" style="text-align: right">
                              {{ parseFloat(row.item_price).toFixed(2) }}
                            </td>
                            <td width="5%">
                              <button
                                type="button"
                                class="btn btn-sm btn-danger"
                                @click="remove_row(row)"
                              >
                                Remove
                              </button>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>

                    <div class="form-actions mt-3">
                      <div class="row justify-content-center">
                        <div class="btn-group">
                          <button
                            @click="createOrder('0')"
                            type="button"
                            class="btn btn-lg btn-primary"
                          >
                            INQUIRY
                          </button>
                          <button
                            @click="createOrder('1')"
                            type="button"
                            class="btn btn-lg btn-info"
                          >
                            NEW ORDER
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </layout>
  </div>
</template>

<script>
import Layout from "@/Layouts/Layout";
// import RightSideBar from "@/Layouts/partial/RightSideBar";
import FormSection from "@/components/FormSection";
import FormInput from "@/components/FormControl/Input";
import FormInputV2 from "@/components/FormControl/FormInputV2";
import SelectInputV2 from "@/components/FormControl/SelectInputV2";
import VSelectNonAjax from "@/components/FormControl/VSelectNonAjax";
// const input = this.$refs.address;
// import Autocomplete from "vuejs-auto-complete";
export default {
  props: [
    "all_products",
    "all_channels",
    "all_showtimes",
    "all_districts",
    "all_areas",
  ],
  components: {
    Layout,
    FormSection,
    FormInput,
    FormInputV2,
    SelectInputV2,
    VSelectNonAjax,
    // Autocomplete,
  },

  data() {
    return {
      form: this.$inertia.form({
        customer_id: "",
        first_name: "",
        last_name: "",
        deliver_date: "",
        nic: "",
        source: "INBOUND",
        qt: "",
        channel: "",
        show_time: "",
        executive_remarks: "",
        contact_1: "",
        contact_2: "",
        address: "",
        area: "",
        district: "",
        remarks: "",
        added_items: [],
        ordered: 0,
        // selected_showtime_id: '',
      }),
      item_to_add: {
        selected_item_id: "",
        selected_item: "",
        selected_item_qty: "",
      },
      show_add_items: false,
      show_inquiry_details: false,
      order_status: "",
      customer_mobile: "",
      selected_channel_id: "",
      selected_district_id: "",
      selected_showtime_id: "",
      selected_area_id: "",
      selected_item: null,
      item_qty: "",
    };
  },

  computed: {
    filtered_showtimes() {
      //   this.selected_showtime_id = "";
      let filtered_showtimes = [];

      this.all_showtimes.forEach((showtime) => {
        if (showtime.channel_id == this.selected_channel_id) {
          filtered_showtimes.push(showtime);
        }
      });
      return filtered_showtimes;
    },
    filtered_areas() {
      //   this.selected_area_id = "";
      let filtered_areas = [];

      this.all_areas.forEach((area) => {
        if (area.district_id == this.selected_district_id) {
          filtered_areas.push(area);
        }
      });
      // console.log(filtered_areas)
      return filtered_areas;
    },
  },

  methods: {
    submit() {},
    formattedDisplay(result) {
      return result.item_name;
    },
    addDistributionGroup(group) {
      //  console.log(group)
      // this.selected_item.selected_item = group
      // access the autocomplete component methods from the parent
      // this.$refs.autocomplete.clear()
    },
    setOrdered(status) {
      this.form.ordered = status;
    },
    createOrder(order_status) {
      this.form.ordered = order_status;
      this.form.channel = this.selected_channel_id;
      // console.log(this.form.showtime, this.selected_showtime_id);
      this.form.show_time = this.selected_showtime_id;
      // this.form.selected_showtime_id = this.selected_showtime_id
      // console.log(this.form.showtime, this.selected_showtime_id);
      this.form.district = this.selected_district_id;
      this.form.area = this.selected_area_id;

      if (this.form.nic !== "") {
        if (
          (!isNaN(this.form.nic.slice(0, 9)) &&
            this.form.nic.length == 10 &&
            this.form.nic[9] == "V") ||
          (!isNaN(this.form.nic) && this.form.nic.length == 12)
        ) {
        } else {
          return this.$root.show_swal("Invalid NIC", "error");
        }
      }

      this.form.post(route("order.store"), {
        // errorBag: 'submit',
        preserveScroll: true,
        onSuccess: () => {
          this.form.reset();
          this.form.added_items = [];
          this.selected_channel_id = "";
          this.selected_district_id = "";
          this.selected_showtime_id = "";
          this.selected_area_id = "";
          this.$swal({
            toast: true,
            title: "Inquiry added Succesfully ",
            // text : 'Please check the details that you provided!',
            icon: "success",
            position: "top-end",
            timer: 3000,
            timerProgressBar: true,
          });
        },
        onError: () => {
          this.$swal({
            toast: true,
            title: "Something went wrong!",
            // text : 'Please check the details that you provided!',
            icon: "error",
            position: "top-end",
            timer: 3000,
            timerProgressBar: true,
          });
        },
      });
    },

    addItemToOrder() {
      //   let selected_item = this.all_products[
      //     this.item_to_add.selected_item_id - 1
      //   ];

      //   let new_row = {
      //     item_id: selected_item.id,
      //     item_name: selected_item.item_name,
      //     item_qty: this.item_to_add.selected_item_qty,
      //     item_price: selected_item.item_price,
      //   };
      let new_row = this.selected_item;
      new_row["item_qty"] = this.item_qty;
      this.form.added_items.push(this.selected_item);
    },
    remove_row(row) {
      let index = this.form.added_items.indexOf(row);
      this.form.added_items.splice(index, 1);
    },
    searchCustomer() {
      if (this.customer_mobile.length == 10) {
        axios
          .post("/customers/search", {
            customer_mobile: this.customer_mobile,
          })
          .then((response) => {
            if (response.data.status == "success") {
              // console.log('sadsa');
              // this.focuss()
              // this.$refs.address.focus()
              this.form.first_name = response.data[0].first_name;
              this.form.last_name = response.data[0].last_name;
              this.form.customer_id = response.data[0].id;
              this.form.address = response.data[0].address;
              this.form.contact_1 = response.data[0].mobile;
              this.form.nic = response.data[0].nic;

              this.show_inquiry_details = true;
              // document.getElementById('address').focus();
              // setTimeout(() => document.getElementById("address").focus(), 5);
            } else {
              this.form.contact_1 = this.customer_mobile;
              this.show_inquiry_details = true;
              // document.getElementById('first_name').focus();
              // setTimeout(
              //   () => document.getElementById("first_name").focus(),
              //   5
              // );
            }
          });
      } else {
        
      }
    },

    // focuss() {
    //   document.getElementById("#address").focus();
    // },
  },
};
</script>
