<template>
  <layout>
    <!-- <OrderDetailModel :order_details="order_details" /> -->
    <div class="container-fluid">
      <!-- ============================================================== -->
      <!-- Bread crumb and right sidebar toggle -->
      <!-- ============================================================== -->
      <div class="row page-titles">
        <div class="col-md-5 align-self-center">
          <h4 class="text-themecolor">{{ status[0] + status.slice(1).toLowerCase() }} Orders</h4>                        
        </div>
        <div class="col-md-7 align-self-center text-right">
          <div class="d-flex justify-content-end align-items-center">
           
          </div>
        </div>
      </div>
      <div class="row m-t-10">
                 
        <div class="col-md-6 col-lg-3 col-xlg-3">
            <div class="card">
                <div class="box bg-info text-center">
                    <h1 class="font-light text-white">2,064</h1>
                    <h6 class="text-white">Total Tickets</h6>
                </div>
            </div>
        </div>
        
        <div class="col-md-6 col-lg-3 col-xlg-3">
            <div class="card">
                <div class="box bg-primary text-center">
                    <h1 class="font-light text-white">1,738</h1>
                    <h6 class="text-white">Responded</h6>
                </div>
            </div>
        </div>
        
        <div class="col-md-6 col-lg-3 col-xlg-3">
            <div class="card">
                <div class="box bg-success text-center">
                    <h1 class="font-light text-white">1100</h1>
                    <h6 class="text-white">Resolve</h6>
                </div>
            </div>
        </div>
         
        <div class="col-md-6 col-lg-3 col-xlg-3">
            <div class="card">
                <div class="box bg-dark text-center">
                    <h1 class="font-light text-white">964</h1>
                    <h6 class="text-white">Pending</h6>
                </div>
            </div>
        </div>
                                 
     </div>
     <!-- <div class="row">
         <div class="col-md-12">
             <div class="card">
                 <a data-action="collapse">
                <div class="card-header bg-purple text-white">
                    Filter
                    <div class="card-actions">
                        <a class="" data-action="collapse"><i class="ti-minus"></i></a>
                        <a class="btn-minimize" data-action="expand"><i class="mdi mdi-arrow-expand"></i></a>                        
                    </div>
                </div>
                </a>
                <div class="card-body collapse show">
                    <div class="row">           
                            <div class="col-9">
                            <label for=""> <b>Customer :</b> </label>
                                <VSelect
                                :label="'first_name'"
                                :placeholder="'Search by Customer Name'"
                                v-model="filters.cus_name"
                            ></VSelect>
                            
                            </div>
                    </div>
                    <div class="row mt-2">
                                            
                        
                        <div class="col-3">
                            <label for=""> <b>District :</b> </label>
                        <VSelectNonAjax
                            label="name_en"
                            :options="districts"
                            :placeholder="'Search by District '"
                            v-model="filters.district"
                        ></VSelectNonAjax>
                            
                        </div>
                        
                        <div class="col-3">
                            <label for=""> <b>Area :</b> </label>
                            <VSelectNonAjax
                                label="area_name"
                                :options="filtered_areas"
                                :placeholder="'Search by Area'"
                                v-model="filters.area"
                            ></VSelectNonAjax>
                        </div>
                        
                        <div class="col-3">
                            <label for=""> <b>Order Date</b> </label>
                                        <div class='input-group mb-3'>
                                            <input
                                            id="dateRangeInput" type='text' class="form-control shawCalRanges" />
                                            <div class="input-group-append">
                                                <span class="input-group-text">
                                                    <span class="ti-calendar"></span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>

                        <div class="col-3">
                            <div class="row">
                                    <button @click="getRecords" class="btn btn-info mx-auto">
                                        Apply Filters
                                    </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
         </div>
     </div> -->
      <div class="row">
        <!-- Column -->
        <div class="col-lg-12 col-md-12">
          <div class="card">
            <div class="card-body">
              
              <div class="row">
                <div class="col-sm-12">
                  <div class="table-responsive">
                    <CustomTable
                    :table_data="new_orders"
                    :all_statuses="all_statuses"
                    :current_default_status="status_id"
                    :all_agents="all_agents"
                    :districts="districts"
                    :all_areas="all_areas"
                    ></CustomTable>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Column -->
      </div>

      <!-- <right-side-bar/> -->
    </div>
  </layout>
</template>


<script>
import Layout from "@/Layouts/Layout";
// import DataTable from "@/components/Datatable";
import CustomTable from "@/components/CustomTable";
import VSelect from "@/components/FormControl/VSelect";
import VSelectNonAjax from "@/components/FormControl/VSelectNonAjax";
import OrderModal from "@/Pages/Order/OrderModal";
// import OrderDetailModel from "@/Pages/Order/OrderDetailModel";
import axios from "axios";
export default {
  components: {
    Layout,    
    CustomTable,
    VSelect,
    VSelectNonAjax,
    OrderModal
  },

  props: ["table_buttons", "status", 'new_orders', 'all_statuses', 'all_agents','districts','all_areas', 'status_id'],
  mounted() {
    // console.log(this.data_table_route);
    $("#mytable tbody").on("click", "tr .action_view", (evt) => {
      const data = $(evt.target).data("orderId");
      const status = $(evt.target).data("status");
    //   this.viewOrder(data,this.status);
    });
  },

  data() {
    return {    

      form: this.$inertia.form({
        id: "",
      }),

      selected_status_id: null,
      bulk_change_selected_status: "",
      use_this_table_data: {},
      show_agent_assign: false,
      pause_until_agent_is_assigned: false,
      selected_agent: "",
      selected_row_id: null,
      show_agent_assign_bulk: false,
      selected_agent_bulk: "",
      modal_data: null,
      // options: [],
      // use_this_table_data : this.filtered_table_data,
      filters: {
          cus_name: "",
          district: null,
          area: "",
          order_date: "",
          delivery_date: "",
          paginate_by: "10",
      },
      date_range_input: {
          start_date: '',
          end_date: '',
      },
    };
  },
  methods: {
    reloadTable() {
      this.$refs.datatable.reloadDatatable();
    },   
  },
};
</script>
