<template>
  <div
    class="modal bs-example-modal-lg"
    id="newOrderModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel1"
    data-order-id="0"
  >
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="exampleModalLabel1">New Order</h4>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="">First Name     :</label> 
              <label>{{ data.customer_name }}</label>
           
            </div>

            <!-- {{data}} -->
            <!-- <div class="form-group">
             <label for="">Last Name      :</label> 
              <label>{{ data.customer.last_name  }}</label>
            </div> -->
            <div class="form-group">
             <label for="">Address     :</label> 
              <label>{{ data.address  }}</label>
            </div>
            <div class="form-group">
             <label for="">NIC     :</label> 
              <label>{{ data.nic  }}</label>
            </div>
            <div class="form-group">
             <label for="">Mobile     :</label> 
              <label>{{ data.mobile  }}</label>
            </div>
            <div class="form-group">
             <label for="">Order Total     :</label> 
              <label>{{ data.order_total  }}</label>
            </div>
            <div class="form-group">
             <label for="">Status     :</label> 
              <label>{{ data.status  }}</label>
            </div>
           
          </form>

          <table class="table table-sm table-hover text-center px-3 py-3">
          <thead>
            <tr>
              <th>Item Name</th>
              <th>Item Quantity</th>
              <th>Price</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="item in data.ordered_items " :key="item.id">
              <th>{{ item.item.item_name }}</th>
              <th>{{ item.product_qty }}</th>
              <th>{{ item.item.item_price }}</th>
           
            </tr>
          </tbody>
        </table>
        </div>

        <div class="modal-footer">
       
        </div>

        
      </div>
    </div>
  </div>
  <!-- /.modal -->
</template>

<script>
export default {
  props: ["data"],

  data() {
    return {

      form: this.$inertia.form({
        order_id: localStorage.order_id,
        selected_product: "",
        product_id: null,
        product_qty: null,
        rows: [],
      }),
    };
  },
  methods: {
    addItemToOrder() {
      console.log(this.form.order_id);
      let new_row = {
        item_name: this.form.selected_product.item_name,
        item_qty: this.form.product_qty,
        item_price: this.form.selected_product.item_price,
      };
      this.form.rows.push(new_row);

      axios
        .post("/orders/store/additems", {
          order_id: this.form.order_id,
          product_name: this.form.selected_product.item_name,
          product_id: this.form.selected_product.id,
          product_qty: this.form.product_qty,
          product_each_price: this.form.selected_product.item_price,
          product_total:
            this.form.selected_product.item_price * this.form.product_qty,
        })
        .then((response) => {
          //  console.log(response)
        });
    },

    remove_row(row) {
      axios
        .post("/orders/store/removeitems", {
          order_id: this.form.order_id,
          product_id: this.form.selected_product.id,
        })
        .then((response) => {
          //  console.log(response)
        });
      let index = this.form.rows.indexOf(row);
      this.form.rows.splice(index, 1);
    },
  },
};
</script>

<style>
</style>
