<template>
  <div
    class="modal"
    id="newOrderDetailModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel1"
    data-order-id="0"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="exampleModalLabel1">Order Details</h4>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="">Order ID:</label>
              <label>{{ order_details[0]["id"] }}</label>
            </div>
            <div class="form-group">
              <label for="recipient-name" class="control-label"
                >Delivery Date:</label
              >
              <label for="xx" class="control-label">{{
                order_details[0]["deliver_date"]
              }}</label>
            </div>
            <div class="form-group">
              <label for="recipient-name" class="control-label"
                >Order Total:</label
              >
              <label for="xx" class="control-label">{{
                order_details[0]["order_total"]
              }}</label>
            </div>
          </form>
        </div>

        <div class="modal-footer"></div>

        <table class="table table-sm table-hover text-center px-3 py-3">
          <thead>
            <tr>
              <th>#</th>
              <th>Item Name</th>
              <th>Item Quantity</th>
              <th>Price</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="order in order_details" :key="order.id">
              <th></th>
              <th>{{ order.item_name }}</th>
              <th>{{ order.product_qty }}</th>
              <th>{{ order.item_price }}</th>
            </tr>
          </tbody>
        </table>
        <button class="btn btn-sm btn-danger" @click="forwardOrder()">
          FORWARD
        </button>
      </div>
    </div>
  </div>
  <!-- /.modal -->
</template>

<script>
export default {
  props: ["order_details"],

  data() {
    return {};
  },
  created() {},
  methods: {
    forwardOrder() {
      var status = localStorage.order_detail_status;
      var new_status = "";
      if (status == "NEW") {
        console.log("PENDING");
        new_status = "PENDING";
      } else if (status == "PENDING") {
        console.log("DISPATCHED");
        new_status = "DISPATCHED";
      } else if (status == "DISPATCHED") {
        console.log("DELIVERED");
        new_status = "DELIVERED";
      } else {
        console.log("COLPLETE");
        new_status = "COLPLETE";
      }
       axios
        .post("/order/details/forward", {
          // data:{
          id: localStorage.order_detail_id,
          status: new_status,
          // }
        })
        .then((response) => {
          $("#newOrderDetailModal").modal("hide");
          location.reload();
        });
    },
  },
};
</script>

<style>
</style>
