<template>
    <layout>
       <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                        <h4 class="text-themecolor">My Profile</h4>                       
                    </div>
                    <div class="col-md-7 align-self-center text-right">
                        <div class="d-flex justify-content-end align-items-center">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                                <li class="breadcrumb-item active">My Profile</li>
                            </ol>
                            <!-- <button type="button" class="btn btn-info d-none d-lg-block m-l-15"><i class="fa fa-plus-circle"></i> Create New</button> -->
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <!-- Row -->
                <div class="row">
                    <!-- Column -->
                    <div class="col-lg-4 col-xlg-3 col-md-5">
                        <div class="card">
                            <div class="card-body">
                                <center class="m-t-30"> <img :src="$page.props.user.profile_photo_url" :alt="$page.props.user.name" class="img-circle" width="150" />
                                    <h4 class="card-title m-t-10">{{$page.props.user.name}}</h4>
                                    <h6 class="card-subtitle">Role Name</h6>
                                    <div class="row text-center justify-content-md-center">
                                        <div class="col-4"><a href="javascript:void(0)" class="link"><i class="icon-people"></i> <font class="font-medium">254</font></a></div>
                                        <div class="col-4"><a href="javascript:void(0)" class="link"><i class="icon-picture"></i> <font class="font-medium">54</font></a></div>
                                    </div>
                                </center>
                            </div>
                            <div>
                                <hr> </div>
                            <div class="card-body"> <small class="text-muted">Email address </small>
                                <h6>{{$page.props.user.email}}</h6> <small class="text-muted p-t-30 db">Phone</small>
                                <h6>+91 654 784 547</h6> <small class="text-muted p-t-30 db">Address</small>
                                <h6>71 Pilgrim Avenue Chevy Chase, MD 20815</h6>
                                <!-- <div class="map-box">
                                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d470029.1604841957!2d72.29955005258641!3d23.019996818380896!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395e848aba5bd449%3A0x4fcedd11614f6516!2sAhmedabad%2C+Gujarat!5e0!3m2!1sen!2sin!4v1493204785508" width="100%" height="150" frameborder="0" style="border:0" allowfullscreen></iframe>
                                </div>  -->
                                <br>
                                <small class="text-muted p-t-30 db">Social Profile</small>
                                <br/>
                                <br>
                                <button class="btn btn-circle btn-secondary"><i class="fab fa-facebook-f"></i></button>
                                <button class="btn btn-circle btn-secondary"><i class="fab fa-twitter"></i></button>
                                <button class="btn btn-circle btn-secondary"><i class="fab fa-youtube"></i></button>
                            </div>
                        </div>
                    </div>
                    <!-- Column -->
                    <!-- Column -->
                    <div class="col-lg-8 col-xlg-9 col-md-7">
                        <div class="card">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs profile-tab" role="tablist">
                                <li v-if="$page.props.jetstream.canUpdateProfileInformation" class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#profile-info" role="tab">Profile Information</a> </li>
                                <li v-if="$page.props.jetstream.canUpdatePassword" class="nav-item"> <a class="nav-link" data-toggle="tab" href="#profile" role="tab">Update Password</a> </li>
                                <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#settings" role="tab">Settings</a> </li>
                            </ul>
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div class="tab-pane active" id="profile-info" role="tabpanel">
                                    <div class="card-body">
                                          <div v-if="$page.props.jetstream.canUpdateProfileInformation">
                                                <update-profile-information-form :user="$page.props.user" />

                                                <jet-section-border />
                                          </div>
                                    </div>
                                </div>
                                <!--second tab-->
                                <div class="tab-pane" id="profile" role="tabpanel">
                                    <div class="card-body">
                                         <div v-if="$page.props.jetstream.canUpdatePassword">
                                            <update-password-form class="mt-10 sm:mt-0" />

                                            <jet-section-border />
                                        </div> 
                                    </div>
                                </div>
                                <div class="tab-pane" id="settings" role="tabpanel">
                                    <div class="card-body bg-secondary">
                                         <div v-if="$page.props.jetstream.canManageTwoFactorAuthentication">
                                            <two-factor-authentication-form class="mt-10 sm:mt-0" />

                                            <jet-section-border />
                                        </div>
                                        <br>
                                         <logout-other-browser-sessions-form :sessions="sessions" class="mt-10 sm:mt-0" />
                                            <br>
                                        <template v-if="$page.props.jetstream.hasAccountDeletionFeatures">
                                            <jet-section-border />

                                            <delete-user-form class="mt-10 sm:mt-0" />
                                        </template>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Column -->
                    <!-- .right-sidebar -->    
                    <right-side-bar/>
                    <!-- End Right sidebar -->
                </div>               
       </div>       
    </layout>
</template>

<script>
    import Layout from '@/Layouts/Layout'
    import RightSideBar from '@/Layouts/partial/RightSideBar'
    import DeleteUserForm from './DeleteUserForm'
    import JetSectionBorder from '@/Jetstream/SectionBorder'
    import LogoutOtherBrowserSessionsForm from './LogoutOtherBrowserSessionsForm'
    import TwoFactorAuthenticationForm from './TwoFactorAuthenticationForm'
    import UpdatePasswordForm from './UpdatePasswordForm'
    import UpdateProfileInformationForm from './UpdateProfileInformationForm'
    import PasswordConfirmModal from '@/components/Modal'

    export default {
        props: ['sessions'],

        components: {
            Layout,
            RightSideBar,
            DeleteUserForm,
            JetSectionBorder,
            LogoutOtherBrowserSessionsForm,
            TwoFactorAuthenticationForm,
            UpdatePasswordForm,
            UpdateProfileInformationForm,
            PasswordConfirmModal,
        },
    }
</script>
