<template>
     <div class="row">
       <div class="col-12">
           <div class="card">
               <div class="card-body">
                   <h4 class="card-title">Profile Information</h4>
                   <h6 class="card-subtitle"> Update your account's profile information and email address. </h6>                  
                   <form class="mt-4" @submit.prevent="updateProfileInformation">
                        <div class="row">
                            <div class="col-sm-12 col-md-6">
                                 <div class="form-group mb-2">
                                    <label for="name">Name</label>
                                    <input type="text" class="form-control" id="name" v-model="form.name" autocomplete="name">  
                                     <jet-input-error :message="form.errors.name" class="mt-2" />                        
                                </div>
                                <div class="form-group mb-2">
                                    <label for="email">Email address</label>
                                    <input type="email" class="form-control" id="email" v-model="form.email">
                                    <jet-input-error :message="form.errors.email" class="mt-2" />
                                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                                </div> 
                                <div class="form-group">
                                     <div class="mt-2" v-show="! photoPreview">
                                        <img :src="user.profile_photo_url" :alt="user.name" class="" width="150" >
                                    </div>
                                     
                                    <input type="file" hidden class="form-control hidden" ref="photo" @change="updatePhotoPreview">

                                     <jet-secondary-button class="mt-2 mr-2" type="button" @click.native.prevent="selectNewPhoto">
                                        Select A New Photo
                                    </jet-secondary-button>

                                    <jet-secondary-button type="button" class="mt-2" @click.native.prevent="deletePhoto" v-if="user.profile_photo_path">
                                        Remove Photo
                                    </jet-secondary-button>

                                     <jet-input-error :message="form.errors.photo" class="mt-2" />
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6 text-center" v-show="photoPreview">                                
                                <img :src="photoPreview" :alt="$page.props.user.name" class="img-circle" width="150" />                        
                            </div>
                        </div>  

                         <jet-action-message :on="form.recentlySuccessful" class="mr-3">Saved.</jet-action-message>  
                          
                         <br>                                                               
                       <button type="submit" :disabled="form.processing" class="btn btn-primary">Save</button>
                   </form>
               </div>
           </div>
       </div>
   </div>
</template>

<script>
    import JetButton from '@/Jetstream/Button'
    import JetFormSection from '@/Jetstream/FormSection'
    import JetInput from '@/Jetstream/Input'
    import JetInputError from '@/Jetstream/InputError'
    import JetLabel from '@/Jetstream/Label'
    import JetActionMessage from '@/Jetstream/ActionMessage'
    import JetSecondaryButton from '@/Jetstream/SecondaryButton'

    export default {
        components: {
            JetActionMessage,
            JetButton,
            JetFormSection,
            JetInput,
            JetInputError,
            JetLabel,
            JetSecondaryButton,
        },

        props: ['user'],

        data() {
            return {
                form: this.$inertia.form({
                    _method: 'PUT',
                    name: this.user.name,
                    email: this.user.email,
                    photo: null,
                }),

                photoPreview: null,
            }
        },

        methods: {
            updateProfileInformation() {
                if (this.$refs.photo) {
                    this.form.photo = this.$refs.photo.files[0]
                }

                this.form.post(route('user-profile-information.update'), {
                    errorBag: 'updateProfileInformation',
                    preserveScroll: true
                });

                 
            },

            selectNewPhoto() {
                this.$refs.photo.click();
            },

            updatePhotoPreview() {
                const reader = new FileReader();

                reader.onload = (e) => {
                    this.photoPreview = e.target.result;
                };

                reader.readAsDataURL(this.$refs.photo.files[0]);
            },

            deletePhoto() {
                this.$inertia.delete(route('current-user-photo.destroy'), {
                    preserveScroll: true,
                    onSuccess: () => (this.photoPreview = null),
                });
            },
        },
    }
</script>
