<template>
      <div class="row">
       <div class="col-12">
           <div class="card">
               <div class="card-body">
                   <h4 class="card-title"> Update Password </h4>
                   <h6 class="card-subtitle">  Ensure your account is using a long, random password to stay secure.  </h6>                  
                   <form class="mt-4" @submit.prevent="updatePassword">
                        <div class="row">
                            <div class="col-sm-12 col-md-6">
                                 <div class="form-group mb-2">
                                    <label for="current_password">Current Password </label>
                                    <input type="password" class="form-control" id="current_password" v-model="form.current_password" autocomplete="current_password">  
                                     <jet-input-error :message="form.errors.current_password" class="text-danger" />                        
                                </div>
                                <div class="form-group mb-2">
                                    <label for="password">New Password </label>
                                    <input type="password" class="form-control" id="password" v-model="form.password" autocomplete="new-password">  
                                     <jet-input-error :message="form.errors.password" class="text-danger" />                        
                                </div>
                                 <div class="form-group mb-2">
                                    <label for="password_confirmation">Confirm Password </label>
                                    <input type="password" class="form-control" id="password_confirmation" v-model="form.password_confirmation" autocomplete="new-password">  
                                     <jet-input-error :message="form.errors.password_confirmation" class="text-danger" />                        
                                </div>
                            </div>                          
                        </div>  

                         <jet-action-message :on="form.recentlySuccessful" class="mr-3">Saved.</jet-action-message>  
                          
                         <br>                                                               
                       <button type="submit" :disabled="form.processing" class="btn btn-primary">Save</button>
                   </form>
               </div>
           </div>
       </div>
   </div>
</template>

<script>
    import JetActionMessage from '@/Jetstream/ActionMessage'
    import JetButton from '@/Jetstream/Button'
    import JetFormSection from '@/Jetstream/FormSection'
    import JetInput from '@/Jetstream/Input'
    import JetInputError from '@/Jetstream/InputError'
    import JetLabel from '@/Jetstream/Label'

    export default {
        components: {
            JetActionMessage,
            JetButton,
            JetFormSection,
            JetInput,
            JetInputError,
            JetLabel,
        },

        data() {
            return {
                form: this.$inertia.form({
                    current_password: '',
                    password: '',
                    password_confirmation: '',
                }),
            }
        },

        methods: {
            updatePassword() {
                this.form.put(route('user-password.update'), {
                    errorBag: 'updatePassword',
                    preserveScroll: true,
                    onSuccess: () => this.form.reset(),
                    onError: () => {
                        if (this.form.errors.password) {
                            this.form.reset('password', 'password_confirmation')
                            this.$refs.password.focus()
                        }

                        if (this.form.errors.current_password) {
                            this.form.reset('current_password')
                            this.$refs.current_password.focus()
                        }
                    }
                })
            },
        },
    }
</script>
