<template>
  <layout>
    <div class="container-fluid">
      <!-- ============================================================== -->
      <!-- Bread crumb and right sidebar toggle -->
      <!-- ============================================================== -->
      <div class="row page-titles">
        <div class="col-md-5 align-self-center">
          <h4 class="text-themecolor">Area</h4>
        </div>
        <div class="col-md-7 align-self-center text-right">
          <div class="d-flex justify-content-end align-items-center">
            <button type="button" class="btn btn-info d-none d-lg-block m-l-15">
              <i class="fa fa-plus-circle"></i> Add New Area
            </button>
          </div>
        </div>
      </div>
      <div class="row">
        <!-- Column -->
        <div class="col-lg-12 col-md-12">
          <form-section @submitted="submit()">
            <template #title>Add New Area</template>
            <template #subtitle> <code>*</code> Required </template>
            <template #form>
              <form-input
                :type="'text'"
                :lable="'Area Name'"
                :placeholder="'Area Name'"
                v-model="form.area_name"
                :customclass="''"
                :error="form.errors.area_name"
                :rowclass="'col-sm-12 col-md-8'"
                :required="true"
              />

              <div class="col">
                <SelectInput
                  v-model="form.disc_id"
                  :label="'District'"
                  :error="form.errors.disc_id"
                >
                  <option
                    v-for="disc in districts"
                    :key="disc.id"
                    :value="disc.id"
                  >
                    {{ disc.name_en }}
                  </option>
                </SelectInput>
              </div>

            </template>

            <template #actions>
              <button
                type="submit"
                class="btn btn-primary"
                :disabled="form.processing"
              >
                <span
                  v-if="form.processing"
                  class="spinner-border spinner-border-sm"
                  role="status"
                  aria-hidden="true"
                ></span>
                <span v-if="form.processing">Loding...</span>
                <span v-else>Submit</span>
              </button>
              <button
                type="button"
                @click="resetFrom()"
                class="btn btn-inverse"
              >
                Cancel
              </button>
            </template>
          </form-section>
        </div>
        <!-- Column -->
      </div>

      <right-side-bar />
    </div>
  </layout>
</template>


<script>
import Layout from "@/Layouts/Layout";
import RightSideBar from "@/Layouts/partial/RightSideBar";
import FormSection from "@/components/FormSection";
import FormInput from "@/components/FormControl/Input";
import SelectInput from '@/components/FormControl/SelectInput.vue'

export default {
  components: {
    Layout,
    RightSideBar,
    FormSection,
    FormInput,
    SelectInput,
  },

  props:[
        'errors', 'districts', 'errors', 'editarea',
    ],


  data() {
    return {
      form: this.$inertia.form({
        id: null,
        area_name: "",
        disc_id:" ",
      }),
    };
  },
  mounted() {
    if (this.editarea != null) {
      this.form.id = this.editarea.id;
      this.form.area_name = this.editarea.area_name;
      this.form.disc_id = this.editarea.disc_id;
    }
  },
  methods: {
    submit() {
      if (this.form.id != null) {
        return this.update();
      } else {
        return this.store();
      }
    },
    store() {
      this.form.post(route("area.store"), {
        // errorBag: 'submit',
        preserveScroll: true,
        onSuccess: () => {
          this.form.reset();
          this.$swal({
            toast: true,
            title: "Transaction successfully!",
            // text : 'Please check the details that you provided!',
            icon: "success",
            position: "top-end",
            timer: 3000,
            timerProgressBar: true,
          });
        },
        onError: () => {
          this.$swal({
            toast: true,
            title: "Something went wrong!",
            // text : 'Please check the details that you provided!',
            icon: "error",
            position: "top-end",
            timer: 3000,
            timerProgressBar: true,
          });
        },
      });
    },
    update() {
      this.form.put(route("area.update"), {
        // errorBag: 'submit',
        preserveScroll: true,
        onSuccess: () => {
          this.form.reset();
          this.$swal({
            toast: true,
            title: "Transaction successfully!",
            // text : 'Please check the details that you provided!',
            icon: "success",
            position: "top-end",
            timer: 3000,
            timerProgressBar: true,
          });
        },
        onError: () => {
          this.$swal({
            toast: true,
            title: "Something went wrong!",
            // text : 'Please check the details that you provided!',
            icon: "error",
            position: "top-end",
            timer: 3000,
            timerProgressBar: true,
          });
        },
      });
    },
    resetFrom() {
      this.form.reset();
      this.form.errors = {};
    },
  },
};
</script>
