<template> 
    <div class="card border-dark w-100">
        <div class="card-header bg-dark">
            <h4 class="m-b-0 text-white"><slot name="title"></slot></h4>
            
        </div>
        <div class="card-body">
            <h5 class="card-title text-muted"><slot name="description"></slot></h5>
            <p class="card-text"></p>         
             <slot name="content"></slot>
        </div>
    </div>
</template>

<script>
    import JetSectionTitle from './SectionTitle'

    export default {
        components: {
            JetSectionTitle,
        }
    }
</script>
