<template>
  <layout> 
    <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                        <h4 class="text-themecolor">Users</h4>
                    </div>
                    <div class="col-md-7 align-self-center text-right">
                        <div class="d-flex justify-content-end align-items-center">
                            <!-- <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                                <li class="breadcrumb-item active">Dashboard 4</li>
                            </ol> -->
                            <button type="button" class="btn btn-info d-none d-lg-block m-l-15"><i class="fa fa-plus-circle"></i> Add New User</button>
                        </div>
                    </div>
                </div>              
                <div class="row">
                    <!-- Column -->
                    <div class="col-lg-12 col-md-12">
                        <form-section @submitted="submit()">
                            <template #title>Add New User</template>
                            <template #subtitle> <code>*</code> Required  </template>
                            <template #form>
                                <form-input :type="'text'" :lable="'First Name'" :placeholder="'First Name'" v-model="form.first_name" :customclass="''" :error="form.errors.first_name" :rowclass="'col-sm-12 col-md-8'" :required="true" />
                                <form-input :type="'text'" :lable="'Last Name'" :placeholder="'Last Name'" v-model="form.last_name" :customclass="''" :error="form.errors.last_name" :rowclass="'col-sm-12 col-md-8'" :required="true"/>
                                <form-input :type="'text'" :lable="'Username'" :placeholder="'Username'" v-model="form.username" :customclass="''" :error="form.errors.username" :rowclass="'col-sm-12 col-md-8'" :required="true" />
                                <form-input :type="'email'" :lable="'Email'" :placeholder="'Email'" v-model="form.email" :customclass="''" :error="form.errors.email" :rowclass="'col-sm-12 col-md-8'" :required="true" />
                                <form-input :type="'password'" :lable="'Password'" ref="password" :placeholder="'Password'" v-model="form.password" :customclass="''" :error="form.errors.password" :rowclass="'col-sm-12 col-md-8'" :required="true" />
                                <form-input :type="'password'" :lable="'Confirm Password'" :placeholder="'Confirm Password'" v-model="form.password_confirmation" :customclass="''" :error="form.errors.password_confirmation" :rowclass="'col-sm-12 col-md-8'" :required="true" />
                                <form-input :type="'number'" :lable="'Mobile'" :placeholder="'Mobile'" v-model="form.mobile" :customclass="''" :error="form.errors.mobile" :rowclass="'col-sm-12 col-md-8'" :required="true" />
                            </template>

                            <template #actions>                                
                                <button type="submit"  class="btn btn-primary" :disabled="form.processing"> 
                                    <span v-if="form.processing" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>  
                                    <span v-if="form.processing">Loding...</span>
                                    <span v-else>Submit</span>

                                </button>
                                <button type="button" @click="resetFrom()" class="btn btn-inverse">Cancel</button>                                
                            </template>
                        </form-section>

                        <!-- <form @submit.prevent="submit()">
                             
                            <form-input :type="'text'" :lable="'First Name'" :placeholder="'First Name'" v-model="form.first_name" :customclass="''" :error="errors.first_name" :rowclass="'col-sm-12 col-md-8'" />
                            <form-input :type="'text'" :lable="'Last Name'" :placeholder="'Last Name'" v-model="form.last_name" :customclass="''" :error="errors.last_name" :rowclass="'col-sm-12 col-md-8'" />
                            <form-input :type="'email'" :lable="'Email'" :placeholder="'Email'" v-model="form.email" :customclass="''" :error="errors.email" :rowclass="'col-sm-12 col-md-8'" />
                            <form-input :type="'password'" :lable="'Password'" :placeholder="'Password'" v-model="form.password" :customclass="''" :error="errors.password" :rowclass="'col-sm-12 col-md-8'" />
                            <form-input :type="'password'" :lable="'Confirm Password'" :placeholder="'Confirm Password'" v-model="form.password_confirm" :customclass="''" :error="errors.password_confirm" :rowclass="'col-sm-12 col-md-8'" />
                            <form-input :type="'text'" :lable="'Mobile'" :placeholder="'Mobile'" v-model="form.mobile" :customclass="''" :error="errors.mobile" :rowclass="'col-sm-12 col-md-8'" />
                                                    
                            <button type="submit"  class="btn btn-primary">Submit</button>
                            <button type="reset" class="btn btn-inverse">Cancel</button>                                
                           
                        </form> -->
                    </div>
                    <!-- Column -->
                </div>
               
                <right-side-bar/>
                
               
    </div>      
  </layout>
</template>


<script>
import Layout from '@/Layouts/Layout' 
import RightSideBar from '@/Layouts/partial/RightSideBar'
import FormSection from '@/components/FormSection'
import FormInput from '@/components/FormControl/Input'
 

export default {
    components:{
        Layout,
        RightSideBar, 
        FormSection,
        FormInput
              
    },
    
    props:{
        errors: {
            type: Object,
            required: false
        },
        edituser: {
            type: Object,
            required: false
        },
    },

    data(){
        return {
            form: this.$inertia.form({
                    id: null,
                    first_name: '',
                    last_name: '', 
                    username:'',
                    email:'',
                    password:'',
                    password_confirmation:'',
                    mobile:'',                     
                })
        }
    },
    mounted(){
       if(this.edituser!=null){
           this.form.id = this.edituser.id;
           this.form.first_name = this.edituser.first_name;
           this.form.last_name = this.edituser.last_name;
           this.form.username = this.edituser.username;
           this.form.email = this.edituser.email;
           this.form.mobile = this.edituser.mobile;
       }
    },
    methods:{    
        submit(){ 
            if(this.form.id!=null){
               return this.update();
            }else{
                 this.form.post(route('user.store'), {
                    // errorBag: 'submit',
                    preserveScroll: true,
                    onSuccess: () => {
                        this.form.reset()                            
                             this.$swal({
                                toast: true,
                                title :'Transaction successfully!',
                                // text : 'Please check the details that you provided!',
                                icon: 'success',                                
                                position: 'top-end',
                                timer: 3000,  
                                timerProgressBar: true,                              
                            });
                        },
                    onError: () => {                         
                        this.$swal({
                                toast: true,
                                title :'Something went wrong!',
                                // text : 'Please check the details that you provided!',
                                icon: 'error',                                
                                position: 'top-end',
                                timer: 3000,  
                                timerProgressBar: true,                              
                            });
                        
                        if (this.form.errors.password) {
                            this.form.reset('password', 'password_confirmation')
                            this.$refs.password.focus()
                        }

                        if (this.form.errors.current_password) {
                            this.form.reset('current_password')
                            this.$refs.current_password.focus()
                        }
                    }
                })
            }
        },
        update(){
             this.form.put(route('user.update'), {
                    // errorBag: 'submit',
                    preserveScroll: true,
                    onSuccess: () => {
                        this.form.reset()                            
                             this.$swal({
                                toast: true,
                                title :'Transaction successfully!',
                                // text : 'Please check the details that you provided!',
                                icon: 'success',                                
                                position: 'top-end',
                                timer: 3000,  
                                timerProgressBar: true,                              
                            });
                        },
                    onError: () => {                         
                        this.$swal({
                                toast: true,
                                title :'Something went wrong!',
                                // text : 'Please check the details that you provided!',
                                icon: 'error',                                
                                position: 'top-end',
                                timer: 3000,  
                                timerProgressBar: true,                              
                            });
                        
                        if (this.form.errors.password) {
                            this.form.reset('password', 'password_confirmation')
                            this.$refs.password.focus()
                        }

                        if (this.form.errors.current_password) {
                            this.form.reset('current_password')
                            this.$refs.current_password.focus()
                        }
                    }
                })
        },
        resetFrom(){
            this.form.reset();
            this.form.errors={};
        }
    }
}
</script>
