<template>
  <div>
    <!-- <div class="preloader">
        <div class="loader">
            <div class="loader__figure"></div>
            <p class="loader__label">DUTHAYA.LK</p>
        </div>
    </div> -->
    
     <main>
        <slot></slot>
    </main>
  
    <!-- <footer/> -->

  </div>
</template>

<script>
 
export default {
 

}
</script>
 