<template>
    <login-layout>
       
        <section id="wrapper">
            <div class="login-register" style="background-image:url(/assets/images/background/login-register.jpg);">
                <div class="login-box card">
                    <div class="card-body">                         
                        <form class="form-horizontal form-masterial" @submit.prevent="submit">
                            <h3 class="text-center m-b-20">Sign In</h3>
                            <jet-validation-errors class="mb-4" />
                            <div class="form-group ">
                                <div class="col-xs-12">
                                    <input class="form-control" type="email"  v-model="form.email" required autofocus placeholder="Email"> </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <input class="form-control" type="password" v-model="form.password" required autocomplete="current-password" placeholder="Password"> </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-12">
                                    <div class="d-flex no-block align-items-center">
                                        <div class="custom-control custom-checkbox">
                                            <input id="customCheck1" type="checkbox" class="custom-control-input" v-model="form.remember">
                                            <label class="custom-control-label" for="customCheck1">Remember me</label>
                                        </div> 
                                        <div class="ml-auto">
                                            <a v-if="canResetPassword" :href="route('password.request')" class="text-muted"><i class="fas fa-lock m-r-5"></i> Forgot pwd?</a> 
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group text-center">
                                <div class="col-xs-12 p-b-20">
                                    <button class="btn btn-block btn-lg btn-info btn-rounded" :class="{ 'disabled': form.processing }" type="submit" :disabled="form.processing">Log In</button>
                                </div>
                            </div>
                            <!-- <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12 m-t-10 text-center">
                                    <div class="social">
                                        <button class="btn  btn-facebook" data-toggle="tooltip" title="Login with Facebook"> <i aria-hidden="true" class="fab fa-facebook-f"></i> </button>
                                        <button class="btn btn-googleplus" data-toggle="tooltip" title="Login with Google"> <i aria-hidden="true" class="fab fa-google-plus-g"></i> </button>
                                    </div>
                                </div>
                            </div> -->
                            <!-- <div class="form-group m-b-0">
                                <div class="col-sm-12 text-center">
                                    Don't have an account? <a href="pages-register.html" class="text-info m-l-5"><b>Sign Up</b></a>
                                </div>
                            </div> -->
                        </form>                        
                    </div>
                </div>
            </div>
        </section>
    </login-layout>
</template>

<script>
  
    import LoginLayout from '@/Layouts/LoginLayout'
    import JetValidationErrors from '@/Jetstream/ValidationErrors'


    export default {
        components: {
            LoginLayout,
            JetValidationErrors,          
        },

        props: {
            canResetPassword: Boolean,
            status: String
        },

        data() {
            return {
                form: this.$inertia.form({
                    email: '',
                    password: '',
                    remember: false
                })
            }
        },

        methods: {
            submit() {
                this.form
                    .transform(data => ({
                        ... data,
                        remember: this.form.remember ? 'on' : ''
                    }))
                    .post(this.route('login'), {
                        onFinish: () => this.form.reset('password'),
                    })
            }
        }
    }
</script>
<style>

@import url(https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700);

.login-register {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100%;
  width: 100%;
  padding: 10% 0;
  position: fixed; }

.login-box {
  width: 400px;
  margin: 0 auto; }
  .login-box .footer {
    width: 100%;
    left: 0px;
    right: 0px; }
  .login-box .social {
    display: block;
    margin-bottom: 30px; }

#recoverform {
  display: none; }

.login-sidebar {
  padding: 0px;
  margin-top: 0px; }
  .login-sidebar .login-box {
    right: 0px;
    position: absolute;
    height: 100%; }

</style>