<template>
     <login-layout>
       
        <section id="wrapper">
            <div class="login-register" style="background-image:url(/assets/images/background/login-register.jpg);">
                <div class="login-box card">
                    <div class="card-body"> 
                         <div class="mb-4 text-sm text-gray-600">
                            <template v-if="! recovery">
                                Please confirm access to your account by entering the authentication code provided by your authenticator application.
                            </template>

                            <template v-else>
                                Please confirm access to your account by entering one of your emergency recovery codes.
                            </template>
                        </div>                        
                        <form class="form-horizontal" @submit.prevent="submit">
                            <!-- <h3 class="text-center m-b-20">Sign In</h3> -->
                            <jet-validation-errors class="mb-4" />
                            <div  v-if="! recovery" class="form-group ">
                                <div class="col-xs-12">
                                    <input class="form-control" type="text"  ref="code" id="code" v-model="form.code" autofocus autocomplete="one-time-code"> </div>
                            </div>
                            <div  v-else class="form-group ">
                                <div class="col-xs-12">
                                    <input class="form-control" type="text" ref="recovery_code" id="recovery_code"  v-model="form.recovery_code" autocomplete="one-time-code"> </div>
                            </div>
                            
                            <div class="form-group row">
                                <div class="col-md-12">  
                                        <div class="ml-auto">
                                            <a @click.prevent="toggleRecovery"  class="text-muted">
                                                     <template v-if="! recovery">
                                                        Use a recovery code
                                                    </template>

                                                    <template v-else>
                                                        Use an authentication code
                                                    </template>
                                             </a> 
                                        </div>
                                     
                                </div>
                            </div>
                            <div class="form-group text-center">
                                <div class="col-xs-12 p-b-20">
                                    <button class="btn btn-block btn-lg btn-info btn-rounded" :class="{ 'disabled': form.processing }" type="submit" :disabled="form.processing">Log In</button>
                                </div>
                            </div>                          
                        </form>                        
                    </div>
                </div>
            </div>
        </section>
    </login-layout>
</template>

<script>
    
    import JetValidationErrors from '@/Jetstream/ValidationErrors'
    import LoginLayout from '@/Layouts/LoginLayout'

    export default {
        components: {           
            JetValidationErrors,
            LoginLayout,
        },

        data() {
            return {
                recovery: false,
                form: this.$inertia.form({
                    code: '',
                    recovery_code: '',
                })
            }
        },

        methods: {
            toggleRecovery() {
                this.recovery ^= true

                this.$nextTick(() => {
                    if (this.recovery) {
                        this.$refs.recovery_code.focus()
                        this.form.code = '';
                    } else {
                        this.$refs.code.focus()
                        this.form.recovery_code = ''
                    }
                })
            },

            submit() {
                this.form.post(this.route('two-factor.login'))
            }
        }
    }
</script>
